[2017-05-23 17:23] cleverbeagle opened #1 "PropTypes warning"
An issue is being printed to the console that reads `Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`. This error is coming from the `react-bootstrap` package that's a dependency of Pup.

The authors of this package will need to fix this error and release an update. Once they do, we'll upgrade and this error should be removed.

[2017-05-25 18:59] cleverbeagle opened #2 "Mocks library"
There's a lot of internal code for Meteor that will need mocking. There are quite a few third-party solutions to this already, but they're a bit piecemeal. It'd be best to sample from these existing implementations and combine them into something that we can manage and expand under Pup.

Need mocking for:
- Meteor internals (e.g., Meteor.users, Accounts, etc) <-- the "big one"
- Mocking MongoDB co

[2017-05-25 19:01] cleverbeagle opened #3 "Unit tests"
Add unit tests for Pup features (where it makes sense) and ensure we have clear documentation for how these work and how developers can expand upon them.

[2017-05-25 19:01] cleverbeagle opened #4 "Integration tests"
Add integration tests for Pup features (where it makes sense) and ensure we have clear documentation for how these work and how developers can expand upon them. It may be helpful to include an example of a third-party module (e.g., GitHub API) being integrated into some code and show how to mock it, etc.

[2017-05-25 19:02] cleverbeagle opened #5 "Acceptance tests"
Add acceptance tests for Pup features (where it makes sense) and ensure we have clear documentation for how these work and how developers can expand upon them. This will rely heavily on Enzyme.

[2017-05-31 16:47] cleverbeagle opened #6 "Remove "In Progress" flag next to tests feature in docs"
Once we've got a basic set of tests up and running, make sure to remove the "Planned" flag on the http://cleverbeagle.com/pup/v1/introduction page.

[2017-05-31 19:04] cleverbeagle opened #7 "Make checklists in docs actually persist"
Right now the checkboxes next to checklist items are just for show. Would be neat if these actually persisted in local storage so you could come back later.

[2017-06-14 16:37] sczk commented on #1
The console warning went away for me after switching the PropTypes imports from the 'react' package to the 'prop-types' package in [Authenticated.js](https://github.com/cleverbeagle/pup/blob/b0270cc98b03582c7eb9eaea2a4bd7f08e143541/imports/ui/components/Authenticated/Authenticated.js#L1) and [Public.js](https://github.com/cleverbeagle/pup/blob/b0270cc98b03582c7eb9eaea2a4bd7f08e143541/imports/ui/co

[2017-06-14 16:43] #1 closed

[2017-06-14 16:43] cleverbeagle commented on #1
@sczk thanks for pointing this out. Fixed in 1.0.1.

[2017-06-19 20:40] sw-yx opened #8 "found a very weird bug when modifying pup, how do i diagnose what is wrong?"
so i have been trying to modify pup to merge the New Document and Edit document pages into basically one Upsert document page (since the editor is the exact same i figured it would be easy) but it is very strange: when I merge them (this potentially supplying a `doc` that is `null`) the fields have their `defaultValue` populated correctly but they arent _displaying_ in the actual browser. I have g

[2017-06-21 06:15] sw-yx opened #9 "deployment issue"
trying to deploy Pup to heroku and i got this error:

[code]

even though i have set my `settings-production.json` file it is running into this ugly error. what else is causing this issue?

[2017-06-21 06:30] sw-yx commented on #9
in case it matters, i am using this buildpack: https://github.com/AdmitHub/meteor-buildpack-horse

[2017-06-21 20:46] justin88 opened #10 "Typo in File Structure documentation"
The section titled settings-production.json talks about "staging" when instead it should be "production".

Note that there are two instances of "staging" that should be changed.

http://cleverbeagle.com/pup/v1/file-structure

[2017-06-22 07:57] juanmafont opened #11 "Building for mobile got 'Starting app' till the infinite"
**(UPDATE--UPDATE)**

**PUP for Mobile**

Note: Previously, I had install: https://dl.google.com/android/repository/tools_r25.2.3-linux.zip android sdk tools, to avoid this issue (linux and mac)
meteor/meteor#8464

**SOLUTION FOR development/debug MODE**

**meteor build ../out_apk  --debug  --verbose   --server=192.168.43.20:3000**
(note: change 192.168.43.20 by your local ip)

Then copy into mobi

[2017-06-23 14:00] Davidlab commented on #9
You need to start Meteor with `npm start` which will in return will call the command `meteor --settings settings-development.json` from the start script in your package.json file. This will set the value of 'OAuth' during startup.

[2017-06-23 14:10] sw-yx commented on #9
thats obviously only for running it in dev on local machine right? what about when i need to run it in production on heroku. that is what i call deployment.

[2017-06-24 00:06] justin88 commented on #9
Did you write your own settings-production.json?  See details here:

- http://cleverbeagle.com/pup/v1/the-basics/settings
- http://cleverbeagle.com/pup/v1/file-structure

[2017-06-25 04:01] joserocha3 opened #12 "documents.insert causes ViewDocument to render without new document ID"
The console throws an error because `doc` is a required prop of `ViewDocument` and the `return` statement setup causes `ViewDocument` to render before the new ID is truly returned. There is a subsequent render after the erroneous one that passing in the `doc` prop so the app still functions.

I am not enough of an *expert* to know if what I did is the correct fix, but here is it:

**Error in conso

[2017-06-26 01:55] sw-yx commented on #9
hello, yes, i did write my own settings-production.json. however it seemed like it wasnt deploying correctly on heroku. i havent managed to figure out how to fix it the "correct" way but i have commented out the oauth check for now in pup.

[2017-06-26 02:06] joserocha3 commented on #9
@sw-yx did you add a config variable for METEOR_SETTINGS to your app on the heroku dashboard?

Choose your app -> settings -> reveal config vars ->  add METEOR_SETTINGS and paste in the json from your settings file

![screenshot_20170625-210543](https://user-images.githubusercontent.com/11415340/27522256-30239882-59ea-11e7-8137-45e86e410c6a.png)

[2017-06-26 02:26] joserocha3 commented on #9
On a side note, of you are not going to enter oauth values the set your METEOR_SETTINGS to this. That will avoid the oauth buttons from getting a setup.

`{
  "private": {
  },
  "public" :{
  }
}`

[2017-06-26 04:03] sw-yx commented on #9
ahh. i will try this. this sounds very promising. thanks very much @joserocha3, closing for now. may want to put this (Heroku deployment notes) somewhere in the docs (maybe its obvious and i'm just a newbie).

[2017-06-26 04:03] #9 closed

[2017-06-26 04:45] justin88 commented on #12
I'm getting the same warning in the console.  This code doesn't solve the issue.

To test, make sure the documents are empty when adding a document.  (Adding a second or third etc document does not trigger the warning.)

[2017-06-27 10:39] cleverbeagle commented on #8
@sw-yx I'm not entirely sure, but this may be a React gotcha. If you switch the `defaultValue` prop to just be `value`, do the fields fill as expected? If so, the inputs may need to be switched to "controlled" inputs, meaning, instead of relying on a `defaultValue` prop, you use a `value` and an `onChange` prop and set the values on state.

If the switch from `defaultValue` to `value` works, let m

[2017-06-27 10:41] cleverbeagle commented on #10
Corrected, thanks :)

[2017-06-27 10:41] #10 closed

[2017-06-27 10:51] #12 closed

[2017-06-27 10:53] cleverbeagle commented on #12
Fixed. A simple `doc: Documents.findOne(documentId) || {},` in the container did the trick. The `{}` is enough buffer to not trip the prop type error when transitioning to the ViewDocument page.

[2017-06-27 10:58] cleverbeagle commented on #11
@juanmafont it sounds like you were able to resolve this, but I agree, this deserves some documentation. Is the primary issue that the application needs to be signed when built before use locally or uploading to the Play Store?

P.S. Closing this for now but if you can clarify please add an additional comment.

[2017-06-27 10:58] #11 closed

[2017-07-02 11:29] juanmafont opened #13 "For mobile, must add whitelist to show puppy image and load css from external sources"
If you try build for mobile don't forget add whitelist to load external sources need it by Pup.

Example of mobile-config.js:

[code]

Suppose, you have mondoDB into mlab server and your meteor server app into heroku.
The build command example will be(debug mode):

`MONGO_URL=mongodb://user:password@ds135532.mlab.com:35532/meteor meteor build ../out_apk  --debug --verbose --server=https://test-pup

[2017-07-03 13:16] #8 closed

[2017-07-03 13:17] cleverbeagle commented on #13
Hi @juanmafont thanks for this. I'm going to close this out but want to keep it around for others who may need the info.

[2017-07-03 13:17] #13 closed

[2017-07-03 21:13] sw-yx commented on #8
@cleverbeagle sorry i havent had time to test this out - will come back again if this is a more pressing issue. thanks for your response nevertheless!

[2017-07-05 12:35] zeiitoun opened #14 "Login attempt rerendering the login.js page ?"
Is it an expected behavior that a fail attempt to login rerender the login.js page ?
(Meaning that what you typed dissapear and make the page blink..)

[2017-07-05 13:19] cleverbeagle commented on #14
Not sure I understand, can you provide a video of what's happening? Technically speaking, no, the page shouldn't be blinking. If a login attempt fails, you should see a message and remain on the login page until you can successfully login.

[2017-07-05 13:27] joserocha3 commented on #14
I noticed this as well. It appears that the form submit causes the Public component to recreate the Login component. You do get the Bert alert, but the page completely re-renders which resets the form fields.

[2017-07-05 13:29] zeiitoun commented on #14
You do remain on the login page, but react will render the component login another time, loosing any information in the inputs, making the login form dissapearand appear again. (which means for example if you had to scroll to login, you will be back at the top of the page)

http://imgur.com/a/83EY5

here is a small gif of what's happening. The login wasn't re-rendering in base, that's why I asked

[2017-07-05 13:32] cleverbeagle commented on #14
Ah, I see what you're getting at. I'll take a look :)

[2017-07-05 13:50] zeiitoun commented on #14
Caused because the prop **loggingIn** is changing to true during login attempt, making the public component to return a simple <div /> because of this condition in the public component :

`if (loggingIn) return <div />;`

[2017-07-09 22:37] #14 closed

[2017-07-10 11:17] toinevk opened #15 "OAuth Callback"
I noted that currently for OAuth the callback function (in OAuthLoginButton) only sends a message during failure and does nothing during success (e.g. push to /documents). Is that intentional or am I missing something obvious? I would've thought it would be desirable to have the OAuth logins/signup consistently show a message / push to /documents as well.

Thanks, I appreciate the insight.

[2017-07-10 14:30] firrae opened #16 "Import and document usage of onCreateUser hook (in /imports/startup/server/accounts/on-create-user.js)"
Hey there,

Just moving some of my code from my prototype to this as the base (your login/signup is much nicer than the thing I built!) and I noticed that by default the on-user-create.js file isn't imported anywhere in the base template meaning the code is never actually executed. Not sure if this is meant or not but I didn't see it documented anywhere so I figured I'd mention it.

Maybe I missed

[2017-07-10 14:42] cleverbeagle commented on #15
@toinevk to make sure I understand, when you login via OAuth, are you not being redirected to `/documents`? This is the intended behavior, however, in the case of Pup the redirect for OAuth's isn't handled in the button callback but in the `/imports/ui/components/Public/Public.js` component (it redirects away from public pages to `/documents` if it sees a logged-in user).

[2017-07-10 14:44] cleverbeagle commented on #16
@firrae nope, you're right, this is an oversight! I'm struggling to remember, but I think I'd added this as an example of using the `onCreateUser` hook and then forgot to document/import it into `/imports/startup/server/accounts/index.js`.

Good catch :) Going to flag this as a refactor task.

[2017-07-10 15:32] mhurwi commented on #3
Hi, I love this project, thank you for it.

I'd love to get started with some React component tests, but Jest does not seem to be transpiling the jsx properly.

My test:

[code]

And the jest output:

[code]

Maybe I'm missing some babel config somewhere?

[2017-07-10 16:56] firrae commented on #16
That's all I did and it's all good.

[2017-07-11 12:24] toinevk commented on #15
I've tried reproducing with a fresh copy of pup but haven't been able to. Must have made a change that was interfering with the public component somehow.  Thanks :)! The boilerplate is great by the way.

[2017-07-11 12:24] #15 closed

[2017-07-12 01:38] cleverbeagle commented on #3
@mhurwi good to hear you got it working. I haven't gone too far beyond just some initial play to get things working with Jest but the above edit looks in line with my own work. If you come across any other gotchas and are willing to share, please do :)

[2017-07-12 14:10] zeiitoun opened #17 "Refactor profile updates to handle password change on client with Accounts.changePassword()"
Just saw that the current password retrieved from the form is never used in the profile page. (to modify your password)

Would be interesting to send the hashed password to check it in the meteor call, instead of just overriding it with the new one.

[2017-07-12 14:33] cleverbeagle commented on #17
@zeiitoun good catch! The password step should probably be moved to the client so we can leverage this method: https://docs.meteor.com/api/passwords.html#Accounts-changePassword.

[2017-07-12 14:36] Here21 opened #18 "npm run has some problem"
I complete following the "Getting Started", but when I get to `npm start`, I saw the following information.

[code]

[2017-07-12 15:01] cleverbeagle commented on #18
@Here21 this seems to be a network error when trying to download one of Pup's dependencies:

[code]

It's worth trying the startup process again. If it doesn't work, it may be worth trying the `HTTP_PROXY` flag specified here. If you keep having trouble, let me know.

[2017-07-13 02:21] cleverbeagle opened #19 "Add support for onClick handler in Icon component"
This has come up in a few tutorials now and makes sense as a permanent feature.

[2017-07-13 16:23] cleverbeagle opened #20 "Add support for lodash"
Should also see where it's possible to swap out underscore usage.

[2017-07-17 15:07] cleverbeagle opened #21 "Add support for email verification"
This comes up far too often and is common in nearly all products. Need to implement a simple verification flow and display a message to users in the app until they verify.

[2017-07-17 15:08] cleverbeagle commented on #19
Careful with this one as it causes a minor accessibility issue involving adding interactivity to static elements.

[2017-07-19 09:14] juanmafont opened #22 "How add fix size to a Container ?"
I'm trying to add a google-maps-react to pup, using [https://github.com/istarkov/google-map-react] (Test outside Pup all goes ok, but inside Pup the map is no showed, I think because the "container"  has not a fix size (and maps needs his parent have a fix size, or maps goes 0x size)

 I try add a SimpleMap.scss file like this to component:

[code]

 But without results....  Another idea, thanks ?

[2017-07-19 12:06] cleverbeagle commented on #22
Difficult to tell. If you remove the `createContainer()` wrapper, do you see the `SimpleMap` component? There's nothing terribly special about that that should be blocking the render. I'd also double check the browser console for any errors.

[2017-07-19 15:05] juanmafont commented on #22
Yes is very dificult. Copy the same component (SimpleMap.js) using the most basic example, like this -> [](https://github.com/juanmafont/GoogleMapReact) is OK.

  It is like no CSS applicate to SimpleMap  (I have two files, with same content, SimpleMap.css and SimpleMap.scss )

[code]

[2017-07-19 16:06] juanmafont commented on #22
Yeaaaahhh ¡¡¡¡   It was my fault...

   I have NOT import SimpleMap.scss

  I have got forgot add line:

` import './SimpleMap.scss';`

to my SimpleMap.js component...

  Sorry by your time

[2017-07-19 16:08] #22 closed

[2017-07-25 15:50] zeiitoun opened #23 "Required object in pages retrieving from database throw a warning"
Currently, when you try to access a document by typing random id (localhost:3000/documents/sdqlifhqsdhlfh/edit) for example, you will get this warning :

(Removing the required type of the proptypes and setting a default value would fix it ? is it the cleanest way ?)

[2017-07-25 15:55] zeiitoun opened #24 "Remove fetchMethodNames method in /imports/modules/rate-limit.js"
You can directly access the methods name by using the property methods :

name(name) { return _.contains(methods, name); },

[2017-07-26 15:45] cleverbeagle commented on #23
Hmm. This is the intended behavior, but for the sake of cleanliness you're right. Off-hand this should be handled via the default value.

[2017-07-26 15:46] cleverbeagle commented on #24
Can you provide more detail here? I don't see where the `methods` property is coming in from your example...

[2017-07-26 15:47] #18 closed

[2017-07-27 02:32] zerkz commented on #16
Ran into this myself! but figured it out and just imported it.

[2017-07-27 07:43] zeiitoun commented on #24
Directly from the assignLimits constant.

[code]

This is not working : (no need to fetch the method names, it's already there)

`const methodNames = fetchMethodNames(methods);`

[2017-07-31 10:47] pilarArr opened #25 "Document ESLint usage and configuration"
I'm not sure if this goes here, but this link (http://cleverbeagle.com/pup/v1/the-basics/linting) is not working.
It's located in File Structure, on the paragraph on `package.json`

[2017-07-31 13:39] cleverbeagle commented on #25
Hi @pilarArr this is the correct spot. I intended to do a section on linting but left it out for now so this link shouldn't be here. Just corrected this.

Side note: if you're curious about linting and how it works in Pup, let me know and I can bump this up in the list of things to expand on.

[2017-07-31 18:30] pilarArr commented on #25
Hi @cleverbeagle,

I am curious about linting, I've started linting recently. I've tried different linters and I wanted to use esLint but it looked too advanced for me. The configuration that you have in pup works perfectly for me so I can finally use esLint. I've been reading stuff and I wanted to see what you had to say about it so an article on linting would be nice, your docs on pup are amazin

[2017-08-01 12:20] cleverbeagle commented on #25
@pilarArr got it. I'll convert this issue to remind me to write something on linting.

Re: email verification, you're in luck as this is coming in the 1.1.0 release that I'm working on this morning. User management is in the works, too, but for a pro version of Pup coming out later this year.

[2017-08-01 15:28] #16 closed

[2017-08-01 15:28] #17 closed

[2017-08-01 15:28] #20 closed

[2017-08-01 15:28] #21 closed

[2017-08-01 15:28] #23 closed

[2017-08-01 15:28] #24 closed

[2017-08-01 20:15] cleverbeagle commented on #19
Going to close this out as it breaks a11y unnecessarily. Easier to do it on a case-by-case basis using a button element wrapping the icon.

[2017-08-01 20:15] #19 closed

[2017-08-01 20:16] cleverbeagle opened #26 "Pull actual code from GitHub in docs"
To ensure that the documentation stays in sync with the repo, it'd be nice if we could just specify a file path on GitHub and load the raw content of the file into the docs. This way we don't have to fight with manually updating snippets/things getting out of date.

[2017-08-02 12:47] pilarArr opened #27 "Fix method name for send verification link in the rate limiter"
The method to send verification link has a different name in the rate limiter.

https://github.com/cleverbeagle/pup/blob/master/imports/api/Users/server/methods.js#L32

[2017-08-02 12:51] cleverbeagle commented on #27
Good catch, @pilarArr. This is a typo.

[2017-08-03 09:06] pilarArr opened #28 "Fix email verification being displayed for OAuth logins and re-verify new email address when updating in profile"
I noticed that when you change the email in the profile page, it doesn't prompt you to verify that email since it only changes the address field and the verified stays true.

Also when you log in with Facebook or Google. It prompts you send a verification email to an empty field. I'm not sure what would be the way around that. If assuming the email if already verified by Facebook or re check the v

[2017-08-03 10:17] Raidus opened #29 "Fix @cleverbeagle deps breaking startup"
Hi there!

I'm trying to install pup but I'm getting the following error:

[code]
Are there any issues for NPM 5.3.0 and Node v8.2.1 which I'm using? My operating system  ist OSX Sierra 10.12.6

**NOTE:**
Afterremoving **cleverbeagle/seeder** & **cleverbeagle/dates** from the package.json, the installation completed.

There might be an issue with these packages and my configuration.

When I'm tryi

[2017-08-03 11:17] Raidus commented on #29
This issue can be solved.

It's an issue related to NPM 5.3.0.

Downgrading to NPM 5.2.0 via `npm install -g npm@5.2.0` fixes the issue.

[2017-08-03 14:31] TAnas0 commented on #29
Hello there,
I am running into the same issue and would appreciate your help.
I am trying to set "pup". I installed all the dependencies and I have run into the same problem you explain in the original post.
I was on the version 5.3.0 of npm, and I downgraded successfullt into the 5.2.0 using the command suggested.
I have also removed both packages @cleverbeagle/dates and @cleverbeagle/seeder from

[2017-08-03 14:51] TAnas0 commented on #29
Hello,
I have solved my issue and successfully accessed the "pup" platform.
What I did was installing both packages cleverbeagle/dates and cleverbeagle/seeder separately using the following commands:

- `meteor npm install --save @cleverbeagle/dates`

- `meteor npm install --save @cleverbeagle/seeder`

I am wondering: should I re-add the dependency in the package.json for these 2 packages?
Anyways

[2017-08-03 16:49] cleverbeagle commented on #29
Thanks for reporting this @Raidus and @TAnas0. I noticed this coming up yesterday, too, when I cloned a copy for another project. Something seems to be out of whack with how those two packages are loaded in the app (no major changes to them recently, so @Raidus your NPM hint is helpful; thank you).

[2017-08-03 16:54] cleverbeagle commented on #28
Good catches @pilarArr! Hadn't even considered how OAuth would treat this. Going to flag this as a bug and patch soon.

[2017-08-05 14:33] Raidus commented on #29
@cleverbeagle just one hint:
I've installed your repo for another project and tried to npm install with npm 5.2.0. Surprisingly I didn't work. After checking the first workflow, I've realized that it only works if I **remove the packages cleverbeagle/seeder and cleverbeagle/dates** manually from the **package.json**. Then `npm install` it. After successfully installing the packages I have to manua

[2017-08-06 15:23] cleverbeagle commented on #29
@Raidus this seems to be the fix. Combined with the version, it looks like there was a blip between the version of those packages in `package.json` vs. the new `package-lock.json` file (introduced in a recent version of NPM—explaining why the downgrade helped earlier). Your suggestion worked and a test clone with a reinstall of the packages seems to do the trick :)

[2017-08-06 15:50] #28 closed

[2017-08-06 15:50] #29 closed

[2017-08-06 15:50] #27 closed

[2017-08-07 22:29] cleverbeagle opened #30 "PWA Support"
Need to be able to meet these requirements: https://developers.google.com/web/progressive-web-apps/checklist.

Of note, the service worker is a no-go in Meteor unless we implement a monkey patch like [this](https://github.com/NitroBAY/meteor-service-worker).

[2017-08-08 11:57] pilarArr opened #31 "User name not showing when logging in with Google"
I believe the code to fix would be [this](https://github.com/cleverbeagle/pup/blob/master/imports/ui/components/OAuthLoginButton/OAuthLoginButton.js#L20), the fix would be to request the `profile` also.

The function that gives and empty value if you log in with Google is [this one](https://github.com/cleverbeagle/pup/blob/master/imports/ui/layouts/App/App.js#L86).

[2017-08-08 12:33] cleverbeagle commented on #31
Hi @pilarArr having trouble confirming this one. When logging in with multiple Google accounts and a fresh `Meteor.users` collection, the username is displaying as expected. Can you provide a screencap/video of what you're experiencing?

![pup-google-login](https://user-images.githubusercontent.com/23730234/29072061-d51fd574-7c0b-11e7-96cb-6f98c17db51d.gif)

[2017-08-08 15:31] pilarArr commented on #31
Hi @cleverbeagle,
Sorry for the delay, this would be the screencap of what I'm seeing, I also deleted the users collection before trying like you said and still nothing. I also tried with different google accounts and still got the same.

![movie1](https://user-images.githubusercontent.com/26302137/29079935-cd8d46cc-7c5e-11e7-87c6-4cb561693818.gif)

[2017-08-08 17:43] cleverbeagle opened #32 "Ensure that props on <Authenticated /> and <Public /> are passed down to rendered component"
Just noticing that the props collected in the `...rest` on `<Authenticated />` are _not_ ultimately passed along to the component being rendered once authentication passes. This appears to be an issue on the `<Public />` component, too.

[2017-08-09 07:15] pilarArr commented on #31
Also this is the entry that is created in the Mongo Collection.
Because my profile is empty every time, the name is always empty and this only happens with Google, with Facebook it works.
![screen region 2017-08-09 at 08 42 08](https://user-images.githubusercontent.com/26302137/29109381-1655bac2-7ce3-11e7-9e95-33ff10211b22.png)

[2017-08-09 07:22] zeiitoun commented on #31
Pretty sure It's because OAuth usez Google (plus) to retrieve first and last name, and you don't have any.

[2017-08-09 14:03] cleverbeagle commented on #31
Interesting! Kind of wonky on Google's part, but makes sense as to why we'd see the difference. I'm not sure if we should qualify this as a bug since it's technically working as expected. Maybe the fix here is to just display the email address if we detect an empty name string?

P.S. @pilarArr and @zeiitoun  do you have an email I can get in touch at (or could you email [ryan.glover@cleverbeagle.c

[2017-08-09 14:37] zeiitoun commented on #31
In the meteor documentation, it's specified that you can add options for google services when you call Meteor.loginWithGoogle. (https://docs.meteor.com/api/accounts.html#Meteor-loginWith\<ExternalService\>)

This options may include Google’s additional URI parameters (https://developers.google.com/identity/protocols/OpenIDConnect#authenticationuriparameters) such as the scope that might be interst

[2017-08-09 19:00] pilarArr commented on #31
I went around this by changing the option `requestPermissions` to `['email', 'profile']`. That fills the profile and fixes the empty name.

I'm not sure everyone wants to have a Google Plus account to sign up with their Google account, seems like an unnecessary extra step to create a Google Plus account just to sing up with Google, but that's just my newbie opinion 😕

P.S. @cleverbeagle I've sent

[2017-08-15 17:39] ChuckIrvine opened #33 "react-bootstrap Form not rendering properly."
If I import the necessary react-bootstrap components and replace the App.js/App function with:
[code]
The form doesn't render per the react-bootstrap component docs. See (https://react-bootstrap.github.io/components.html#forms-inline). Specifically, the ControlLabel components do  not render inline.

[2017-08-15 18:21] cleverbeagle commented on #33
Hi @ChuckIrvine this is due to this style [here](https://github.com/cleverbeagle/pup/blob/master/imports/ui/stylesheets/forms.scss#L7). You'll want to change that to just be `display: inline;` so it doesn't break the inline behavior above. If you're looking to mix and match, you can update the styles here to be:

[code]

This is untested but should work. If it does what you're looking for, can you

[2017-08-15 21:00] ChuckIrvine commented on #33
If I just change the one line to “display: inline;” - that works. However, if I use your style code below, the problem remains. Going with the one liner for now. Thanks a lot. Your code has helped me immensely.

[2017-08-16 13:55] cleverbeagle commented on #33
Okay, good to know. I'll have to see how we can exclude these styles entirely from inline forms so that tweak isn't necessary.

[2017-08-17 14:54] zeiitoun opened #34 "Why is document methods located oustide of the server folder ?"
Since the methods of the documents are imported on the startup of the server :

`import '../../api/Documents/methods';`

Seems clearer to me if the methods are located in the server folder since we don't import this file on client anymore. (Like we used to do with base)

[2017-08-17 17:18] cleverbeagle commented on #34
This is part of the [Meteor Guide structure](https://guide.meteor.com/structure.html). I'm not wholly in agreement with it either, but I'd like to follow that as closely as possible for now to avoid too much variance between Pup/other Meteor code folks might find in the wild (especially TMC tutorials).

[2017-08-17 17:56] zeiitoun commented on #34
Isn't it because meteor tutorial and guide use ValidatedMethod on the methods ? (Which make the call of methods.js from the client mandatory) Like on their todo app ?

I'm a bit skeptical about this, especially if methods.js for Users is located in the server folder.

[2017-08-22 16:00] cleverbeagle commented on #34
That would be a question for the Meteor folks.

As I understand it, it's to keep all of your data-related code under the `/imports/api` directory as splitting it off to the server doesn't serve much utility. In respect to that nested `/server` directory, this takes advantage of Meteor's ability to ensure that code can only be imported into a server context (as opposed to using `Meteor.isServer` ev

[2017-08-23 06:43] pc-magas opened #35 "Error when I build for production: TypeError: Cannot read property 'slice' of null"
I try to build the boilerplate for probuction on a Ubuntu GNU/Linux 16.04 machine. To do that I used these commands:

[code]

Afterwards I went to folder `~/builds` and I did typed these commands:

[code]

The last command (`node main.js`) returns the following error:

[2017-08-24 20:56] cleverbeagle commented on #35
@pc-magas will have to take a look at this. Haven't tried to do any manual builds yet, though, I know this has been deployed into production so likely something small.

[2017-08-25 07:05] pc-magas commented on #35
For what I have found is that if the `ROOT_URL` enviromental variable does not start either with *http://* or *https://* it throws this error.

[2017-08-25 15:52] cleverbeagle commented on #35
Ah, that makes sense. This may be something internal in Meteor getting caught up (we don't fudge with environment variables at all in Pup). The big hint is that the error is coming from Underscore which is used pretty heavily in Meteor internals.

[2017-08-30 13:18] jolesbi opened #36 "Need help with checkboxes"
Thank you so much for open sourcing this boilerplate. I'm really enjoying it and am learning a lot. I'm fairly new when it comes to React and Meteor so my question may be very basic.

How would you recommend adding a `<Checkbox>` to `DocumentEditor.js` for example?

I have a checkbox "working" with Meteor, but relying on `state` for the checkbox leaves the view out of sync when I refresh the page.

[2017-08-31 01:36] cleverbeagle opened #37 "Bump Meteor and NPM dependencies"
@pilarArr this will be for packages only, not the Meteor version (let's keep it at 1.5.0 for now).

[2017-08-31 01:42] cleverbeagle commented on #36
Hi @jolesbi for refs on the `<Checkbox>` component from `react-bootstrap`, you will need to assign those via the prop `inputRef` instead of `ref` ([details available here](https://react-bootstrap.github.io/components.html#forms-props-checkbox)).

[2017-08-31 01:45] cleverbeagle opened #38 "Refactor form inputs to use React Bootstrap <FormControl /> with inputRef props"
This should help us to avoid bare inputs unless absolutely necessary.

[2017-09-02 14:41] 416serg opened #39 "Feature Request: Add Analytics"
Wether it's through `okgrow:analytics` or `react-ga`, I am having difficulties setting it up with React Router v4 😢

[2017-09-04 14:26] acomito commented on #3
I wrote some directions down for setting up enzyme/jest with meteor. It uses MDGs meteor-apollo-startkit repo as an example, but it should translate 100% over to pup.

https://medium.com/@arcomito/setting-up-jest-enzyme-in-a-meteor-js-and-apollo-project-9ceadbcf2fa3

[2017-09-04 16:44] cleverbeagle commented on #39
Hey @416serg, this is on the list :) May end up in Pup Pro, though.

[2017-09-04 16:46] cleverbeagle commented on #3
Thanks @acomito. This is currently backlogged for me but when I sit down to do it I'll take this into account.

P.S. Are you open to doing a PR on this? Willing to pay to get it done properly.

[2017-09-04 22:36] cleverbeagle opened #40 "Make logout happen on logout page"
Right now the logout page is just a stylized way to promote something to users on logout. It'd be neat if this page actually performed the logout event on `componentDidMount()`. This way we could redirect to that page (without having it do so in the `<Authenticated />` component) directly while also getting the desired outcome of logging out.

[2017-09-05 00:28] acomito commented on #3
I think it's not too much more work than adding a babelrc file and the mocks folder. I'll take a look.

[2017-09-05 11:16] cleverbeagle commented on #3
Cool, appreciate it @acomito :)

[2017-09-06 08:32] pilarArr commented on #40
There is this bug related to the logout page. When you log out from the home page `/`, it looks like you don't go through the logout page, unless it's done lightning fast.
![logoutbug mov](https://user-images.githubusercontent.com/26302137/30102026-9e15803e-92ee-11e7-8616-fea5d34b45a5.gif)

[2017-09-06 12:20] cleverbeagle opened #43 "Consider adding an additional example collection to demonstrate relationships"

[2017-09-06 20:11] cleverbeagle commented on #40
Ah, yes. We'd need to double check all of the redirects in the app and avoid direct calls to `Meteor.logout()` otherwise this could get messy.

[2017-09-06 20:48] #36 closed

[2017-09-06 20:49] #33 closed

[2017-09-07 13:35] cleverbeagle opened #44 "Add transactional email support"
This is an oversight. We have configuration for the app's SMTP url, but in order to actually send email—independent of the accounts emails—you have to install the `email` package (or another provider's package) on your own. Ideally, we should configure some stuff like a welcome email so it's clear how to put it to use.

[2017-09-07 15:23] cleverbeagle opened #45 "Clean up UI for profiles when using OAuth logins"
This can be a bit cleaner more focused. As a bonus, it should also redirect users to a place where they can actually manage their profile on that service.

[2017-09-07 16:02] #34 closed

[2017-09-07 16:03] #35 closed

[2017-09-07 16:23] cleverbeagle commented on #44
Also a good opportunity to pull in some html templates stuff and spruce up the confirm email address emails.

[2017-09-07 22:25] cleverbeagle commented on #44
Several hours later this has evolved into a significant feature! Decided to add support for HTML/text template compilation using Handlebars. 1.2.0 will ship with templates for signup (welcome), verify email, and reset password.

[2017-09-08 03:09] #31 closed

[2017-09-08 03:09] #37 closed

[2017-09-08 03:09] #40 closed

[2017-09-08 03:09] #44 closed

[2017-09-08 03:09] #45 closed

[2017-09-08 03:09] #32 closed

[2017-09-08 22:21] cleverbeagle opened #46 "Move resend verification email into its own component"
Just noticed this. The process adds just enough boilerplate to the `<App />` component that it'd be nice to just have a `<VerifyEmailAlert />` component.

[2017-09-08 22:30] cleverbeagle commented on #46
[code]

SCSS

[code]

[2017-09-08 23:01] cleverbeagle opened #47 "Move getUserName method into its own file"
This is a lil' function used in `<App />` to determine whether we're rendering a `name` object with `name.first` and `name.last` or a string (password-based users vs. OAuth).

[2017-09-10 19:40] tafelito opened #48 "Throw Exception from actions always return same error code"
Hi, when creating an action within a meteor method, if you throw an Meteor.Error with a custom code, when you catch from the client, the error code is always 500 because the catch on the method always return 500

[code]

I changed it on my code, but I though it was a good idea to adjust it here as well

Thanks

[2017-09-10 21:24] tafelito commented on #48
Btw, what's the best way to share actions through different methods. Let's say you have a meteor method that has 3 steps (actions) and then there is another method that needs to call 1 of the same actions, do you take it out to a different file and then export it? Do you put it within the imports/api or you put it on import/modules? Do you pass the promise through in case you need to reject it if

[2017-09-11 01:18] Bandit opened #49 "Add better handling for schema errors in Methods"
Took me ages to finally track this down. If `collection2` denies an insert/update based on schema validation, nothing happens at all on the client, and nothing is printed in the server console.

This can be resolved by changing the best practice method code to listen for the error from `collection2` [as per its documentation](https://github.com/aldeed/meteor-collection2-core#what-happens-when-the-

[2017-09-11 12:52] cleverbeagle commented on #48
Hi @tafelito customizing the error code in your own is best. The `500` is generic enough to alert that something went wrong on the server. Is the change you're proposing to pass the full `exception` to the client?

Re: sharing actions, this depends. You can do an `export const` of a specific method inside of an action, or, if it's something a bit more complex, just take that code and put it in its

[2017-09-11 22:13] Bandit commented on #49
@cleverbeagle great point, I definitely didn't consider that. What's the best way to deal with schema validation then? As is we're better off not using `collection2` if we can't get any visibility over its errors I would have thought?

What if we replaced the `check` with `Collection.schema.validate(object)` - that way we can catch any errors that schema validation throws up without affecting retu

[2017-09-11 22:29] Bandit commented on #49
Looks like you also need to convert the default error from `validate()` into a `Meteor.Error` so that it gets returned to the client via `Bert`. As per the `simple-schema` docs:

[code]

Not sure where the best place to put that would be? `startup/server/schema-errors.js`?

[2017-09-12 06:39] pilarArr commented on #49
Hi @Bandit,
I also do the validation with the schema but I didn't do that transformation.
This is the code I use in the method, in case you find it useful.
[code]

I output the `exception.message` because I found it more useful than the `exception.details` in my case.

[2017-09-12 08:56] Bandit commented on #49
@pilarArr nice, great idea.

How do you deal with AutoValues like `DateCreated` and `DateModified`? In my brief testing today they throw validation errors because the client doesn't run AutoValue functions? I'm considering throwing an `optional: true` on them but I'm 99% sure that's a hack!

[2017-09-12 12:20] cleverbeagle commented on #49
@pilarArr @Bandit looking at this code, it seems like the separation is between the `exception` object having one of two properties: `reason` or `message` (like with the validation code above). Is that right? @pilarArr maybe we could come up with some sort of reusable function that checks which one of these is set and returns the appropriate value?

[2017-09-12 12:59] pilarArr commented on #49
@Bandit I had that problem too, I had to make a new schema to do the validation by picking the values I wanted to check, and then validate against that schema like this:
[code]

I read the [`node-simple-schema` docs](https://github.com/aldeed/node-simple-schema#simple-schema), and you should be able to accomplish something like that using a named context on the schema to validate only certain keys

[2017-09-12 16:33] tafelito opened #50 "Update actions to rely on a single action.reject with throw messages for individual methods"
In your docs says, when executing an action

Is that true? Because as per my understanding, JS will execute all remaining code, if any, before actually returning the promise value.

So if I have a reject and then I call another action, it will run the 2nd action even if the 1st one has been rejected

[code]

What would be the best way to prevent further execution after a promise has been rejected?

[2017-09-12 19:27] GilbertMizrahi opened #51 "Error when launching a new app bcrrypy@1.0.3"
It says failed at the bcrrypy@1.0.3 install script 'node-pre-gyp install --fallback-to-build'

[2017-09-12 19:34] cleverbeagle commented on #50
@tafelito the second method shouldn't be firing if the `reject()` is called as far as I know. If it is then this will need to be revised. Do you get the error from the first method `action1` as expected back on the client?

[2017-09-12 19:50] pilarArr commented on #51
Did you use `meteor npm install` or `npm install`?

[2017-09-12 19:53] GilbertMizrahi commented on #51
npm install as per the instructions

[2017-09-12 21:55] Bandit commented on #49
@cleverbeagle I think the best way to do it is as @pilarArr has done it in his example - by putting the `schema.validate()` in the `try ... catch` block. After that we just need as you say some smart error catching function to output a useful message to the client, as `simple-schema` puts this within `error.message`.

Putting `schema.validate()` outside the `try ... catch` is also valid, but you'l

[2017-09-12 22:41] pilarArr commented on #51
Yes, the instructions use `npm install` instead of `meteor npm install`, I always use `meteor npm install` though, this is what [meteor has to say about it](https://docs.meteor.com/commandline.html#meteornpm), I'm not sure if it says `bcrypt` would give you problems or not, but it looks like it could be issue. You could try reseting your packages and doing the installation with `meteor npm install

[2017-09-12 22:50] GilbertMizrahi commented on #51
`meteor npm install` solved the problem. Thanks.

[2017-09-13 00:14] tafelito commented on #48
thanks @cleverbeagle for the answer. What I meant by customizing the error code is that when you throw an Meteor.Error from an action, then you are catching it on the method and throwing a new Meteor.Error with error code 500, so the cliente always get 500, not the one thrown in a specific action. Not sure If I'm being clear here

So if I have this
[code]

So right now, instead of sending the mess

[2017-09-13 00:14] tafelito commented on #50
Yes you get the error from the client, but action2 is still executed. I understand that's how Promises work, that's why I wasn't exactly sure. The only way you can finish the execution is you throw an error or if you actually return a reject. But in this case, because you are catching the error within the action, it will actually return to where it was called originally. So it goes back to the han

[2017-09-13 00:48] cleverbeagle commented on #50
@tafelito okay, I'll have to take a look and run some experiments.

[2017-09-13 00:53] cleverbeagle commented on #51
@pilarArr @GilbertMizrahi just updated the docs to prefer `meteor npm install` over `npm install` moving forward: https://cleverbeagle.com/pup/v1/getting-started. Going to close this for now but feel free to open if you have any more issues.

[2017-09-13 00:53] #51 closed

[2017-09-13 00:58] tafelito commented on #50
ok great! let me know if I can be of any help

[2017-09-13 02:46] emalcdo opened #52 "Meteor build to use production build of React"
First of all, great boilerplate for Meteor with React btw.

As the title says, is it possible or is there a way to use the production build of React upon meteor build?

![image](https://user-images.githubusercontent.com/1258775/30357298-86f83da6-9870-11e7-99fb-048eeaf587f7.png)

[2017-09-13 06:21] Bandit commented on #49
Have finally got a pattern working that I'm happy with. Keen to know your thoughts:

Items methods:
[code]

Items schema:
[code]

`modules/throw-error.js`:
[code]

I had to remove the `audit-argument-checks` package to prevent Meteor from throwing an error due to the lack of `check()` within the new methods. Not sure about the security implications of this decision?

[2017-09-13 11:52] cleverbeagle commented on #52
@emalcdo not at the moment, though, this [should be coming in a new release of Meteor](https://github.com/meteor/meteor/blob/devel/Roadmap.md#out-of-the-box-support-for-advanced-react-features) according to the Roadmap.

[2017-09-14 00:09] #52 closed

[2017-09-14 16:01] tafelito opened #53 "Make sure to import methods into /imports/startup/client/index.js"
I found that methods declared in `imports/api/<module>/methods.js` (e.g.: documents) are not being called from the client. This is because they are not being imported anywhere from the client side. They are imported from the server though. So the Optimistic UI feature won't work in that case.
One way to solve this is importing methods that are not inside `server` directories within `startup/client

[2017-09-15 04:33] jsbono opened #54 "Downloading meteor-tool@1.5.0... locks up when running npm start"
Followed the exact directions here to install pup:
https://cleverbeagle.com/pup/v1/getting-started

When running npm start, the downloading meteor-tool@1.50.. continues to download repeatedly without success. Process locks up and the startup script does not proceed. Is this my environment? Or issue with this meteor tool package?

MacBook-Pro-3:perplex2 joeb$ npm start

   Downloading meteor-tool@1

[2017-09-16 03:37] jsbono commented on #54
Turns out this was a network issue on my side. Closing issue.

[2017-09-16 03:37] #54 closed

[2017-09-17 11:07] pilarArr commented on #38
Now that bootstrap v4 beta is out and v3 is no longer supported, we might want to wait a bit on this one to see if React Bootstraps brings out Bootstrap v4 support. Looks like the React-Bootstrap team might collaborate the reactstrap team to speed this up.

This are the related issues/PR/repositories:
- [React-Bootstrap](https://github.com/react-bootstrap/react-bootstrap)
- react-bootstrap/react-b

[2017-09-17 12:56] pilarArr commented on #49
Hi @Bandit,

Your code looks good, a couple notes.

Either if you are validating via `simple-schema` or via `check` you have to define a schema for the item you are validating in both cases. The benefit of validating via `simple-schema` is that you can reuse the schema you have already created. I'm not sure that defining your own `_id` is a good idea, but I don't know about that.
You can't use the

[2017-09-18 10:34] cleverbeagle commented on #49
While I can see the importance of being able to reuse a schema, this seems like a lot of hoops to jump vs. writing the additional `check()` statements. With Pup the goal isn't to prescribe too much and this feels like it's going to be a lot to drop on folks.

That said, the errors problems seems manageable, perhaps just a matter of adjusting what value we throw for an error when something goes wro

[2017-09-18 10:39] cleverbeagle commented on #38
I'm fine with waiting, this was just something that was a bit frustrating/inconsistent but nothing blocking. This ties into the Slack thread about a UI kit, which, answering your question there in here, yes, UI kit === Bootstrap. The goal would be to give us a bit more control over having to wait on stuff like this vs. just adding/changing things when we'd like.

[2017-09-18 11:54] cleverbeagle commented on #53
This is one to explore further (cc @pilarArr). As you've explained, yes, the methods we've defined are server-side only. I've wanted to avoid validated methods as they add a layer of abstraction that can be difficult to understand for beginners (and adds a ton of "but wait, what is..." type of questions to the mix).

I've never investigated as I haven't had any trouble with server-only methods, bu

[2017-09-18 13:45] mrangel-jr opened #57 "Simple Redux in Pup"
How can i insert a redux-simlpe-router and actionBuilderType pattern into Pup ?

[2017-09-18 14:46] pilarArr commented on #38
I'm still not sure of what you'd like to accomplish:
- Do you want to make something like React Bootstrap but with the components we use/need so that we have control over keeping it up to date with the current Bootstrap version?
- Or would you like to replace Bootstrap components altogether with a custom UI kit?

[2017-09-18 15:18] tafelito commented on #53
yes I understand that understand the logic behind validated methods could be hard for beginners, even more if you never created a regular meteor method before.

For the client side methods, yes, if you want to have client-only or shared methods, you either create the methods.js file under `imports/api/<module>` or `imports/api/<module>/client` and then you can import it in `/imports/startup/client

[2017-09-19 02:02] cleverbeagle commented on #38
This. My only hesitation is that it's a massive undertaking, and if it caught on outside of our customer base: a huge maintenance responsibility. Long-term, my thinking is to have a basic version of the kit and then have additional components available for sale.

More immediately, I'd rather stick with what we have—Bootstrap—and start to prototype our own UI kit on the side to see how much effort

[2017-09-19 02:03] cleverbeagle commented on #57
Hmm this is over my head, personally. If you can provide some examples of what you're looking to accomplish, I may be able to give you a solid path forward.

[2017-09-19 08:28] jesperordrup commented on #43
Great idea :=)

[2017-09-19 14:31] cleverbeagle commented on #43
@pilarArr ☝️ guy who suggested this. May be good to chat back and forth to get a clear idea on how to implement this.

[2017-09-19 16:21] jesperordrup commented on #43
The usecase could be adding Comments to Documents. That would be something anyone should be able to relate to.

When viewing a document a signed in user can add a comment. The comment is added to the Comments Collection.
A comment contains a  documentId, message, userId and a timestamp.
Viewing the document also renders out the list of comments. Each comment also shows the users name and links to

[2017-09-20 02:04] jsaddiction opened #58 "integrating a datepicker how to"
I am trying to implement [this datepicker](https://github.com/Hacker0x01/react-datepicker) into the `EditDocuments.js` i have setup the schema, api and i have imported the component/stylesheet and `moment.js`.  So far I have successfully rendered the datepicker into the page and populated the date saved in mongo by adding
`
 <FormGroup>
        <ControlLabel>Due Date</ControlLabel>
        <DatePi

[2017-09-20 12:03] ninjaPixel commented on #39
I this an issue specifically with react-router?

In the long run, I think that integrating [Google Tag Manager](https://www.google.com/analytics/tag-manager/) would be a good general solution for user tracking.
GTM enables us to hook up to lots of different analytics providers (e.g. Google Analytics, Hotjar etc etc) without having to redeploy our app.
We'd just need to inject 2 GTM scripts in the

[2017-09-20 12:15] ninjaPixel commented on #2
Rather than going to all the effort of mocking Accounts, MongoDB etc how about using an end-to-end framework, for these tests?
I've had great success with [Test Cafe](https://github.com/DevExpress/testcafe) to test things like a/c creation, logging in etc.
The benefits of doing it this way are:

1. We also test the UI
1. We don't have to write mocks or keep them up-to-date

[2017-09-20 12:58] pilarArr opened #59 "esLint goes crazy on Windows with CRLF rule"
It's the [linebreak-style](https://eslint.org/docs/rules/linebreak-style) rule, they have a tip on that page as to how to fix it.

The matter is that `git` on Windows when it does the checkout it replaces all linebreaks from LF to CRLF, then again when you check the changes it does the inverse operation. `git` does this to ensure consistency on line breaks. At least that's what I understood that h

[2017-09-20 14:42] cleverbeagle commented on #59
What is the CRLF rule?

[2017-09-20 14:48] cleverbeagle commented on #2
Do you have any examples of this being put to use in Meteor? On the surface this sounds ideal from the acceptance test side of things. How does it handle things like unit testing (or are you suggesting we use this independently of unit/integration tests)?

[2017-09-20 15:03] cleverbeagle commented on #39
This is a big sticky problem 😈

Ideally we could find a balance between the point-and-click tracking services and something more programmatic (I've found scenarios where both are ideal). Of note, support for [Segment](https://segment.com/) is what came to mind as they push data to nearly everything. They're paid, but the bulk of our customers will likely fall into their developer plan tier which i

[2017-09-20 15:09] pilarArr opened #60 "babel-preset-es2015 deprecated"
[code]
This is the statement when doing the install through `npm`

[2017-09-20 15:21] pilarArr commented on #59
@cleverbeagle updated the issue description

[2017-09-20 15:26] cleverbeagle commented on #43
Really like how this sounds. We could spiff up the UI around it quite a bit, too.

[2017-09-20 15:45] cleverbeagle commented on #59
So in other words some people just like to watch the world burn? :p

Okay, then yes. I'd agree with what you're saying here and compromise with the `gitattributes` file. Going to queue this up as a chore. Happy to take it if you don't want to.

[2017-09-20 15:46] cleverbeagle commented on #60
Saw this pop up on a project the other day. Obviously would be smart for us to make the shift. Going to flag this as a refactor.

[2017-09-20 15:52] cleverbeagle commented on #53
Flagging this as a refactor. Ideally, we should do what we do on the server. So,

- List all methods inside of a `/imports/startup/client/api.js` file.
- Pull that `/api.js` file into `/imports/startup/client/index.js`.

@tafelito can I get a spot check that I'm understanding this correctly?

[2017-09-20 15:54] cleverbeagle commented on #58
Hey, @jsaddiction :) Would you mind moving this to [http://forum.cleverbeagle.com/](http://forum.cleverbeagle.com/) for us? We're looking to move general/non-bug related issues over there.

[2017-09-20 15:55] ninjaPixel commented on #2
I use Test Cafe for Gluless (which is a Meteor project). I can show it to you on a Hangout if you like.

It's completely separate to my unit tests. I generally unit test whatever can be unit tested, but more involved stuff (e.g. something that require a user account, or testing of the UI) is done with Test Cafe.

[2017-09-20 16:03] ninjaPixel commented on #39
Segment do have a nice API 👍

FYI Astronomer is free for 1M events per month and uses the same API. It's what we used in the [split testing](https://themeteorchef.com/tutorials/split-testing-with-meteor) tutorial.

Either of the above would be excellent solutions.

[2017-09-20 16:10] tafelito commented on #53
Yes thats correct.

Another way of doing it is maybe just create an api.js shared between client/server and another api.js for each server and client for those cases where you need a client-only or server-only methods

something like

`imports/startup/api.js` (shared methods)
`imports/startup/client/api.js` (client only, not really used often)
`imports/startup/server/api.js` (server only)

then yo

[2017-09-20 16:11] pilarArr commented on #59
I already have it. I had to do it today for another project since we had a windows laptop joining the team and hell almost broke loose.

[2017-09-20 16:59] cleverbeagle commented on #39
Ah, right. Astronomer would be great! It's got a nice historical tie back to Meteor and we may be able to collab with the folks over there.

[2017-09-20 17:00] cleverbeagle commented on #59
Hahaha right on 👍

[2017-09-20 18:23] pilarArr opened #62 "Border appears for the documents list when browser size below a certain value"
(GIF coming soon)

[2017-09-21 17:52] ninjaPixel opened #64 "Remove jQuery 2.X from dependencies"
Using the bundle visualizer you can see that `jQuery` is imported twice. Once by Meteor and again in the npm dependencies. Unless we need  2 different versions of `jQuery`, we might as well remove the npm one (85.9kB).

Meteor bundles up version`1.11.10`, version `2.2.4` is specified in `package.json`. I don't think there would be any issue in ditching 2.X as I believe the API is identical, it's j

[2017-09-21 19:06] pilarArr commented on #64
@ninjaPixel That I know of, `ttwbs:bootstrap` and `jquery-validation` both have dependecies on `jquery`. Bootstrap broke when I updated `jquery` to v3,  but I think it should be all right if we downgrade.

Also the file in the module `/imports/modules/validate` uses `jquery` from `npm`, that would be also easy to change. And I think that's it.

[2017-09-21 19:32] pilarArr commented on #64
Can we delete the`jquery` that meteor installs?

[2017-09-21 19:59] pilarArr commented on #43
Sorry for being late to the thread!
I don't know much about optimising or performance, but the only limitations that come to my mind right now would be:
- should the comment need approval? or do we take the we are all consenting adults premise?
- How many comments do we load at the same time? Do we page them or load a scrolling list?

[2017-09-21 22:16] ninjaPixel commented on #64
Thanks for testing this @pilarArr

The `blaze` package depends on the `jQuery` package, so it'd depend on how much stuff needs  `blaze`. I'm not that familiar with the repo just yet, but I'd guess that quite a lot of packages need `blaze`.

[2017-09-22 07:02] jesperordrup commented on #43
To keep it simple and focust on handling a relationship I would suggest to

 * Leave out approval, just post
*  Only logged in users can comment
*  Load all

[2017-09-22 08:23] pilarArr commented on #43
@jesperordrup I'll work on a first approach with this, I'll keep you posted. 😄
@cleverbeagle I'm not sure about this, but can users see the documents of another user with the link?
And about the design for the component, did you have something in mind?

[2017-09-22 10:22] pilarArr commented on #64
I'm not that sure about this, as far as I understand `blaze` is what Meteor uses to make the UI, but we use React in Pup to do that, so it should be safe to delete the `blaze` templates libraries since we don't use them. Maybe @cleverbeagle has more info about this.

[2017-09-22 12:44] cleverbeagle commented on #64
@pilarArr we'd need to keep the Meteor version of Blaze because of what @ninjaPixel is saying here. We don't use Blaze directly in Pup, but some of the packages we depend on (for example, `themeteorchef:bert`) _do_ depend on Blaze and by extension Meteor's copy of jQuery. I'd say the safe bet would be to drop the NPM version but avoid tinkering with the Meteor copy.

[2017-09-22 12:45] cleverbeagle commented on #64
Thinking a bit further, too, it may be worth doing an audit to see which packages depend on jQuery so we can start to phase them out (or if they're something in our control, bring them up to date).

[2017-09-22 12:49] cleverbeagle commented on #43
@pilarArr not at the moment. Documents are only visible to the user marked as the `owner` field. This may require us to add some sort of `shared` field to the `Documents` collection where we store userId's that are allowed to see docs. A little more work but would be neat to have an example of as the technique applies to a lot of use cases.

Re: design, I can come up with something. How do you do

[2017-09-22 15:40] jesperordrup opened #65 "Feature: Search"
The simplest search feature that search through the document collection

Input field
typeahead
Maybe discuss how to take it further
Relevant indexing
Elasticsearch vs ?
Filtering

/j

[2017-09-22 16:37] cleverbeagle opened #66 "Fix sendEmail module requiring non-existent callback argument"
See here:

[code]

Expecting a callback but returns a Promise so the callback would be the `resolve()` invocation.

[2017-09-22 16:43] cleverbeagle opened #67 "What testing framework(s) should we use?"
@pilarArr @ninjapixel

I wanted to start an official thread on this so we can make a decision in respect to what tools we'd like to use. @pilarArr and I have discussed Jest/Enzyme (and I believe she's starting to think about/work on this) and @ninjapixel has suggested Test Cafe for acceptance tests.

Can we outline the following in this issue?

1. Test frameworks that you've used with Meteor that

[2017-09-23 10:43] pilarArr commented on #43
I can give it a try, I can do basic CSS, things like layouts, spacing, colors and the like. Maybe transitions or animations are a bit out of my reach.

[2017-09-23 12:58] cleverbeagle commented on #43
Okay. I've made a note to sketch something out next week, I'll follow up :)

[2017-09-24 13:02] cleverbeagle opened #68 "Bump Meteor and deps"
Going to do a minor on this. Seems like it will fix some file refresh bugs we've been seeing.

[2017-09-24 13:48] #68 closed

[2017-09-25 17:52] cleverbeagle opened #69 "SSR (w/ metadata via React Helmet)"
This turned on a few lightbulbs and has me interested in getting this working in an upcoming release (perhaps 1.3/1.4?): https://blog.meteor.com/meteor-platform-is-still-alive-5f6426644555. Would also be worth it to take a leaf from this implementation and add support for React Helmet and SEO tags by default.

Ideally, we could get this packed up into a single wrapper component/module so folks don

[2017-09-25 22:06] 416serg opened #70 "URI malformed when sending emails"
After configuring `MAIL_URL`, when I sign up a new user I get the following error

[code]

Most recent version of `Pup` - just cloned, added `MAIL_URL` in `settings-development.json`, ran `npm start` and tried to sign up.

I tracked it down to the error happening within [Send Email module](https://github.com/cleverbeagle/pup/blob/master/imports/modules/server/send-email.js) but not sure how to fix

[2017-09-26 16:16] cleverbeagle commented on #70
What is the error you're getting from the `send-email.js` module? Is it related to #66?

[2017-09-26 16:19] 416serg commented on #70
Not getting any more errors, just the one above on the server. Only reason I said `send-email.js` was the issue is because the error happens when `sendWelcomeEmail` happens which calls `sendEmail` -> Could it be that the HTML content of that email is messed up?

[2017-09-26 16:27] pilarArr commented on #64
I think that ditching NPM's jQuery version is not going to be that easy. I'll do some more testing.

[2017-09-26 16:30] 416serg commented on #39
I am in the process of setting up [okgrow:auto-analytics](https://github.com/okgrow/auto-analytics) with `react-helmet`. It's working with Segment however just working through `react-helmet` to make sure the right `analytics.whatever` calls get tracked because it's a little tougher to set up with `react-router@4.*`

[2017-09-26 17:03] pilarArr commented on #67
I think we should agree on how to organise the test files. I've seen 2 versions of it:
- Having a single test folder for all of them
- Storing them with the component/module/script and naming it with `.test.js`
- Something in between

Right now Jest scans the whole project and detects these `.test.js` files automatically. But I don't know how the other tools approach this.

[2017-09-26 18:39] 416serg commented on #70
I am a total idiot - my `MAIL_URL` was wrong 😓

[2017-09-26 18:39] #70 closed

[2017-09-26 18:53] Xeoncross opened #72 "User Admin"
Instead of a documents admin, could there be a user admin? I would think more people would need to build that then use the existing documents admin example.

https://themeteorchef.com/tutorials/building-a-user-admin

[2017-09-26 19:17] cleverbeagle commented on #72
We're working on this for a Pro version of Pup :)

[2017-09-27 14:51] cleverbeagle commented on #67
I can see arguments for/against the single folder, but in respect to making it easy to follow, I'd imagine having tests alongside the code would be best. For example, testing something in modules:

[code]

A bit clunky because it adds some weight, but really easy to understand. @ninjaPixel is something like this possible with Test Cafe or do we have to have all of the tests in one spot?

[2017-09-27 18:38] ninjaPixel commented on #67
I prefer having the unit tests alongside the code. It makes things easier to find and makes the imports simpler. Anything to reduce the friction when it comes to writing tests is a plus!

With respect to the end-to-end tests (e2e), the finest level of granularity that you can test at will be the page level, so you'd never place a `.test.js` file deeper than `/imports/ui/pages/foo`. In reality, mos

[2017-09-27 20:17] ninjaPixel commented on #67
Oh yeah, one other thing... We'll need to install dependencies for Test Cafe (or any e2e suite) and we don't want those dependencies to be shared with the app! Hence we defo want to stick the e2e stuff in a separate directory.

[2017-09-27 23:59] #72 closed

[2017-09-28 00:01] cleverbeagle opened #73 "Add a History.md file"
I can foresee our changelogs getting heftier/more complex with time. I really like [how the Meteor History.md works](https://github.com/meteor/meteor/blob/devel/History.md) with the `v.Next` block to track upcoming changes. Would allow us to more easily track changes but also tease work that's coming out.

[2017-09-28 00:02] #57 closed

[2017-09-28 00:02] cleverbeagle commented on #65
This will be coming in a Pro version of Pup :)

[2017-09-28 00:02] #65 closed

[2017-09-28 10:52] donmasakayan opened #74 "Typo in code?"
https://github.com/cleverbeagle/pup/blob/9116780d3aa3157a038331626da1b35fac678cc7/imports/ui/components/Public/Public.js#L7

Should be `path` instead of `parth`?

[2017-09-28 21:25] cleverbeagle commented on #74
No, `parth` is correct.

Kidding, yes, this is a typo. Looks like we have a PR for it, will take a look and push an update.

[2017-09-29 13:39] cleverbeagle opened #75 "Come up with a naming convention for e2e/acceptance tests and files"
Need to get a convention for:

- File names under `/tests` (e.g., match the test name to the component like `Signup.test.js`?)
- Naming each file/fixture `Fixture 'Signup page'`
- Naming each test `User clicks signup button and account is created`

[2017-09-29 14:34] cleverbeagle opened #76 "Come up with a naming convention for unit tests and files"
Need to get a convention for:

- File names under `/imports` (e.g., we need to test individual modules in `/imports/modules` as well as React components w/ Enzyme in `/imports/ui/...`)
- Naming each file/test suite.
- Naming each test 'If passed a markdown string, properly converts to HTML'.

[2017-09-29 14:50] cleverbeagle commented on #67
Decided! Jest for unit testing, Enzyme for React components, and Test Cafe for E2E/Acceptance tests.

[2017-09-29 14:50] #67 closed

[2017-09-29 14:51] #2 closed

[2017-09-29 14:51] #3 closed

[2017-09-29 14:51] #4 closed

[2017-09-29 14:51] #5 closed

[2017-09-30 13:57] cleverbeagle commented on #50
Took a look at this the other day with a customer having a similar issue. What I found was that, by `throw`ing in the code like this:

[code]

Subsequent steps are blocked as expected. So, the big fix seems to be instead of calling `action.reject()` in each additional method outside the handler, just throw the error and rely on the main handler function (in this case `editProfile`) to `reject` the

[2017-09-30 13:59] #66 closed

[2017-09-30 13:59] #74 closed

[2017-09-30 19:12] cleverbeagle commented on #76
Some conventions coming into focus (going to update this comment as I go):

- If a file in `/imports/modules` is tested, the file should be located directly next to that file (e.g., we can expect to find `parse-markdown.js` and `parse-markdown.test.js` in the same directory).

[2017-09-30 20:07] cleverbeagle commented on #76
In order to run tests written with ES6+ code, we need to include a `.babelrc` in the root. To placate Meteor's Babel when using `babel-jest`, we needed to install `babel-config-meteor` and then add a `.babelrc` like this:

[code]

Where `meteor` applies to the Meteor version of Babel and `env` is used by the `babel-jest` package used in conjunction with Jest. Using one or the other causes compile

[2017-09-30 20:59] cleverbeagle commented on #76
@ninjaPixel playing with your idea of splitting off method code into standalone functions to tests. Definitely the ideal scenario in respect to testability, but still getting boxed in by internal deps (e.g., meteor/mongo on collections). For example, a module like this:

[code]

And then the test:

[code]

Jest throws a tantrum about `meteor/mongo` :(

<img width="659" alt="screen shot 2017-09-30

[2017-10-01 10:40] ninjaPixel commented on #76
It doesn't look like you're missing anything.
That's a shame that we have to write mocks...
Perhaps we should re-evaluate if this is the right tool, after you've hooked up a simple test.

[2017-10-02 13:47] cleverbeagle commented on #76
The only other option is to [use one of the driver packages for Meteor](https://guide.meteor.com/testing.html), but like we discussed on Friday I'd like to avoid tight coupling to Meteor-specific tools to give us more flexibility in the long-term. I'll keep playing and see how crazy it gets with mocks (in theory we can get what we need in a single JS file).

On a semi-related note, we also need to

[2017-10-02 18:03] cleverbeagle commented on #43
@pilarArr a design concept for this. Keeping it simple here. No nested replies or anything, just an ascending list of comments followed by an input for submitting a comment.

Think this is doable?

![pup-comments-design](https://user-images.githubusercontent.com/23730234/31091863-ffa9d498-a771-11e7-9392-aa9e6fced49e.png)

May tweak the colors before we ship it, but this should get us started.

[2017-10-04 14:03] tafelito commented on #50
Great! yes I like the idea much better now. The only thing I'm not fully convinced is the use of a Promise. You can actually use the same structure without Promises and just using try/catch blocks.

Also I noticed that using it this way, you are missing the opportunity to throw custom error codes. Usually when you throw an error to the client, on the client side you catch it with the error code, s

[2017-10-04 21:18] rimskys opened #77 "Seeder fails to create users"
Seeder fails to create the 5 users of type "user+1". The admin user is created with success though.
This is true even after "meteor reset" and "meteor npm start".

[2017-10-05 22:37] cleverbeagle opened #78 "Migrate @cleverbeagle/dates to /imports/modules"
This is currently an NPM package but it's wreaking more havoc than necessary. We should move this into the `/imports/modules` directory as `dates.js`. Same exact code, just drop the package/need for extra maintenance.

[2017-10-06 11:48] ninjaPixel opened #79 "Minimise lodash footprint"
Use [this Babel plugin](https://github.com/lodash/babel-plugin-lodash) which will make sure that only the lodash functions that we use are included in the client bundle. It'll save over 70kB from the bundle size.

[2017-10-06 12:20] cleverbeagle opened #80 "Add exception for max-len rule to ESLint config"
The most annoying rule ever. Add an exception to package.json `rules` block to disable this.

[2017-10-06 12:46] cleverbeagle opened #81 "Migrate CSS to styled components"
There's little method to our madness right now and it'd be good to follow a standard that folks can easily reference.

[2017-10-09 12:12] cleverbeagle commented on #50
Hi @tafelito coming back to this, I think you're right. In theory, it's the code _inside_ of the action that needs to concern itself with async stuff, not the action itself. So, if there was a suggestion that you use `async/await` where appropriate, you could get the same end result.

My one hesitation, though, is that having access to the resolve/reject and then/catch callbacks makes value and er

[2017-10-12 02:15] tafelito commented on #50
@cleverbeagle I'm not sure if I'm following the async/await part you mentioned. I'm still not sure what are the benefits using promises here. To me, it's actually harder to understand why you need some async code just to execute sync actions. I don't see any extra benefits from it. But that's just me.

Another problem I see using promises within the actions, is when you have to share some of this

[2017-10-13 01:53] OliverColeman commented on #49
So not being able to reuse the schema I'd already defined was driving me slightly crazy (DRY anyone?). Having to manually enter the field names to work-around the autoValues issue defeats the purpose to some extent. I ended up doing this:

/imports/api/Utility/server/schema.js:
[code]
Then you can do something like this:
[code]
[code]

[2017-10-13 02:20] Bandit commented on #49
Clever 👍

Personally I'm fine with adding the optional flag onto my `autoValue` fields as a workaround, because as per the `collection2` documentation, the server always overrides any client-side `autoValue`:

[2017-10-13 03:54] OliverColeman commented on #49
It's certainly nice to be able to catch and display the errors like your approach does (as I've just found out ;)). Avoiding removing `audit-argument-checks` is also nice. Maybe something like this to combine both approaches:

/imports/api/Utility/server/schema.js:
[code]
(I'm guessing `getSchemaFieldTypes` above will be missing various edge cases, however.)
Then:
[code]

[2017-10-13 20:08] cleverbeagle commented on #49
@OliverColeman this is really nice:

[code]
It may be worth mentioning this in the simple-schema repo as I feel a lot of folks are frustrated by this, too.

[2017-10-13 23:29] Bandit commented on #49
@cleverbeagle I wrote that - you can tell because there's a typo in it:

`exception.santizedError && exception.sanitizedError.message` => `exception.san**i**tizedError && exception.sanitizedError.message`

🤣

[2017-10-16 16:21] ninjaPixel commented on #79
I've implemented this and it's dropped the size of the lodash module to just 3.38kB
Bundle pic: https://www.dropbox.com/s/dyd140nhst0ja4t/Screenshot%202017-10-16%2017.18.28.png?dl=0

[2017-10-16 16:26] cleverbeagle commented on #79
Woah! Nice work, sir.

[2017-10-21 00:49] tomscholz commented on #78
I can take this one. Just one question: What about the tests? In pup there aren't any, but inside the npm package there are.

[2017-10-21 11:05] tomscholz opened #84 "Missing props validation"
The "Public" and the "Authenticated" components are missing props validation for `path` and `exact`.
https://github.com/cleverbeagle/pup/blob/541b7075f98638a3b31f6fec28ed784904fed8c3/imports/ui/components/Public/Public.js#L5
https://github.com/cleverbeagle/pup/blob/541b7075f98638a3b31f6fec28ed784904fed8c3/imports/ui/components/Authenticated/Authenticated.js#L5

[2017-10-21 11:08] tomscholz commented on #81
What about styled components or cssinjs?

[2017-10-22 23:37] cleverbeagle commented on #81
@tomscholz maybe down the road. Styled components are cool but would like to keep the CSS decoupled for now for simplicity sake.

[2017-10-22 23:39] cleverbeagle commented on #78
@tomscholz hey, Tom. Thanks for your interest in this. Work on Pup is going to remain strictly internal as our mentors rely on it for working with customers. That said, if you're interested in working on the kit, send me an email: ryan.glover@cleverbeagle.com.

[2017-10-23 17:12] cleverbeagle commented on #76
https://www.okgrow.com/posts/real-world-unit-testing-with-meteor-and-jest

[2017-10-23 23:01] jrios6 opened #87 "throw new Meteor.Error('500', exception) when exception is already a Meteor Error"
In Documents methods.js try-catch statement, the exception (from violating simple schema) is already a Meteor.Error, yet it's used as a parameter for throwing new exception.

The result is that the client is not able to render the Bert alert.

Can you clarify other than from violating the schema, would there be any other reasons for an exception?

[2017-10-24 05:40] Bandit opened #88 "Where do I edit meta tags etc in the <head>?"
I'm sure this is super obvious but I can't find it anywhere.

Looking to install a [Bootstrap theme](https://atmospherejs.com/fezvrasta/bootstrap-material-design). Also how do I include JS before `</body>`?

[2017-10-24 05:41] Bandit commented on #88
Found it `/client/main.html` 👍

Still want to know the correct way to append JS files from a package

[2017-10-24 17:55] cleverbeagle commented on #88
@Bandit depends on what you're trying to append from the package. If it's a Bootstrap theme, can you share a sample of the files they're asking you to load?

[2017-10-24 20:59] ninjaPixel commented on #76
Following on from that article, my feeling is that we have to jump through too many hoops to use Jest. I'm not keen on writing mocks because we need to actually test that documents get inserted into the database etc. (this isn't testing MongoDB, it's testing our code). We need to test that our schema validation does its job, test that any observer functions get triggered, etc. Why mock this all ou

[2017-10-25 02:04] cleverbeagle commented on #87
As the code exists now in Pup, no. However, the try/catch block is a good pattern to implement across all Meteor Methods to handle error handling (especially if the code inside the Method is doing work beyond database writes).

[2017-10-25 03:17] dariozac opened #89 "Problem Logging in"
I started to get a login problem at the same time as getting deprecation warnings about the use of createContainer().

`TypeError: $(...).validate is not a function` in the console

![image](https://user-images.githubusercontent.com/1757647/31978663-5f030246-b93a-11e7-8c70-f9418f05519a.png)

[2017-10-25 03:58] dariozac commented on #89
I found that another NPM package that was also loading jQuery causing the conflict.

[2017-10-25 03:58] #89 closed

[2017-10-27 01:15] jrios6 commented on #87
Thanks! So is it safe to assume currently it will be fine to replace  `throw new Meteor.Error('500', exception)` with just `throw exception`?

[2017-10-28 12:51] nickwild-999 opened #90 "I can't install..."
I get an error...

Any thoughts?

[code]

[2017-10-28 12:56] nickwild-999 commented on #90
I have tried again and noticed it has an error...

`npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!`

there was a quick flash about a fall back and then...

[code]

This does not run and has the same semver error

[2017-10-29 09:31] nickwild-999 commented on #90
I reinstalled node but LTS version this time and it worked

[2017-10-29 09:38] tomscholz commented on #90
Quick tip: Use a node version manager to quickly switch between node versions :)

https://github.com/tj/n (osx)
https://github.com/coreybutler/nvm-windows (windows)
https://github.com/creationix/nvm (osx)

[2017-10-30 08:13] zeiitoun commented on #87
I would rather specify a new Meteor Error for production mode. Something like "Meteor.Error('500', 'There was an error during the insertion of the document')"

Violation of the simple schema will be the result of a client modification (if you did your form properly). The "hacker" doesn't need a personalized error message.

During dev mode, you can log the error if you need more information.

[2017-10-30 17:11] nickwild-999 commented on #90
Very frustrating I don't think I changed anything, but it has stopped working throwing this error

[code]
It mentioned that I needed to install the 1.5.5.2. tried a new install and it didn't work also tried reinstalling and doing a meteor upgrade all to no avail. No idea why it stopped working -  any ideas anyone?

Thanks

[2017-10-31 16:08] cleverbeagle commented on #76
I felt the same way, but ultimately the need to mock comes down to the environment the tests are executing in. In order to just run our code (which, you're right, would be ideal), we need access to the full Meteor environment. Jest doesn't have access to this.

Focusing just on "why Jest?" long-term I want to focus on decoupling third-party tooling from Meteor directly. Meaning, as much as possibl

[2017-10-31 16:11] cleverbeagle commented on #87
Agree with @zeiitoun here. Also, @jrios6 keep in mind that `Meteor.Error()` ensures the error bubbles back up from the Method call to the client:

[2017-10-31 17:48] cleverbeagle commented on #90
@nickwild-999 this looks like a different error. Make sure that when you start the app up, you include the settings file (this is handled automatically for you with `meteor npm start`, or, can be done manually with `meteor --settings settings-development.json`).

[2017-10-31 19:32] nickwild-999 commented on #90
Oops!! So sorry. I was flipping between different Meteor installs and didn't include npm start!

[2017-10-31 19:32] #90 closed

[2017-11-01 15:12] cleverbeagle commented on #90
@nickwild-999 no worries, glad to hear it's working :)

[2017-11-01 18:00] tomscholz opened #91 "Migrate createContainer to withTracker"
`createContainer` is deprecated since Meteor v1.6.

https://guide.meteor.com/react.html#using-withTracker

[2017-11-01 20:14] #88 closed

[2017-11-01 20:54] Bandit commented on #88
Sorry for my lack of response on this - haven't had a chance to get back to this project yet.

[2017-11-02 13:41] cleverbeagle opened #92 "Add support for detecting current device size in <App /> component"
Via @codiwans on the forum: http://forum.cleverbeagle.com/t/recommended-way-for-enabling-responsive-react-components-within-meteorjs-context/75.

https://www.npmjs.com/package/verge

[2017-11-02 21:31] cleverbeagle commented on #50
Hey @tafelito sorry to the 🐢

Re: usage of Promises, really it comes down to judgment. You may need them, you may not. I typically default to using them in actions as they end up being used in relation to third-party code. That said, nothing wrong with just using regular try/catch patterns and `throw` statements.

In respect to sharing functions, if this is the case, typically I'll just take the g

[2017-11-03 11:48] cleverbeagle opened #94 "Update to Meteor 1.6 and bump deps"

[2017-11-03 20:30] cleverbeagle opened #95 "Migrate to withTracker from createContainer"
Damn kids, quit moving around the signs on my front lawn!

[2017-11-03 20:34] tomscholz commented on #95
Duplicate of #91

[2017-11-03 20:34] #91 closed

[2017-11-03 20:38] cleverbeagle commented on #95
@tomscholz https://www.youtube.com/watch?v=nCTr-4CoeVs

[2017-11-03 20:45] cleverbeagle opened #96 "Fix miscellaneous ESLint errors"
Some of these are patchable, others require being disabled in `package.json`.

[2017-11-04 04:35] Ghalleb opened #97 "Use process.env in config"
Hi,

I think it would be a good idea to use "process.env" for all config settings.
First because you don't want to store private information in the code and second because it would be easier to use on platform like heroku.

I know it's just a 'settings-development' file and not the real production file, but as it could be used as example, it could be helpfull.

Example:

    {
      "public": {},

[2017-11-06 05:54] Ghalleb commented on #97
My solution is to use a var and change it state on touch events. Then use it in the click event:

    var dragged = false;

    google.maps.event.addListener(map, 'click', function (evt) {
        if (!dragged) {
            // Do stuff here
        }
    });

    google.maps.event.addDomListener(canvas, 'touchmove', function (event) {
        if (event.touches.length == 1) {
            dragged =

[2017-11-06 16:20] tafelito commented on #50
@cleverbeagle this is how I usually do it. My background is Java though, so I guess that's why I'm more use to this way, not only for meteor.

methods.js

[code]

do-action.js
[code]

This could be on the same do-action file or in a different file maybe in /modules
first-action.js
[code]

[2017-11-06 18:12] cleverbeagle commented on #97
Hi @Ghalleb. This isn't something we'll likely include as we'd expect the contents of your settings file to be passed to your host, or, to manage any environment variables manually via their dashboard. Technically, even though we store things in this file, it's loaded by Meteor as `process.env.METEOR_SETTINGS`. The `Meteor.settings` helper in the app just loads from the contents of that file.

Wha

[2017-11-07 12:49] Ghalleb commented on #97
Heroku use a list of key/value.
So I guess I could simply use a configuration like:
METEOR_SETTINGS -> "my json configuration".
That should do the trick.

[2017-11-07 12:49] #97 closed

[2017-11-07 17:18] stevenqzhang opened #98 "Error: Cannot find module './utils.js' when running npm start"
I'm at commit 33813dd

When I do `meteor npm install` followed by `npm start`, I get this error:

[code]

Same thing happens if I run `meteor npm start`

[2017-11-07 17:18] cleverbeagle opened #99 "Support multiple layouts by default"
This is kind of confusing using React Router v4. It'd be nice to be able to support multiple layouts by default with some examples in the docs.

[2017-11-08 10:43] julezman opened #100 "Verify Email workflow seems to cause infinite loop"
Although I am fairly new to meteor and pup I seem to have found an issue with the verify email workflow.

**Steps to reproduce:** Worst case: Navigate to the verify email route with and invalid token (i.e. /verify-email/_invalidtoken_).  Other case: It also occurs partly when navigating to a valid email verification token.

**Cause:** When the VerifyEmail component has mounted it calls the Account

[2017-11-08 23:34] stevenqzhang commented on #98
After doing a clean meteor install and clean clone of pup, I no longer get this issue

[2017-11-08 23:34] #98 closed

[2017-11-09 13:47] leite08 commented on #36
Did you make it to work @jolesbi ?
I'm trying to make checkbox work with no luck. Tried `<input type="checkbox">` with `onChange=".."` and `<Checkbox>` with `inputRef` set, but none works. Can't find an example of it working with the same setup of Pup (Meteor + React + Bootstrap).
If you did get it working, did you need to setup anything else besides `inputRef`? Can you share this piece of code?

[2017-11-09 14:50] leite08 commented on #36
Managed to get the correct value from the checkbox with `this.enabled.checked` (was using the property `value` incorrectly).
Thanks!

[2017-11-10 14:08] cleverbeagle commented on #100
Hi @julezman thank you for the thorough report. I'm having some trouble reproducing per your steps. Here's a GIF of what I'm seeing:

![test-verify-email](https://user-images.githubusercontent.com/23730234/32661887-28e8faa6-c5ee-11e7-956a-e31a504a75b0.gif)

Was your report for a specific browser/OS?

[2017-11-10 18:34] tomscholz commented on #99
This would be awesome

[2017-11-11 10:06] lorenzogm opened #101 "Folder structure with domains/modules"
Which are your thoughts about creating a folder structure like the one below for the imports?

This way we would have the core of the app (app), everything related with the auth system (auth) and any custom module for our app (documents).

[code]

[2017-11-12 20:54] cleverbeagle commented on #101
Hey @lorenzogm. If this make sense to you, go for it :) As far as Pup is concerned, though, we like to keep the structure as close to [the one recommended in the Meteor Guide](https://guide.meteor.com/structure.html).

[2017-11-12 20:54] #101 closed

[2017-11-12 21:08] cleverbeagle commented on #50
Hey @tafelito how does the top code block with the `method()` snippet in it relate back to the bottom two?

[2017-11-12 22:18] #77 closed

[2017-11-12 22:18] #73 closed

[2017-11-12 22:34] #64 closed

[2017-11-12 23:06] #62 closed

[2017-11-13 11:05] julezman commented on #100
Hi @cleverbeagle - Thanks for looking into this so quickly.  I have now discovered what the problem was - a problem on my part.  Sorry for wasting your time.  I had thought I had reverted to the original code I cloned from your repo but it turns out I still had a few pieces of my code there.  The piece of code causing the issue was that in imports/ui/layouts/App.js I had added the loggingIn variab

[2017-11-13 11:05] #100 closed

[2017-11-13 13:13] cleverbeagle commented on #100
_HOW DARE YOU_ @julezman.

No worries :) Good to hear you found the fix.

[2017-11-13 14:34] #78 closed

[2017-11-13 14:36] #46 closed

[2017-11-13 14:36] #47 closed

[2017-11-13 14:36] #48 closed

[2017-11-13 14:36] #53 closed

[2017-11-13 14:36] #59 closed

[2017-11-13 14:36] #60 closed

[2017-11-13 14:36] #79 closed

[2017-11-13 14:36] #80 closed

[2017-11-13 14:36] #94 closed

[2017-11-13 14:36] #95 closed

[2017-11-13 14:36] #96 closed

[2017-11-13 14:36] #58 closed

[2017-11-13 14:37] #87 closed

[2017-11-13 14:45] #84 closed

[2017-11-13 18:24] cleverbeagle opened #102 "VerifyEmailAlert propTypes should not be required w/ defaults"
When logged out, the `VerifyEmailAlert` component throws a warning about `userId` being required but not available. This should be _not_ required but given a default prop.

[2017-11-14 18:44] tafelito commented on #50
@cleverbeagle you import it on `methods.js`

`import doAction from './do-action';`

[2017-11-16 13:42] cleverbeagle commented on #50
I'll have to give this a think! There's definitely something here. Could see quite a few variations of the pattern emerging depending on context.

[2017-11-20 17:07] cleverbeagle commented on #81
http://cssinjs.org/?v=v9.3.3

[2017-11-30 14:12] vjrj opened #103 "I18n support"
I'm using pup + i18next + softwarerero:accounts-t9n to make my site multilanguage. Are you interesed in add i18n support to pup?

Thanks indeed for your work...

[2017-11-30 21:49] cleverbeagle commented on #103
Hi @vjrj we'll be releasing a Pro version of Pup in 2018 that will have full support for i18n :)

[2017-11-30 23:01] cleverbeagle opened #104 "Add user role to new signups in onCreateUser"
Only fixtures take on a user/admin role but new signups do not.

[2017-12-02 18:24] cleverbeagle opened #105 "Add staging and production commands to package.json"
A lot of folks have asked about this one. Galaxy is the default/standard deployment, so commands should be based on this. Documentation should explain differences.

[2017-12-03 04:52] cleverbeagle opened #106 "Fix UTM link on <Index /> component"
Missing the `medium` key.

[2017-12-06 17:09] cdolek opened #107 "Verify email link expired error"
"Verify email link expired. Please try again." error shows up when you use the verification link that has been outputted to the console (in development mode after clicking Re-send verification email.)

Tried the link both logged in and logged out. Same thing happens.

[2017-12-11 18:00] cleverbeagle commented on #107
Hi @cdolek. This usually happens when additional information is being copied with the url in the console (e.g., the timestamp when the link was logged). Can you run this again and paste the exact URL you're using?

[2017-12-11 21:12] cdolek commented on #107
Interesting, I tried the link: http://localhost:3000/verify-email/h2DWgT3vUsW_ssUtDaXNgyFNkUgR7ugj2rwlahd2AMQ and it worked. Not sure what went wrong the first time.

Thanks

[2017-12-11 21:12] #107 closed

[2018-01-08 10:44] ninjaPixel opened #108 "The handlebars templates, used in emails, should be inside a `<script>` tag."
[From the `handlebars` docs](http://handlebarsjs.com/):

[code]

[2018-01-09 18:03] ChuckIrvine opened #109 "Track initial URL request to redirect to after login/signup"
I want to implement the following functionality:

1. A potential, not-signed-up user clicks on a link to authenticated content in my web app.
2. The user is automatically taken to my sign up page.
3. The user signs up and is then taken to the linked page.
4. I use React Router.

Is this supported by pup? Any suggestions on a way to implement?

Thanks,
Chuck

[2018-01-09 19:09] ninjaPixel commented on #108
My bad.
The `<script>` tag is for times where you want to deliver an uncompiled handlebars template to the browser, which is not what we're doing.

[2018-01-09 19:09] #108 closed

[2018-01-10 14:30] cleverbeagle commented on #109
Hi @ChuckIrvine, this isn't directly in Pup but is possible. It involves a few steps:

1. The best place to start is by converting the `/imports/ui/layouts/App/App.js` component to [a class-based component](themeteorchef.com/tutorials/understanding-react-component-types) so that it has access to React state.
2. Next, you'll need to get access to the initial page the user is trying to access. This

[2018-01-17 18:27] cleverbeagle opened #110 "Ability for a user to delete themselves"
Came up in a mentorship call. Would be nice to have a way to do this as a flag so we can offer both hard and soft deletes.

[2018-01-19 14:04] cleverbeagle opened #111 "Add basic data exporting"
This is (and should be) a common feature for SaaS products and should be demonstrated in Pup.

This should be done for the usual culprits:
- JSON
- HTML
- CSV/XLS
- PDF (?)

Should work so that there's a single button in the profile to "download my data" and they get it output as a .zip (and possibly even emailed to their address on file).

[2018-01-19 14:10] cleverbeagle commented on #49
Logging this here: http://forum.cleverbeagle.com/t/schema-unique-document-fields/110/5?u=cleverbeagle.

Going to add this v.NEXT.

[2018-01-24 13:55] cleverbeagle opened #112 "Can we use React for email templates?"
Adding Handlebars is an extra dependency we may not need.

[2018-01-24 16:16] ninjaPixel commented on #112
I think Handlebars is a really nice way to do email templates, and it's only a server-side SEO, so doesn't bloat the client.

[2018-01-24 16:16] ninjaPixel commented on #112
Dep* (not SEO, naughty iPhone!)

[2018-01-24 17:11] sw-yx opened #113 "Use react-markdown to render static pages instead and consolidate the React and Markdown files into one file"
as spoken via research call

https://github.com/thinkmill/react-markings also uses CommonMark so we have full compatibility with the existing markdown flavor used in Pup, but this time it can be done purely within React so there is no preprocessing phase required. Less files, less lines of code. Also a nice bonus, we can inject code into the page with this method so it becomes less "static" than b

[2018-01-25 17:13] ninjaPixel opened #114 "Use the Accounts API to change a user's email address"
In `edit-profile.js` we directly update the email address on a user's profile:

[code]

This could lead to us having more than one user with the same email address. I suggest that we use the [Accounts API](https://docs.meteor.com/api/passwords.html#Accounts-addEmail) to do this, as it checks for dupes. We can add an email with:

[code]

And, if we want to keep to the structure of only 1 email per

[2018-01-25 17:43] cleverbeagle commented on #114
Great idea @ninjaPixel. Would you be open to a PR on this?

[2018-01-26 17:40] cleverbeagle commented on #81
Thinking long-term about where we're headed, although this adds some cognitive weight, it would allow us to keep CSS consistent across all CB code. There's not a ton of custom CSS in Pup and making this move would also aid in getting SSR working by default without a ton of hoop jumping.

[2018-01-27 09:12] ninjaPixel commented on #114
Sure thing.

[2018-01-30 20:33] ChuckIrvine opened #116 "Enhancement: update boiler plate with fancier front page"
Suggested enhancement: make the boilerplate front-page more like a real website home page. More like your homepage (https://cleverbeagle.com).

[2018-02-01 13:13] cleverbeagle commented on #116
Hi @ChuckIrvine this is a good idea. May play into #69 quite well :)

[2018-02-08 21:57] ChuckIrvine opened #118 "Facebook oauth login issue"
I see this problem on a recurring basis on my production Galaxy instance. Note that I don't know whether this problem is pup related. I've submitted the same issue to Galaxy support.

1. I try to do an ouath login with my Facebook credentials.
2. I get a facebook error message saying that I don't have the right whitelist settings.
3. If I do a new deployment to my app to Galaxy, the problem goes a

[2018-02-08 22:31] cleverbeagle opened #119 "Add module and examples of indexing the database"
This is a must-have for production apps and comes up enough that it'd be good to have in Pup core.

[2018-02-09 17:43] cleverbeagle commented on #118
Hmm. This is likely due to Facebook's new OAuth login rules, but it's a bit odd that it's corrected by a redeployment. Though it costs a bit more, if you upgrade your Galaxy containers to enable IP whitelisting, they will share the public IP addresses used for Galaxy which you can add to your Facebook config in the developers site:

<img width="1394" alt="screen shot 2018-02-09 at 11 39 25 am" src

[2018-02-09 18:13] ChuckIrvine commented on #118
My reading of that setting is that it is only applicable to those using Graph API. See https://developers.facebook.com/docs/facebook-login/security. Also, the fact that a deployment fixes the problem and that I have never specified values for that field makes me think that the problem lies elsewhere.

Note: I just checked and I'm seeing the problem now. I'm going to do a deployment to see it that

[2018-02-10 17:28] sw-yx commented on #113
i am changing this to use react-markdown as it has better OSS support

[2018-02-11 06:45] tozden opened #121 "Fresh install problems"
I am quite new to meteor and found your repository which I believe would be a good starting point for my project.

Following your guidelines, I have just cloned project and after running npm install I received bunch of error messages which you can find below:

[code]

[2018-02-11 17:25] cleverbeagle commented on #121
Hey @tozden, from what I see there aren't any errors here just warnings (these are out of our control for the most part and require fixes from the authors of some of our dependencies).

Is the app failing to start up when you run `meteor npm start`?

[2018-02-11 17:25] cleverbeagle commented on #118
Hey @ChuckIrvine, any word on this?

[2018-02-11 17:28] ChuckIrvine commented on #118
No. The problem is still occuring. I have submitted a ticket to Galaxy and they are researching. I'm also going to submit a bug report to Facebook. It's probably safe to say that this isn't a pup issue.

[2018-02-11 18:16] cleverbeagle commented on #118
@ChuckIrvine got it. Going to close this out for now but please leave a comment on this thread if you folks come to a solution :)

[2018-02-11 18:16] #118 closed

[2018-02-12 02:44] #112 closed

[2018-02-12 02:45] #102 closed

[2018-02-12 02:46] #38 closed

[2018-02-12 02:47] cleverbeagle commented on #26
Done!

[2018-02-12 02:47] #26 closed

[2018-02-12 02:55] cleverbeagle opened #122 "Migrating to Bootstrap v4"
Now that Bootstrap v4 is out, it's worth discussing a migration to something like [reactstrap](https://reactstrap.github.io/). The only hesitation here is that it'd be a decent shift in APIs that we've all grown accustom to. It _does_ seem like the React Bootstrap folks are working on a v4 update, but progress is slow. I'm indifferent as the changes are mostly visual from what I can see (a few new

[2018-02-12 03:03] cleverbeagle opened #123 "Continuous Integration"
It's time for Pup to grow up. As we move forward, releases will need to be consistently stable. @pilarArr is actively researching testing strategies, but as part of our move to having tests in Pup, we should look to have CI in place for the project.

[2018-02-12 10:21] ninjaPixel commented on #69
Just curious, given that our clients would generally deploy to Galaxy (am I right here), why not just rely on the free Prerender integration? http://galaxy-guide.meteor.com/seo.html

[2018-02-12 16:13] #49 closed

[2018-02-12 16:13] #50 closed

[2018-02-12 16:13] #104 closed

[2018-02-12 16:13] #105 closed

[2018-02-12 16:13] #106 closed

[2018-02-12 16:13] #109 closed

[2018-02-12 16:13] #110 closed

[2018-02-12 16:13] #111 closed

[2018-02-12 16:13] #113 closed

[2018-02-12 16:13] #114 closed

[2018-02-12 16:13] #119 closed

[2018-02-12 16:54] cleverbeagle commented on #69
You're right, but I'd like us to be less reliant on Galaxy as a deployment option (e.g., a few folks have used Heroku recently for costs). That and I've found Prerender can get "stuck" sometimes, with data being cached making updates harder to do. It'd be nice to know that SEO support is just built-in and doesn't require using a specific host.

[2018-02-14 06:12] benhsampson commented on #81
Any idea on how the file structure would change given we integrate styled-components? We could possibly have a separate **styles** directory in the **ui** folder.

[2018-02-15 13:28] cleverbeagle commented on #81
@benhsampson  Not too much from what he have now, I'd imagine. Ideally we keep the stylesheet as close to the components as possible. Global styles, though, would do well in a folder like you describe, though. Right now `/ui/stylesheets` serves this purpose.

[2018-02-15 21:27] cleverbeagle opened #124 "Write documentation for redirect after login"
Whoops. Forgot this.

[2018-02-20 19:30] cleverbeagle opened #125 "GraphQL by default"
Starting to consider this for a few reasons:

1. Less immediate coupling with Meteor.
2. Removes the need to learn Meteor-specific APIs that are rumored to go away.
3. Moves defining schemas directly into the data layer, removing duplication of validation.
4. Opens up Pup to support several databases (and easier for us to provide examples), not just MongoDB.

Thoughts on this @ninjaPixel @merlinpa

[2018-02-22 10:41] ninjaPixel commented on #125
Sounds like fun!

[2018-02-22 18:59] cleverbeagle opened #126 "Write documentation for handleMethodException"
This is a bit ambiguous as-is right now. Could use at least a quick note in the Methods section of the docs.

[2018-02-23 13:18] cleverbeagle opened #127 "Automatic form persistence?"
This is when we start to dip our toes into library territory, but it'd be neat to have some sort of form persistence against local storage built in. This way, no matter what, form input is persisted until submission. At the very least a tutorial on this might be neat.

[2018-02-25 18:26] sw-yx opened #128 "Implement Loading HOC for Pup i/o just loading icon"
example implementation

[code]

example usage

[code]

[2018-02-28 03:25] RobGordon406 opened #129 "MUP Error while deploying"
Pup based application works fine in Development.
But when I try to deploy using MUP I get the following error ...

Building App Bundle Locally
Errors prevented bundling:
While processing files with ecmascript (for target web.browser):

/Users/mbp15/MeteorReact/swabfirst/node_modules/babel-plugin-lodash/lib/index.js:105:49:
Cannot read property 'imports' of undefined
at PluginPass.Program

Spent tw

[2018-02-28 13:51] cleverbeagle commented on #129
This looks like it may be on one of our dependencies, `babel-plugin-lodash`. If I had to guess, when MUP gets to the dependency step, it's getting stuck on installing that package. Out of curiosity, if you delete that package and then try to deploy the app, does it go up without issue?

[2018-03-01 21:49] toinevk commented on #125
Given with Apollo 2.0, Apollo has introduced its own state management solution and no longer relies on Redux this may be the perfect time.

[2018-03-02 15:50] merlinpatt opened #131 "Sync Content of Documentation?"
Is it possible for us to sync our documentation content similarly to how we sync code?

[2018-03-05 05:28] toinevk commented on #81
I had some spare time on the weekend to look into this a little more. To migrate to styled components is not as straight forward as it looks. Particularly the lighten and darken helpers, don't exist without a helper library such color. The alternative would be to use manually define the colours (i.e. cb-blue-lighten-10) but that seems like alot of additional code. What would your preference be?

[2018-03-05 09:30] toinevk commented on #81
Yes - I tried something similar.

[code]

I think this with a link to a hex color tool would be a sensible approach. It would also take any "magic" out of how it works.

[2018-03-05 12:34] cleverbeagle commented on #81
I commend the effort, folks :) But this would be overkill. As far as lightening and darkening, it'd probably be best to just write some small JS functions that we can execute inside of our styled-components definitions. E.g.:

[code]

Here, `colors.lighten()` would just be a function we import from somewhere like `/imports/modules/colors.js`. I haven't looked but I'd imagine someone has thought th

[2018-03-05 17:13] merlinpatt commented on #81
What do folks think about using [react-with-styles by AirBnB](https://github.com/airbnb/react-with-styles) and [Aphrodite by Khan Academy] (https://github.com/Khan/aphrodite)?

I suggest it for two reasons. The first is that we're using AirBnB's style guide so this would remain consistent with that and use their guides for how to work with CSS in JS.

The second is that I find it a lot easier to u

[2018-03-05 18:18] cleverbeagle commented on #81
@merlinpatt I think alongside React the syntax does make more sense, but not a big fan of losing the ability to write real CSS as opposed to an abstraction.

Another one to have on our radar is the level of support for Aphrodite vs. others. Being created in a big company is a huge plus, but I wonder if it's something widely-deployed at Khan or just a skunk works type of thing.

[2018-03-05 18:40] merlinpatt commented on #81
@cleverbeagle what real CSS are you worried about losing?

[2018-03-05 19:08] cleverbeagle commented on #81
@merlinpatt the selectors themselves. For example, here's a styled component I was playing with the other day:

[code]

In something like Aphrodite, we'd have to convert that into the abstracted object pattern which means learning a different syntax that isn't CSS. In other words, I like styled components because it acts as a wrapper around good ol' fashioned CSS as opposed to introducing a totall

[2018-03-05 21:15] cleverbeagle opened #132 "Don't make settings file required for startup"
The OAuth registration on the server requires the settings file to exist, otherwise it throws an error on the server. This should be guarded against and replaced with a warning that lets the server start up without issue.

[2018-03-06 01:36] benhsampson commented on #81
[Polished JS](https://polished.js.org/) is a great toolset for this kind of thing.

[2018-03-06 13:00] cleverbeagle commented on #81
@benhsampson exactly what I had in mind, good find. Cool to see it's made by the guy doing styled-components, too.

[2018-03-06 13:31] merlinpatt commented on #81
Aphrodite allows you those same selectors as well. It would look like this.

[code]

[2018-03-06 13:53] snowzurfer commented on #125
Hey guys, first off thank you so much for making Pup open-source, it's helped me a lot in learning Meteor and React! I've been hearing a lot about Apollo and GraphQL, but I struggle to see how I could adapt what I know about and have with Meteor to use Apollo 2.0. As I have understood, the way Meteor works currently could become obsolete and I'd like to learn the new system as it gets rolled out.

[2018-03-07 01:27] cleverbeagle commented on #121
Hey @tozden haven't heard back so I'm going to close this out for now.

[2018-03-07 01:28] #121 closed

[2018-03-07 13:38] cleverbeagle commented on #81
@merlinpatt does getting access to this syntax require us to use the `withStyles()` container?

[2018-03-07 13:58] merlinpatt commented on #81
No, you could use it without the container. I only prefer the container because it makes it easy to pass in a theme, which you could import. Also, having the container will show up in React DevTools, so it's easy to see what's styled

[2018-03-07 16:52] cleverbeagle opened #134 "Prevent welcome email from sending before email verification is complete"
Both go out at once so if the user's email is incorrect they never get the welcome email.

[2018-03-08 13:37] cleverbeagle commented on #81
Ahh okay. What's it look like without the container @merlinpatt?

[2018-03-08 19:33] sw-yx commented on #125
@snowzurfer  honestly GraphQL is one of those things if you don't have a strong idea of why you need it you probably don't need it yet :)

[2018-03-09 21:38] cleverbeagle opened #135 "Limiting rendering based on roles"
Jotting this down based on this forum thread: http://forum.cleverbeagle.com/t/security-on-components/143.

It's a great question. I think we _can_ do what's proposed, however, I'd be curious to see how complex it would make the code and what value it would bring (i.e., if we know that DB ops are blocked and the user can only see the UI with a bit of trickery, does getting it to hide matter in the

[2018-03-12 19:02] merlinpatt commented on #81
[code]

[2018-03-14 13:39] cleverbeagle opened #136 "Tests"
Summarizing our chat and what we need to get done:

- Write unit tests to cover what @ninjaPixel would define as complex (e.g., a method just calling a MongoDB write is too simple but something like `/imports/modules/send-email.js` is a good fit).
- Write end-to-end tests covering the UI. Again, the goal here is to get tests for what @ninjaPixel would test for in his own app.
- [Document a set of

[2018-03-14 21:09] toinevk commented on #135
Just adding my two cents :) If you apply the principle that nothing from the client should be trusted implicitly, is there indeed much value in doing this? It would be difficult to make it air tight and might give users a sense of false security.  As you pointed out, users instead should focus on enforcing security server-side where there is some level of trust.

[2018-03-19 13:48] cleverbeagle commented on #135
@toinevk I think this is the best line of thinking. Perhaps the goal should be to add examples of security based on roles to the server-side as opposed to worrying about the client.

[2018-03-21 17:32] merlinpatt opened #143 "While processing files with ecmascript (for target web.browser): Invalid or unexpected token"
Received this error on mostly fresh install of cloned Pup. The exact same code worked on someone else's computer but not mine.

[code]

[2018-03-21 17:33] merlinpatt commented on #143
Running `meteor npm install` gives this

[code]

[2018-03-25 22:14] sw-yx opened #145 "double example in the docs"
https://cleverbeagle.com/pup/v1/the-basics/static-pages#defining-your-own-static-page

<img width="574" alt="delete" src="https://user-images.githubusercontent.com/6764957/37880553-5beae502-3058-11e8-8660-792ecb0c5f52.png">

[2018-03-26 12:39] cleverbeagle commented on #143
Hmm okay, we'll have to take a look.

[2018-03-27 15:35] HenrySipp commented on #81
I've personally had a very good time using design-system-utils for styled-components
https://github.com/mrmartineau/design-system-utils

[2018-03-27 20:56] csellis opened #146 "New install failure"
Hello,
I've followed the instructions and keep getting a lodash failure on a fresh install.

Console returns:
`W20180327-16:54:15.741(-4)? (STDERR) Error: Cannot find module 'lodash.assignin'
W20180327-16:54:15.741(-4)? (STDERR)     at Function.Module._resolveFilename (module.js:513:15)
W20180327-16:54:15.741(-4)? (STDERR)     at Function.Module._load (module.js:463:25)
W20180327-16:54:15.742(-4)?

[2018-03-29 16:27] cleverbeagle commented on #145
Fixed 🌮

[2018-03-29 16:27] #145 closed

[2018-03-29 16:28] cleverbeagle commented on #146
Hi @csellis have you run a `meteor npm install` after cloning the project?

[2018-03-30 00:33] csellis commented on #146
Yes I have. I also followed the instructions on [http://forum.cleverbeagle.com/t/errors-after-doing-a-brand-new-install-on-mac-osx/144/6](url) to no avail. I have updated to Meteor 1.6.1 since the original to post. Now I'm getting the following in the browser:

[code]

[2018-03-30 13:05] cleverbeagle commented on #146
@csellis does it work if you downgrade Meteor to 1.6.0? You can try this by opening up the `.meteor/release` file at the root of your project and changing the version to 1.6.0. When you restart the app, Meteor will detect this and switch to that version.

I ask this because we've had a few folks mention issue with 1.6.1 and Meteor made some changes to Babel which seems to be tripping up our depend

[2018-03-30 13:33] csellis commented on #146
It doesn't. That's what I had installed at first.

On Fri, Mar 30, 2018, 9:05 AM Clever Beagle <notifications@github.com>
wrote:

[2018-04-02 13:17] cleverbeagle opened #147 "Migrate refs to use React.createRef();"
Just found out about this. Minor detail but good to stay up to date with latest technique: https://reactjs.org/docs/refs-and-the-dom.html#creating-refs.

[2018-04-02 15:05] cleverbeagle commented on #146
Hey @csellis sorry this is causing so much trouble. Looking into this further, a possible fix:

1. Run a `meteor update` to bring Meteor up to the latest version.
2. Delete the `.babelrc` file at the root of the project.
3. Run `meteor npm i --save @babel/runtime`.
4. Boot the project.

Can confirm that following an update to `METEOR@1.6.1`, I received an error similar to what you saw above. Follo

[2018-04-03 00:38] csellis commented on #146
Hi @cleverbeagle , it's still not working. I'm going to try a fresh install.

[2018-04-03 00:47] csellis commented on #146
@cleverbeagle, fresh install did it. After deleting .babelrc and reinstalling. Not sure why the first one wouldn't work.

[2018-04-03 00:47] #146 closed

[2018-04-03 01:53] pjbrow commented on #146
@cleverbeagle Using Pup v1.4.0 I had exactly the same error as @csellis.  Can confirm that your instructions worked to fix the issue.  Looking forward to cleaner syntax with Babel 7!

[2018-04-04 19:10] cleverbeagle opened #148 "Add a way to programmatically strip all documents examples"
Idea from a current customer. Have a way to delete all of the example documents-related code with a single command for folks who have learned the patterns.

[2018-04-11 15:58] cleverbeagle opened #149 "GDPR"
Though we don't do much with private data in Pup by default, it'd be worth auditing the app and adding a few helpers to make compliance easier:

Resources:

- https://help.convertkit.com/article/786-gdpr-faq
- https://www.gdprhq.io/post/the-new-european-general-data-protection-regulations-and-automated-mail-marketing

[2018-04-13 14:49] cleverbeagle opened #150 "Add basic metric tracking"

[2018-04-15 01:47] cleverbeagle opened #151 "Admin"
With Pupgrades around the corner, it'd be good to have a foundational admin/dashboard area where we could easily snap in different dashboards associated with a Pupgrade.

It'd be nice if the base version include with Pup had something like user management and maybe even a way to manage email templates via the GUI.

[2018-04-17 20:13] cleverbeagle opened #152 "Add Utility collection"
It'd be helpful to have a generic catch-all collection for configuration data inside of Pup. This relates back to Pupgrades needing dynamic config data but has come up a few times during mentorship.

[2018-04-19 08:00] Bandit commented on #146
Same. Running `meteor npm i --save @babel/runtime` worked after deleting `.babelrc`

[2018-04-21 02:26] Bandit opened #153 "oauth.verifyConfiguration doesn't actually verify anything"
It just checks if there's an entry for the specified service in the internal Meteor services table, and if so, includes it. Right now even services that don't have an appID or secret set get added to this table, so it does nothing of value.

My proposed solution:

- Add `enabled: true` to each oAuth provider in `settings-development.json`
- Make `oauth.verifyConfiguration` check truthiness of `ena

[2018-04-21 03:36] cleverbeagle opened #154 "Add Blank State Component"
Looking to start improving the UI. Blank states are a big part of a product and something every app could use. Would be good if this is built-in.

[2018-04-21 03:38] cleverbeagle opened #155 "Add settings panel"
Plays into Pupgrades. It’d be good if there was a built in pattern for managing settings as a user. Some sort of simple toggle switch type of UI and a data model on the user.

[2018-04-22 16:06] cleverbeagle opened #156 "Add Authorized component"
I've had this one sitting around for awhile and just realized it's missing in Pup. This is a component that allows limiting access to routes based on a user's roles.

[2018-04-22 16:12] cleverbeagle opened #157 "Bump Meteor and deps to latest versions"
We've been hanging out at 1.6 for awhile. Would be good to pull in the latest patches for that and get deps up to date, too.

[2018-04-22 23:20] cleverbeagle opened #158 "Add error boundary to App component"
React 16 introduced error boundaries. It'd be worth incorporating this at the App.js level.

[2018-04-22 23:49] cleverbeagle commented on #158
Slight change of plans, this doesn't work quite how I expected. Needs to be wrapped around specific components. Integrating this at the App.js level will be pretty messy/cumbersome. Going to table this one for now.

[2018-04-23 13:16] cleverbeagle commented on #153
This is a good point. Going to look at pulling this into the next release.

[2018-04-23 13:27] cleverbeagle commented on #129
Hey @RobGordon406 haven't heard back on this so going to close it out. This should be solved in the upcoming 1.5.0 release but if not, feel free to reopen.

[2018-04-23 13:27] #129 closed

[2018-04-23 19:42] merlinpatt commented on #147
Isn't this the new recommended pattern?

[2018-04-23 21:02] cleverbeagle commented on #147
Yes and no from what I'm reading. The function ref style hasn't been deprecated, it's just being considered another way to do the same thing. Unless it's technically required I don't see a point to making the change—otherwise it's just pushing paper.

Function refs are still documented here: https://reactjs.org/docs/refs-and-the-dom.html#callback-refs

[2018-04-26 20:38] #69 closed

[2018-04-26 20:38] #81 closed

[2018-04-26 20:38] #153 closed

[2018-04-26 20:38] #154 closed

[2018-04-26 20:38] #157 closed

[2018-04-27 21:02] toinevk commented on #135
@cleverbeagle I am happy to shortly have a look at this, perhaps with a prototype of the Admin dashboard? i.e. Admin can delete/edit other users documents.

[2018-04-29 16:46] cleverbeagle commented on #135
@toinevk hang tight on this one. I'd love to get your help but want to get a clear picture in my head of how it will work first before move forward.

[2018-05-04 02:27] cleverbeagle opened #159 "Fix incorrect CSS variable"
Missed a CSS variable conversion in `/imports/ui/components/VerifyEmailAlert/VerifyEmailAlert.js`. Should be `var(--gray-dark)` instead of `$gray-dark`.

[2018-05-04 02:27] cleverbeagle commented on #159
Thanks to @mbessieres for the tip.

[2018-05-04 02:30] #159 closed

[2018-05-09 19:34] cleverbeagle opened #161 "PropType warning on BlankState component"

[2018-05-14 20:31] cleverbeagle opened #162 "Remove fourseven:scss dependency"
This is no longer used and is adding unnecessary weight.

[2018-05-29 13:39] ayhid opened #163 "Can we make SSR toggled via a setting?"
Hello,
It's great that pup now supports SSR it's a big step. But how can I disable SSR and keep getting my pup version up to date?

[2018-05-29 13:58] cleverbeagle commented on #163
Hey @ayhid! Right now, SSR isn't easily disabled. That said, it shouldn't hurt anything being on. Can you share some more details about why you'd like to disable it? May have a better answer for you...

[2018-05-29 13:59] cleverbeagle commented on #163
@merlinpatt @ninjaPixel adding you guys to this so we can put our thoughts together on how we might approach making SSR something that could be turned on/off without much effort.

[2018-05-29 14:06] ayhid commented on #163
hey thanks for the quick answer actually I just updated my pup version and I noticed that all my css imports (ie: `import "react-table/react-table.css";`) are now generating errors.

[code]
it could be another issue completely unrelated to SSR.

The point is in my use case I do not need it as the app will never be public.

I am sur there is another solution with leaving SSR on.

[2018-05-29 15:34] ayhid commented on #163
after some googling I added a condition to my import

[code]

It seems to fix the issue but I don't know if it's the right way to solve this.

[2018-05-29 17:38] cleverbeagle commented on #156
Figured this out. Going to add to a 1.6.0 release but if anyone is curious now:

[code]

[2018-05-29 17:53] cleverbeagle commented on #149
Pattern for this will be adding a consent modal that's triggered for new users. Settings selected by the user will be stored on the user profile along with timestamps for authenticity.

[2018-05-29 17:54] cleverbeagle commented on #155
This works in tandem with #149 for a real nice integration.

[2018-05-31 14:32] cleverbeagle opened #165 "Bump to Meteor 1.7.0.1+"

[2018-06-01 14:04] treehouseops opened #166 "Add minimum character length to update password in <Profile /> component"
When I update my password, it doesn't check to make sure my current password is accurate, I can enter anything I want and it updates. There is also no six character minimum validation.

[2018-06-03 15:56] cleverbeagle opened #167 "Improve user deletion UX"
Love this example from Harvest. Would be good to add an "export" email that gets sent along with a temp download that expires after so long. Could even do the download as an attachment so there's zero persistence of data past the point of deletion.

<img width="632" alt="screen shot 2018-06-03 at 10 55 21 am" src="https://user-images.githubusercontent.com/23730234/40888441-a9f49edc-671c-11e8-9d02-

[2018-06-06 14:19] cleverbeagle commented on #163
Hi @ayhid this is correct. Because all of the app files pass through the server first, this check is required if you're trying to import something intended for the client only.

[2018-06-10 18:36] cleverbeagle opened #168 "Migrate away from imports directory"
One of the nice parts about Meteor 1.7 is that it now allows us to move away from the imports directory and to specify a `mainModule` to load for the client and server in our `package.json`. While the basic work is fairly trivial, this is going to have a major impact on how we teach and our documentation so we don't want to rush it (it's more of a geeky thing anyways, so not urgent).

[2018-06-11 19:14] merlinpatt commented on #168
Doing this feels very much like a public API change for an npm package, which typically requires a major version bump. What do you think about bumping up Pup to v2 once this is done?

[2018-06-11 19:56] cleverbeagle commented on #168
@merlinpatt yup, agree. I think that'd be wise.

[2018-06-13 01:18] cleverbeagle opened #169 "Add support for migrations"
There are a few things coming into Pup (and Pupgrades) that could benefit from having migrations built-in to Pup. Worth exploring the addition of these. They're fairly common in products so no reason to not add some patterns.

[2018-06-13 01:19] cleverbeagle opened #170 "Add support for cron jobs"
Add a means for adding cron jobs programatically with examples. There are a few Pupgrades that could benefit from these being built into Pup.

[2018-06-16 20:18] OMFG5716 commented on #124
Anyone who comes across, register this onLogin callback with Redirect. Unless Ryan has something better.

[code]

Cheers

[2018-06-16 21:49] OMFG5716 commented on #124
Hello!
Could you please add this on the docs or explain here how to add this?

[2018-06-17 15:30] #134 closed

[2018-06-17 15:39] cleverbeagle commented on #163
Just documented the `if (Meteor.isClient)` pattern: https://cleverbeagle.com/pup/v1/the-basics/stylesheets#sass-scss-stylesheets-pup-1-4-0-and-below.

This doesn't resolve this issue but in case anybody comes across this in the interim!

[2018-06-17 15:41] #158 closed

[2018-06-17 15:46] cleverbeagle commented on #155
Thinking it would be better if this was handled in a separate collection. A data model like this should work well:

[code]

To make this a bit easier to use, it'd be good to have a module like `userSettings('sendMarketingEmails')`. that automatically resolves to that field in the user's settings object.

[2018-06-18 18:27] pagesrichie opened #171 "Sometimes when hard refreshing the page, already logged in user doesn't login"
Sometimes when hard refreshing the page (like manually clicking the refresh button up top in the browser), if the user is already logged in, the user doesn't login and is sent to the sign up page.  I can then hard refresh again and the user logs in.   I can sometimes refresh 10 times till i see the bug, sometimes only after one or two refreshes.

What would be the fix for this?

[2018-06-19 05:29] pagesrichie opened #172 "The function parseUrlForSSR should not match till it knows which part of the url parts it should use"
Love the boilerplate, really really helpful when starting new projects!

Noticed one issue and have proposed a fix:

Right now for the following constant in ssr.js:

`const documentURL = parseUrlForSSR(sink.request.url, 'documents');`

The following urls would match:
http://localhost:3000/documents/test/
http://localhost:3000/test/documents/
http://localhost:3000/anything/anything/anythingagain/do

[2018-06-20 01:47] cleverbeagle opened #173 "Fix UserSettings schema using blackbox for individual setting objects"
As of right now this is unfixable due to [an issue in SimpleSchema](https://github.com/aldeed/simple-schema-js/issues/169). We'll either have to wait until this is fixed to reintroduce the definitions for specific fields on a settings object, or, fix this when we move to GraphQL in #125.

[2018-06-20 14:29] cleverbeagle opened #174 "Add sitemap.xml generator"
Use sitemap.js from @themeteorchef for this.

[2018-06-20 15:00] cleverbeagle opened #175 "Add robots.txt generator"
See #174 code for how to do this.

[2018-06-20 19:06] isaac-martin commented on #156
How can we use this just to render a link for example to `/admin` I can go to the route for the user but am not able to conditionally render a link. Tried to use `this.props.roles` which works fine on first login, but if closing window and coming back or refreshing those props aren't set again.

[2018-06-22 01:34] cleverbeagle opened #176 "Fix /login flash when loading up a route for the first time"
Right now if you visit any route in the app directly, for a few milliseconds the /login page flashes. Need to better manage `loading` state in relation to SSR to fix this.

[2018-06-25 15:35] cleverbeagle commented on #171
Hey @pagesrichie, for this one, have you modified any parts of the login process? If anything, I'd expect the user to be redirected to `/login` instead of `/signup`.

It's very likely that if it only happens once in awhile, it's because the client-side Redux store hasn't updated quickly enough with the current user and the redirect kicks in to boot the user.

[2018-06-25 21:08] cleverbeagle opened #177 "Investigate move to MJML for email templates"
Came up in another issue and intrigued me. Looks like a nice way to simplify the email templating process (though, forces a creation of templates internally as opposed to on a third-party host—perhaps not a bad thing).

Would be nice to make this a "standard" thing in Pup and help push it forward in the community.

[2018-06-26 11:18] Salamit opened #178 "Warning in chrome console"
Hi,

After going through the _Getting Started_ section and trying to play around with the boilerplate I get the following error in Chrome's console when I click on _Sign up_ or _Login_

[code]

Any help is much appreciated.

[2018-06-26 16:45] choncj opened #179 "Client side npm package import"
Firstly thank you for this amazing boilerplate.
Im not used to server side rendering and currently im stuck with a small issue.

Im using a npm package named react-scrollbar which uses the window object.
When trying to import the package i get a warning that window is not defined.

So i tried importing the package like this

[code]
#163 only issue i found that is kinda related to my problem so i g

[2018-06-26 18:42] cleverbeagle commented on #173
Found a workaround for this.

[2018-06-26 18:42] #173 closed

[2018-06-26 18:46] #151 closed

[2018-06-26 18:46] #155 closed

[2018-06-26 18:46] #156 closed

[2018-06-26 18:46] #165 closed

[2018-06-26 18:46] #166 closed

[2018-06-26 18:47] #149 closed

[2018-06-26 18:47] #161 closed

[2018-06-26 18:47] #162 closed

[2018-06-26 19:05] cleverbeagle opened #180 "Consider adding action constants and bindActionCreators for Redux"
Came up in a mentorship appointment. Would be a nice way to simplify our usage of Redux for SSR.

[2018-06-26 19:07] cleverbeagle commented on #180
Also consider adding composeEnhancers and enabling `window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__`.

[2018-06-26 20:17] jtolla commented on #176
:-(

[2018-06-26 21:28] cleverbeagle commented on #176
@jtolla if your cryptic frowny face was what I think it was for, this was just fixed in 1.6.1 :)

[2018-06-26 21:31] jtolla commented on #176
Awesome! You thought right :D

[2018-06-27 09:28] pisacode commented on #163
I am having some issues with the Roles and Subscribtions after upgrading to Pup 1.5 with upstream. I have resolved all conflitcs.However on authentication routes, roles returns false and does not redux does not update the roles. II have a custom Authentication component which checks for additional roles required for routes as the following

`
 <Grid>
          <Switch>
            <Route exact nam

[2018-06-27 09:43] pisacode commented on #163
Or can I have SSR enabled pages and disabled pages at the same application?

[2018-06-27 13:54] cleverbeagle commented on #163
Hey @pisacode, you may want to take a look at v1.6.1 released yesterday. This includes a new `<Authorized />` component which allows you to do what you described. You should be able to copy/paste the component from `/imports/ui/components/Authorized/Authorized.js` and see an example of how to use it in `/imports/ui/layouts/App/App.js`.

Let us know if that works?

[2018-06-28 11:46] Salamit opened #181 "150 Vulnerabilities after "meteor npm install""
After running "_meteor npm install_" my terminal prints the following

[code]

A video description of the issue can be found here: http://bit.ly/2N7pREb

[2018-06-28 11:48] Salamit commented on #178
Just tried installing pup again and this particular issue is gone. I don't know why.

[2018-06-28 11:48] #178 closed

[2018-06-28 11:50] Salamit opened #182 "Fix PropType warning on BlankState component"
I'm getting the following issue after running the boilerplate for the first time.

[code]

A video description of the issue can be found here: http://bit.ly/2N7pREb

[2018-06-28 16:48] merlinpatt opened #183 "Pup 2.0 - Split containers and styles from components"
[code]

[2018-06-28 16:50] merlinpatt opened #184 "Pup 2.0 - Storybook stories"
Add storybook and stories for many components in the the `components` directory

- Make this issue a checklist of what components need stories

[2018-06-28 16:52] cleverbeagle opened #185 "Pup CLI"
A tool for scaffolding and adding/removing features.

[2018-06-28 16:52] merlinpatt opened #186 "Pup 2.0 - Use index files in component directories"
[code]

[2018-06-28 16:57] merlinpatt opened #187 "Pup 2.0 - linting / formatting"
Clearly define rules for eslint with matching prettier formatting rules

[2018-06-28 17:03] #116 closed

[2018-06-28 17:04] #99 closed

[2018-06-28 17:22] #43 closed

[2018-06-28 17:22] #92 closed

[2018-06-28 21:08] Salamit commented on #181
Thanks! Gotcha. I'll use npm audit to fix the vulnerabilities

[2018-06-29 09:23] #179 closed

[2018-06-29 17:22] cleverbeagle commented on #172
Thanks for sharing this, Richie. We'll review for a merge :)

[2018-06-29 23:16] #168 closed

[2018-06-29 23:57] choncj opened #189 "User Settings Modal bug"
#### Issue description
The User Settings page (/admin/users/settings) has a small bug. 'Add Setting' will not work after clicking on 'Edit'. It will show the form with the previous opened modal Data and it will only give you the option to edit. Only way to clear the form is via page refresh or route change.

#### Steps to reproduce the issue

1. Setup pup
2. Login and go to '/admin/users/settings'

[2018-07-02 14:07] cleverbeagle opened #190 "Test out using Chromatic for visual regression testing"
Would be good to set up a copy of Pup with this and see how it works. A few things to try:

- Add a simple component and break it.
- Break an existing component.
- Take notes on how it could fit into our workflow for Pup/considerations we'd need to make.
- Outline next steps on integrating it into our workflow.

[2018-07-03 08:36] ayhid commented on #190
Hi @cleverbeagle  are you talking about [Chromatic](https://blog.hichroma.com/chromatic/home) ?

[2018-07-03 16:06] cleverbeagle commented on #190
@ayhid yup!

[2018-07-03 19:54] cleverbeagle commented on #189
Thanks for reporting with details @choncj. I'll take a look.

[2018-07-04 16:50] w3jimmy opened #191 "Breadcrumb link bug"
Hi, there is a small bug in the edit User admin view, in the Breadcrumb generation.
Once you click on one user to open its details, an error shows in the client's console:

```Warning: validateDOMNesting(...): <a> cannot appear as a descendant of <a>.```

To fix this, I've changed it this way:

[code]

I hope this recommendation is the best.
Keep up the good work!
Thanks

[2018-07-05 14:30] cleverbeagle opened #192 "After OAuth Login Page"
In some cases, it'd be good to be able to confirm a user's data that we've retrieved from an OAuth login. It'd also be good to let the user customize that info—or fill in missing details—before we let them access the app.

[2018-07-05 14:30] cleverbeagle commented on #192
Terms and acceptance?

[2018-07-06 13:18] TWKDreamState commented on #179
Hello. How did you fix this as I am having the same issue with Plotly.js?

[2018-07-06 14:43] cleverbeagle commented on #179
@TWKDreamState a few ways to handle this. A quick and dirty method is:

[code]

Later in your code you can use `if (Meteor.isClient) window.ScrollArea` and it should work as expected.

Another (preferred) option is to create a module similar to `/imports/modules/validate.js` in Pup. That allows you to handle the client-only import, but also export the variable you need for use in your code.

If yo

[2018-07-06 14:47] cleverbeagle opened #193 "Add ability to manage roles via admin UI"
Just came up on the forums and I *think* some starter code exists in an earlier fork of Pup.

[2018-07-06 14:57] TWKDreamState commented on #179
Thank you for this :) I'm trying to basically do the following to get started with the Plotly.js library (from the tutorials - https://plot.ly/javascript/react/).

But it causes an error on the server and I just can't seem to work out how to get it working on the client only.

Error: ReferenceError: document is not defined
Code example:

[code]

[2018-07-06 17:16] TWKDreamState commented on #179
OK, got it working thus...but does feel quick and dirty ... :smile:

`import React from 'react';
import { Meteor } from 'meteor/meteor';
if (Meteor.isClient) {
import Plot from 'react-plotly.js';
  document.Plot = Plot
}
const figure = {
  data: [{
    type: 'scatter',
    x: [1, 2, 3],
    y: [4, 5, 6],
  }],
  layout: {
    title: 'A first initial graph to try out',
  },
};
const Index = () => (

[2018-07-09 10:00] Salamit commented on #182
I looked into this. To solve, this is all that is required to change the icon propType to an object?

[2018-07-10 12:53] cleverbeagle commented on #182
@Salamit yes, I believe that's correct.

[2018-07-10 13:18] cleverbeagle commented on #191
Thanks for the heads up @w3jimmy!

[2018-07-10 13:22] cleverbeagle commented on #179
Okay, now that I see what you're up to, what happens if you create `/imports/modules/plotly.js` and write it like this:

[code]

Then in the example above, do...

[code]

[2018-07-11 13:05] choncj commented on #179
If anybody comes across the same problem while using ScrollArea then simply use the no-css version.

`
import ScrollArea  from 'react-scrollbar/dist/no-css';
`

Then import the css via
[code]

[2018-07-11 13:21] Salamit opened #194 "updating to jquery@3.3.1 breaks bootstrap"
Because of a vulnerability with jquery that comes with the boilerplate, and following suggestions by npm audit, I had to upgrade to jquery

But I now I get the following in the console.
`twbs_bootstrap.js?hash=9ce2be5568dddbf86b5c6732b75ce4a038d39c56:42 Uncaught Error: Bootstrap's JavaScript requires jQuery version 1.9.1 or higher, but lower than version 3`

Any tips? I'm considering removing boot

[2018-07-11 13:23] cleverbeagle commented on #194
Unfortunately this will be unfixable until we can upgrade to v4 of Bootstrap (currently blocked by our dependency on `react-bootstrap`). Keep an eye on [this issue](#122) for updates.

[2018-07-11 13:23] #194 closed

[2018-07-11 14:33] pisacode commented on #194
Hi. which version should we use until this problem is fixed?

[2018-07-11 14:39] cleverbeagle commented on #194
@pisacode the one that's bundled with Pup by default (`2.2.4`) is best.

[2018-07-11 15:06] pisacode commented on #194
Hi, thank you very much for fast response.

I am have followed your suggestion on #181 and run `npm audit fix`. But now validate module is giving an error as the following:`TypeError: $(...).validate is not a function`
It seems like jguery is not installed properly.

I have also run `npm install --save jquery@2.2.4` to save but no luck.

Do you have any suggestions?

[2018-07-11 15:47] pisacode commented on #194
It works if I don't do the `npm audit fix`. And also #178 shows that there is something that I am missing. Usually this happens when you import jquery twice, but I guess it is not the case here

[2018-07-12 08:04] pisacode commented on #178
hi @Salamit I am running into the same problem. Everythings works if I don't do `npm audit fix` however when I do I get this `jquery` error. I am wondering If you also run the `npm audit fix` when the issue was cleared?

[2018-07-12 08:45] TWKDreamState commented on #179
Thank you for this - all working now - much appreciated :) Might be useful if anyone else comes across a client only library.

The only issue I had was an error was thrown from the module - Only one default export allowed per module. (7:2) so I removed the 'else' for the time being.

[2018-07-12 09:29] Salamit commented on #178
hi @pisacode I ran `npm audit fix `and ran `npm audit fix --force` to force fix the remaining 'breaking' changes - which updated jquery to  3.3.1. It was after doing that, that I got

`Uncaught Error: Bootstrap's JavaScript requires jQuery version 1.9.1 or higher, but lower than version 3`

I'm in the process of dumping bootstrap in preference for another frontend framework.

[2018-07-12 09:50] pisacode commented on #194
I have get it working by doind a `npm audit` and then selectively fixing problems, leaving jquery out. `npm audit` says there are around 150 vulnerabilities however most of the get solved by just 4-5 commands.

[2018-07-13 12:51] Salamit commented on #194
@pisacode, I’m getting the same issue now

[2018-07-13 12:51] Salamit commented on #178
@pisacode, I’m getting the same issue here now.

[2018-07-13 12:53] pisacode commented on #194
Did you try to selective fix issues on the `npm audit` ?

[2018-07-17 00:51] choncj commented on #189
Thank you for looking in to this! I also noticed another issue with the modal.

When i want to input something in to the Label field i get this error:

`A component is changing an uncontrolled input of type text to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the

[2018-07-17 12:34] cleverbeagle commented on #189
Noted. Thanks @choncj :)

[2018-07-17 20:07] pisacode opened #195 "Two meteor apps using one database"
Hi, I am using pup for two meteor applications sharing one database, one is for the client and one is for the server.

After creating some collections on the server app, I am trying to feed client from that collections. However, I couldn't figure out how to import the server collection to client. Since the client app also has access to the same database,  I have tried `const DocumentCollection = M

[2018-07-18 13:57] merlinpatt commented on #190
Relevant links

* [The original repo, now deprecated](https://github.com/meteor/chromatic)
* [The new QA tool](https://www.chromaticqa.com/)

[2018-07-19 18:20] choncj commented on #195
Hey @pisacode to me it seems like your problem is out of scope for this boilerplate. Still i would like to direct you in the right direction.

[- Connecting separate Meteor Web-Apps and Mobile Apps](https://medium.com/@aidobreen/setting-up-a-meteor-project-with-remote-mongodb-using-mup-and-digitaloean-7c9592622189)
[- Insert data to external mongodb with meteor app](https://stackoverflow.com/quest

[2018-07-25 05:14] merlinpatt commented on #190
Chromatic relies on Storybook, and since we've decided against including Storybook by default, we won't be able to have Chromatic by default as well, so I'm closing this. However, for those interested, we'll post a write up about how to add Storybook and Chromatic to Pup.

[2018-07-25 05:14] #190 closed

[2018-07-26 13:51] cleverbeagle commented on #125
Adding a note: https://www.apollographql.com/docs/react/recipes/meteor

[2018-07-28 07:35] akwilos opened #197 "Problem with heroku deploy"
Hello,
I try to deploy pup app on heroku based on:
https://github.com/jordansissel/heroku-buildpack-meteor

After deploy, which was success, on web page I see appliction error.
In logs i cant see any problematic issue.
@cleverbeagle Could you try help me, please?

[2018-07-28 11:05] merlinpatt commented on #197
@akwilos I've always used the horse buildpack to great success. Try this instead.

* Set buildpack to: https://github.com/AdmitHub/meteor-buildpack-horse.git
* Add env vars
  * `MAIL_URL` - can be blank
  * `METEOR_SETTINGS` - set to at least an empty object `{}`
  * `MONGO_URL` - format should be `mongodb://username:password@host:port/database`
  * `ROOT_URL` - either your custom domain or your H

[2018-07-28 12:21] akwilos commented on #197
i have seen in logs:

but in settings.json i can see it

`  "private": {
    "MAIL_URL": "smtps://...@smtp.gmail.com:465",
    "OAuth": {
      "facebook": {
...
      },
      "google": {
...
      },
      "github": {
...
      }
    },
    "supportEmail": "Customer Support <support@product.com>"
  },`

[2018-07-28 12:42] akwilos commented on #197
Ok i fixed it.
I copy all things from settings.json to METEOR_SETTINGS in heroku.com
Thank all

[2018-07-29 12:11] #197 closed

[2018-08-01 22:04] MateoWartelle commented on #182
[code]

Change the BlankState.proptypes icon to PropTypes.object

Error is resolved.

[2018-08-04 19:05] merlinpatt commented on #195
@pisacode why are you separating the client and server app?

[2018-08-04 19:05] merlinpatt commented on #186
Closed by #198

[2018-08-04 19:05] #186 closed

[2018-08-04 19:06] merlinpatt commented on #184
As discussed in #196, Storybook will not be supported by default

[2018-08-04 19:06] #184 closed

[2018-08-04 19:07] merlinpatt commented on #183
As discussed in #196, containers will remain with their components.

[2018-08-04 19:07] #183 closed

[2018-08-04 19:08] pisacode commented on #195
Hi @merlinpatt ,

Main reason is the app is a cordova exported mobile application and admin features are way to big to included with the mobile app. Therefore having two application for admin and normal users seems more convenient

[2018-08-04 19:28] merlinpatt commented on #30
# Baseline

- [ ] [Site is served over HTTPS](https://developers.google.com/web/progressive-web-apps/checklist#site-is-served-over-https)
- [ ] [Pages are responsive on tablets & mobile devices](https://developers.google.com/web/progressive-web-apps/checklist#pages-are-responsive-on-tablets--mobile-devices)
- [ ] [All app URLs load while offline](https://developers.google.com/web/progressive-web-a

[2018-08-04 19:47] pisacode opened #199 "Did not expect server HTML to contain a <nav> in <div>"
I am having this issue when hydrate runs at start-up. It normally resolves when you eliminate whitespace in rendering node. However I couldn't fixed it with the solutions mentioned in [here](https://github.com/facebook/react/issues/10879)

Any idea to fix it?

[2018-08-04 20:06] merlinpatt commented on #30
# Exemplary

## Indexability & social

- [ ] [Site's content is indexed by Google](https://developers.google.com/web/progressive-web-apps/checklist#sites-content-is-indexed-by-google)
- [ ] [Schema.org metadata is provided where appropriate](https://developers.google.com/web/progressive-web-apps/checklist#schemaorg-metadata-is-provided-where-appropriate)
- [ ] [Social metadata is provided where ap

[2018-08-04 20:26] merlinpatt commented on #195
You should be able to do this by setting MONGO_URL when you run the second application

To do this locally,

1. Run one app first (shouldn't matter which one).
  * This will run the app on port 3000 and the database on 3001
2. Run the second app with `MONGO_URL=mongodb://127.0.0.1:3001/meteor meteor --port 3002`
  * This will run the second app on port 3002 and the database on 3001

To do this in

[2018-08-05 01:15] #187 closed

[2018-08-05 14:57] merlinpatt commented on #148
We'll need to write an npm script for this. Removing files and folders is easy. The tricky part will be removing the relevant lines from files. We should assume the original lines haven't changed. Otherwise we'll have to make so many checks, it will be nigh impossible.

[code]

Here is a list of all the files that use or mention Documents that we would need to remove lines from

[code]

[2018-08-06 14:57] cleverbeagle commented on #148
Would it be possible for the specific lines to just keep a search strings file that we update whenever the documents examples change (should be rare enough to not be a chore).

[2018-08-06 14:58] isaac-martin opened #202 "Documentation Display Errors."
Some errors with Documentation styling. Not sure if this is on git anywhere, but if it is I can open a PR?

[code]

This negative margin means the footers overlap the code.

[2018-08-06 14:59] cleverbeagle commented on #202
@isaac-martin can you link me up to where this is overlapping the code?

[2018-08-06 15:37] cleverbeagle commented on #199
Hey @pisacode can you screenshot/paste the exact error you're getting?

[2018-08-06 18:39] isaac-martin commented on #202
Sorry should have done that originally
https://cleverbeagle.com/pup/v1/getting-started

![screen shot 2018-08-06 at 2 38 25 pm](https://user-images.githubusercontent.com/8649366/43734668-726b1454-9986-11e8-89a4-0df37e998c4b.png)

[2018-08-06 18:51] merlinpatt opened #203 "See if sitemap can be generated from react-router"
It would be ideal if the sitemap can be generated from react-router so there is only one source of truth.

Look into [this one](https://www.npmjs.com/package/react-router-sitemap) as a possibility or inspiration

[2018-08-06 18:52] #174 closed

[2018-08-06 18:53] merlinpatt opened #204 "Add a pre-commit hook for prettier"
To make using prettier / linting easier, a pre-commit hook would be ideal.

This will ensure consistent code for everyone and prevent a jarring change every time you save.

[2018-08-06 21:44] cleverbeagle commented on #202
Ah, got it. I think this was a goof due to our recent redesign. I'll take a look.

[2018-08-07 01:12] merlinpatt commented on #175
From what I'm reading, a `robots.txt` only has two options in it `User-agent` and `Disallow`. What are you thinking should go in here?

http://www.robotstxt.org/robotstxt.html

[2018-08-07 01:32] karldanninger opened #205 "Remove yarn.lock file"
Fresh clone and app crashes hard when you click either the sign up or log in buttons.

Client console output:

[code]

[2018-08-07 01:36] karldanninger commented on #205
why is there a yarn.lock file in this project? Threw me off.... Works fine when you `meteor npm install` instead of `yarn install`... tsk tsk

[2018-08-07 02:32] cleverbeagle commented on #205
Shouldn't be in there, looks like an artifact.

[2018-08-07 02:34] cleverbeagle commented on #175
`User-agent: *` for now should suffice. We just need to make sure we document it so that it's not a surprise for folks.

Makes me think, it may be good to create a "Big Important Things to Know" checklist that's shared as part of the getting started section.

[2018-08-07 02:35] cleverbeagle opened #206 "Add "Big Important Things to Know" checklist to Getting Started in docs"
We've either already or are starting to introduce some elements in Pup that have the potential to be a surprise. It'd be good to document these as part of the Getting Started info so that functionality is as transparent as possible.

[2018-08-07 03:12] merlinpatt commented on #175
Fixed by https://github.com/cleverbeagle/pup/commit/c378211253184966a5738036bde80e9ddad9a8a3

[2018-08-07 03:12] #175 closed

[2018-08-07 07:18] pisacode commented on #199
Sure,

This is the error message:
![screen shot 2018-08-07 at 10 13 21 am](https://user-images.githubusercontent.com/9843437/43760490-e2b19b12-9a2a-11e8-8661-12e84d294ae0.png)

This is where it is originated:
`Meteor.startup(() => hydrate(<ThemeProvider theme={theme}>
<Provider store={store}>
  <BrowserRouter>
    <Switch>
      <App />
     </Switch>
    </BrowserRouter>
 </Provider>
</ThemeProvi

[2018-08-08 07:53] choncj opened #207 "Pup Documentation bug"
#### Issue description
The Documentation has a styling bug which can be seen when trying to viewing the code examples.
The Issue is viewable when the Code example has a comment below it.

#### Steps to reproduce the issue
1. Visit [Getting Started](https://cleverbeagle.com/pup/v1/getting-started) (From any Browser) for example
2. Try to View or Copy example Code

Feel free to delete this issue whe

[2018-08-08 12:10] #207 closed

[2018-08-08 12:11] choncj commented on #207
sorry just seen this was addressed #202

[2018-08-08 18:50] cleverbeagle commented on #202
Fixed 🎉

[2018-08-08 18:50] #202 closed

[2018-08-10 15:44] cleverbeagle opened #208 "Improve security with browser-policy package"
This used to be in Base before it became Pup. It was an oversight leaving it out and I just realized it was never added back in :|

We can go back to the old Base repo and pull the rules from there (and review them for accuracy): https://github.com/themeteorchef/base/blob/master/imports/startup/server/browser-policy.js

https://themeteorchef.com/tutorials/using-the-browser-policy-package

[2018-08-14 14:50] cleverbeagle opened #209 "How are we doing with accessibility?"
Just came to mind. I don't think we're intentionally breaking any rules but it'd be good to do an audit before we release v2.0.0 to make sure there's no glaring issues.

[2018-08-15 10:59] merlinpatt opened #210 "Improve Performance with Tree Shaking"
See here: https://medium.com/@ninjaPixel/improving-the-performance-of-your-meteor-app-423cc94dfbd3

[2018-08-15 21:07] cleverbeagle commented on #209
@karldanninger negatory, that was out of date. We're planning an October 1st release for this. Lots of work to do yet.

[2018-08-15 23:30] evolross commented on #103
So maybe the Pro version is just every single Pupgrade? Looking forward to it.

[2018-08-16 00:08] cleverbeagle commented on #103
@evolross technically, yes, but we'll be adding i18n to Pup 2.0 for free.

[2018-08-17 12:10] cleverbeagle commented on #208
Update blog post on security when this is complete.

[2018-08-17 12:34] cleverbeagle commented on #208
https://www.npmjs.com/package/sanitize-html

[2018-08-17 13:33] cleverbeagle opened #211 "Add webhooks"
We should include some example patterns for handling webhooks. They're common enough to most products that it wouldn't hurt to have them.

[2018-08-18 08:15] akwilos opened #212 "Can't import images and icons."
Hello.
I have a problem with loading the images and icon.
What is the best and appropriate way to loading a data in pup app?

In addition, i have seen we have a two type app on master and on 2.0.0 It is possible to merge all new commits merged to master also to branch 2.0.0 Now i have seen one commits (with update history) not exsist in 2.0.0 branch

Thanks

[2018-08-18 08:29] MateoWartelle commented on #212
I am sorry I don't quite understand the question.  Maybe an example would be better to get to a resolution.

#### Images
[code]
#### Icons
[code]

[2018-08-18 12:30] choncj opened #213 "Issue including page transitions due to route components"
Hello!
I hope somebody can point me in the right direction with a small problem I’m facing.
Today i tried to include `CSSTransition` in to pup. Unfortunately i had small issues when i wanted to have smooth page transitions. I tried multiple approaches and the almost all of them turned out to have issues with the Route components included in pup.

_You can test and view a example right here:_
[**Co

[2018-08-19 11:09] akwilos commented on #212
Thanks @MateoWartelle
but in which folder should I put my images? in public or another?
and do you know any svg sprite packages for pup boilerplate.
I used a few the most popular packages and it doesn't work.

[2018-08-19 13:25] merlinpatt commented on #212
Your images need to go in public.

What sprite packages are you using?

[2018-08-19 22:06] ldapmadguy opened #214 "When proxied, redirect uri for google oauth is mismatched"
Hey guys,

Thanks again for the great work you're doing !
My meteor instance is proxied with ngix, everything work perfectly, except for google auth.
Indeed, the redirect uri is the wrong one, I have the following message :

whereas it should be directing to https://www.mysite.com/_oauth/google.

I launch meteor with the command :
`meteor --port www.mysite.com:8080 --settings settings.json `

So I

[2018-08-20 07:58] jesperordrup opened #215 "Restructure components"
And maybe even subfolders.

To keep a clear picture of which components is available for a certain area I find it easier if they are named as this:

Pages/Documents/DocumentEdit
Pages/Documents/DocumentView
Pages/Documents/DocumentList
Components/Navigation/NavigationPublic
Components/Navigation/NavigationAuthenticated

The current naming makes it difficult to see "what you have".

[2018-08-20 08:33] jesperordrup opened #216 "Feature: Slack integration"
It would be a great example on how to integrate using webhooks and exposing an endpoint.

Example

- Posting to slack channel when document collection is changed.
- Slash command to list documents, add comments

[2018-08-20 08:36] jesperordrup opened #217 "Feature: Image upload"
(its a classic)

Uploading images to Meteor apps must be one of the things that everybody tries to figure out how to do best.

Suggestion:
- Add the possibility to upload image to documents

[2018-08-20 13:25] cleverbeagle commented on #216
This is an interesting one. We do have an open issue for adding webhooks (#211) examples to Pup, but for receiving from not sending to third-party apps. This one would be best done as a Pupgrade (adding it to our list).

[2018-08-20 13:25] #216 closed

[2018-08-20 22:37] conciousweb opened #218 "Sign up / log in pages not working on new clone"
New clone, updated dependencies / non-breaking npm audit vulns and sign up / login pages are blank with the following errors:

[code]

[2018-08-20 22:42] conciousweb commented on #218
jquery validate was needed but not packaged, not sure why

[2018-08-20 22:42] #218 closed

[2018-08-21 18:34] akwilos commented on #212
this one: https://www.npmjs.com/package/react-svg-icons

And i see in my chrome console:
`Uncaught TypeError: FS.readFileSync is not a function`

[2018-08-21 18:36] cleverbeagle commented on #212
@akwilos if you're getting that error, than that package is expecting to be run in a server environment. `fs.readFileSync()` is not available on the client.

[2018-08-21 18:51] akwilos commented on #212
@cleverbeagle thank you. Its a package for react  which i use in the past. So what is a problem in meteor app?
Anyway, Do you know any packages for svg sprite, which will be work in our pup boilerplate?

[2018-08-22 14:16] cleverbeagle commented on #125
Making a note here for @merlinpatt that I'm using this issue for the branch.

[2018-08-22 16:41] cleverbeagle opened #219 "Add FetchData component"
The `<Query />` component from `react-apollo` is pretty killer. Once you hit the rendering stage, though, handling the loading/error states leaves room for inconsistency.

It'd be good if we had an optional `<FetchData />` component that was a version of `<Query />` with loading and error handling baked in. This way users could literally just pass us a query and we'd handle loading and errors if t

[2018-08-24 02:47] cleverbeagle opened #220 "We can do better with documents"
The documents feature is leaving something to be desired. I think we can do better. It'd be neat if it was like an actual document editor...like a simple Markdown sort of thing with a preview.

Would be a good learning tool for folks and really improve the overall quality of the app.

[2018-08-24 17:15] cleverbeagle commented on #219
Implemented this in the `feature/graphql_#125` branch but skeptical of its necessity. It _does_ save some lines of code but that's about it.

[2018-08-24 17:43] cleverbeagle commented on #220
This is starting to come together in mind. It'd be neat to add comments to documents (this came up in an older issue from a mentee suggestion) so that we can demonstrate nested fields in GraphQL.

[2018-08-27 18:56] merlinpatt opened #221 "Run npm audit before publishing 2.0.0"

[2018-08-27 20:36] cleverbeagle commented on #122
@denodaeus no ETA. We're at the mercy of the `react-bootstrap` folks. The reason we're not making a jump to `reactstrap` is two fold:

1.) It's a different API and our goal with Pup is to service our mentorship clients (and ourselves while teaching them) by keeping things as consistent as possible. If we can avoid the need to memorize a fresh API, it's worth waiting.
2.) Because it's mostly visual

[2018-08-28 13:22] cleverbeagle opened #222 "Add depth limiting and amount limiting to mutations"
This would be a good 2.1.0 or 2.2.0 issue.

We'll want to add some sort of rate limiting to our GraphQL mutations and there are some solid suggestions in this post: https://blog.apollographql.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b.

[2018-08-29 15:14] cleverbeagle opened #223 "jQuery Validation causing issues with a fresh clone"
See: http://forum.cleverbeagle.com/t/signup-login-pages-not-working/234/4

This has been reported by a couple of people so it'd be good to take a look and make sure we didn't goof something up in a previous release.

[2018-09-02 13:48] #204 closed

[2018-09-02 13:56] merlinpatt commented on #208
I've added browser-policy in on [this commit](https://github.com/cleverbeagle/pup/commit/afe0f56c34250fe874ec86fac135c4bb7d0c993f).

Where do we need input sanitization? We're not displaying any user's input as raw HTML.

[2018-09-02 14:40] merlinpatt commented on #203
Attempted install of [react-router-sitemap](https://www.npmjs.com/package/react-router-sitemap) but there was an error. Closing this for now

[2018-09-02 14:40] #203 closed

[2018-09-02 17:35] merlinpatt commented on #193
Started this on [this branch](https://github.com/cleverbeagle/pup/tree/feature/admin-roles). The roles display on the user list. For actual management, what do you think about a button that turns into a multi select dropdown?

[2018-09-02 17:53] merlinpatt commented on #220
Started this on [doc-comments branch](https://github.com/cleverbeagle/pup/tree/feature/doc-comments). I think we should separate out the GraphQL resolvers and types to each API folder (`Documents/resolvers`, `Documents/types`, etc). For a more complex app, these files could end up obscenely large. Thoughts?

[2018-09-05 00:42] cleverbeagle commented on #220
@merlinpatt 100% agree.

[2018-09-05 00:44] cleverbeagle commented on #193
Acknowledging this. Let me take a peek tomorrow and follow up .

[2018-09-06 19:48] cleverbeagle opened #224 "Fix all v1 docs references"
A lil' one. We've got to make sure that any URL references back to v1 docs are updated. Technically these won't hurt anything (v1 docs will still exist), but needs to match latest code so folks aren't confused.

[2018-09-08 21:58] cleverbeagle commented on #220
Realizing our implementation is kind of booty. Right now the logic is your /documents list is private and limited to you, the current user, while ALL of your documents are instantly public (to demonstrate SSR). This should be toggleable so folks can decide which documents are public (and SSR) vs. which are obscured.

[2018-09-09 07:53] Salamit commented on #194
@pisacode sorry that this is late. I stepped away from pup for a bit. I will try as you suggested. I do want to get rid of jquery. Any luck on your end?

[2018-09-10 19:28] merlinpatt opened #225 "Update styled components?"
Should we update to the beta v4 of styled components?

https://medium.com/styled-components/announcing-styled-components-v4-better-faster-stronger-3fe1aba1a112

[2018-09-10 21:04] cleverbeagle commented on #225
Yeah, looks like we should as the beta will only last a month or so. Best to get inline with any major changes for 2.0.

[2018-09-10 22:20] auBusinessDaD commented on #211
Hey guys, happy to help where I can - but an idea for an example here could be a post webhook, so as an admin I can send out a notification to all users of something - e.g. a notification like "we are performing an upgrade, expect performance delays" ?? or something less dramatic like "we have a new feature or special" ??

[2018-09-11 10:16] Salamit commented on #194
@pisacode I found a work around the specific issue of `Bootstrap's JavaScript requires jQuery version 1.9.1 or higher, but lower than version 3`

Simply include this in at the top of your main.html file
[code]
Source: https://react-bootstrap.github.io/getting-started/introduction/

This is now an issue of the form validator not working.

[2018-09-11 15:16] Salamit opened #226 "Uncaught TypeError: $(...).validate is not a function."
I'm getting the following issue, `Uncaught TypeError: $(...).validate is not a function.` I recently updated from jquery ^2.24 to jquery ^3.1.1 because of the Cross-Site Scripting (XSS) issue raised by npm audit.

[2018-09-12 18:13] cleverbeagle opened #227 "Add documentation for modules and components"
There are a lot of nuanced pieces of Pup that need to be documented. It'd be ideal if these were ready for 2.0 but it may be a bit much (we'll see). Regardless, we need to add "API" level docs, for example, in the navigation of the docs:

[code]

Each "doc" would just be an explanation of what that module/component is and, if it's not self-explanatory, how to use it w/ an example.

@merlinpatt you

[2018-09-13 17:57] cleverbeagle opened #228 "Getting Started with Pup Email Automation"
Putting this here for now but may move it.

Pup 2.0 is introducing a TON of new concepts. It's likely to be the last introduction of major changes for a few months. Because we know it will be stable, we should focus on generating some "getting started" content that can be released as tutorials on the blog but also as an autoresponder for folks signing up to the Pup mailing list.

Let's post ideas

[2018-09-13 22:01] cleverbeagle commented on #125
Some things we'll need to document:

- Single query/mutation `.gql` files under `/ui` need to be imported as _default_ exports while multi query/mutation `.gql` files need to be imported as _named_ exports.

[2018-09-14 17:31] cleverbeagle commented on #226
This is a known issue. jQuery Validation is dependent on the < 3 version of jQuery so it's a catch-22. We'll need to move away from jQuery Validation at some point but it's low priority for now.

[2018-09-14 17:32] cleverbeagle commented on #194
@Salamit thanks for sharing notes. This is on our radar but will require moving around some other parts in use in the framework like you noted.

[2018-09-14 17:39] cleverbeagle commented on #193
@auBusinessDaD can you share some more info about what you're asking? There's this component in React Bootstrap that may be of interest: https://react-bootstrap.github.io/components/dropdowns/#btn-dropdowns-split

[2018-09-14 22:35] auBusinessDaD commented on #193
Thanks @cleverbeagle, I was following on from @merlinpatt's idea to display the current value (or assigned role) and then have the button to edit it change into the select.
I have been thinking about this this week and i am not sure that would work best if we did multi-select for roles.

[2018-09-17 07:39] manacim commented on #226
Any update on this? I am running jQuery 2.2.4 and I'm still getting the error on those 2 pages.

[2018-09-17 13:08] cleverbeagle commented on #226
@manacim see comment above, this is currently a nofix because we're dependent on an earlier version of jQuery. I would double check that you have `2.2.4` installed by doing a full `meteor npm install`. If that doesn't work, try deleting the `node_modules` directory at your root and then run `meteor npm install` again.

[2018-09-17 20:28] cleverbeagle opened #229 "Comments"
The rewrite of the Documents feature is ready to go but it'd be good to spend some more time with comments. @merlinpatt suggested we move this to a 2.1+ release which makes sense. We can use this as a way to showcase subscriptions in GraphQL (the wiring is there on the server but we need a client side example).

[2018-09-17 20:29] #195 closed

[2018-09-17 20:29] #212 closed

[2018-09-17 21:46] manacim commented on #226
@cleverbeagle yeah thanks I got it working. I'm completely new to meteor and this framework.

[2018-09-17 22:15] auBusinessDaD commented on #229
What is your release cycle? i.e. V2 and then incrementally from there?

[2018-09-19 20:59] merlinpatt commented on #177
While it looks nice, after investigation, this is not worth the move. MJML has no capability for variables. Their reasoning is that it starts with variables, and then people ask for loops, conditionals, etc. While we certainly could do this, it would take away from customer experience to not be able to customize emails.

Additionally, I think that this falls beyond the scope of what we want people

[2018-09-19 20:59] #177 closed

[2018-09-20 13:36] cleverbeagle opened #231 "Add tutorials to /pup landing page"
The most obvious question when someone first finds Pup is "how do I use this?" This can easily be answered by adding a set of tutorials to the /pup landing page that map back to our blog.

[2018-09-20 13:37] cleverbeagle opened #232 "Add "Built with Pup" section to /pup"
A common question we get is "what has Pup been used to build?" It'd be good to have a showcase of these projects (whether from mentees, folks in the community, or ourselves) so people can see what's possible.

[2018-09-20 14:25] pisacode opened #233 "Meteor.isCordova with ssr"
Hi,

Since ssr run render pages on Server, Meteor.isCordova is not working. So how should we check to see if the client is cordova?

Thanks

[2018-09-20 15:58] cleverbeagle opened #234 "Add blacklist to SSR"
Quite a few folks have reported scenarios where they need to prevent the SSR of a page. It'd be nice if we could have a blacklist feature where you could specify a URL/pattern and when we get that match on the server, bypass the SSR entirely.

[2018-09-20 16:34] merlinpatt opened #235 "Add input sanitization"
https://www.npmjs.com/package/sanitize-html

[2018-09-20 16:41] #208 closed

[2018-09-20 16:42] cleverbeagle commented on #103
Knocking this off 2.0. It's not going to apply to our target demographic and can easily be taught via a tutorial (e.g., "How to Add i18n to Pup").

[2018-09-20 19:25] cleverbeagle opened #236 "Improve README.md"
Because folks are building products with Pup, it'd be good if the `README.md` provided an example for their own projects (more than just the title and promo info we have now). Stuff like:

- DNS & SSL
- Settings & Configuration
- Dependencies
- Commands
- Git & Branching
- Testing
- Releasing

This way Pup ships with a sort of built-in process so teams can quickly get up to speed.

[2018-09-20 22:05] auBusinessDaD commented on #231
Oooh, this i can actually help with without getting in the way! Want me to take it fellas?

[2018-09-20 22:08] auBusinessDaD commented on #232
Meteor do this to some effect and i do agree, probably more something for the pup discussion forum though? We would need developers to get in touch though.

From GitHub view though, this could be great on the app home page? Maybe merge this issue with that?

[2018-09-23 18:25] cleverbeagle opened #238 "Can we utilize Docz?"
Came across this in a tweet: https://www.docz.site/.

Looks like it may save us some fuss with our own docs.

[2018-09-24 14:43] cleverbeagle commented on #232
Hey @auBusinessDaD that's a good idea. Would you be willing to start a thread on the forum for us (something like "Are you building with Pup? We want to add you to our showcase!")?

Can you clarify the other issue you're talking about? This one is just for us internally so we know about the work to be done.

[2018-09-24 14:45] cleverbeagle commented on #231
Hey @auBusinessDaD this is for our site at https://cleverbeagle.com/pup so we'll be handling this one internally. Do you have any experience with CraftCMS/PHP by any chance, though?

[2018-09-24 16:57] auBusinessDaD commented on #231
Ahhh, I thought this was to do with the boiler plate 'default' home page that comes up when you first clone.

I have experience with CraftCMS/PHP, but am not an expert.

[2018-09-25 15:03] cleverbeagle commented on #231
@auBusinessDaD okay, can you send an email to ryan.glover@cleverbeagle.com? May be a freelance opportunity here.

[2018-09-28 00:09] auBusinessDaD commented on #231
Email just sent

[2018-10-17 23:12] cleverbeagle opened #240 "Move action related code into an actions folder in the respective /api subdirectory"

[2018-10-17 23:50] cleverbeagle opened #241 "Remove handleUpdateApolloCache and use refetchQueries"
This just came up with a mentee. Way easier to use the latter and less confusing.

[2018-10-22 21:27] cleverbeagle opened #242 "Swap usage of meteorhacks:picker with WebApp in sitemap"
No need to add a dependency for this. We can just use Meteor's WebApp package.

[2018-10-22 23:15] cleverbeagle opened #243 "Review files and remove any scraps"
I'm spotting some stuff that needs to be scrubbed for 2.0. Would be good to expand the file tree and step through it and see what's unnecessary.

[2018-10-22 23:42] meteorplus commented on #243
clever thinking ;)

[2018-10-22 23:43] meteorplus commented on #238
wow so sick

that's so good

[2018-10-23 18:19] cleverbeagle opened #244 "Isomorphic Validation"
This has been on my mind for awhile and needs some attention. Currently, our validation is split between jQuery Validation on the client and (as of 2.0) our GraphQL schema on the server. Ideally, we can simplify this by having a single layer of validation that covers both client/server.

This is a big project so will have to come after 2.0 but want to make note of it now so it's on our radar.

[2018-10-25 18:46] cleverbeagle commented on #244
Note: storing validation code in another file as a pattern? We're adding the `<Validation />` component in 2.0 but that's based on jQuery Validation. Validation can get kind of hefty so this might be nice.

[2018-10-25 18:54] cleverbeagle commented on #244
Possible API:

[code]

[2018-10-26 14:42] #225 closed

[2018-10-26 16:35] cleverbeagle commented on #219
Moving away from this. Turns out the HOC/container pattern is less code and far easier to understand.

[2018-10-26 16:35] #219 closed

[2018-10-26 16:36] cleverbeagle commented on #220
This is good to go!

[2018-10-27 03:33] merlinpatt commented on #242
Closing since it is easier to do webhooks with picker

[2018-10-27 03:33] #242 closed

[2018-10-27 03:44] merlinpatt opened #247 "Add better webhook example"
#211 (add webhooks) was implemented with a very basic example with curl. After v2 is out, it would be great to add some better examples.

[2018-10-27 03:44] #211 closed

[2018-10-27 16:19] merlinpatt commented on #238
Played around with this. While docz will work with basic components, any components that import Meteor packages won't work. Unless we can document using one tool, we shouldn't switch to a different tool.

[2018-10-27 16:22] #238 closed, assigned to merlinstardust, cleverbeagle

[2018-10-27 18:00] cleverbeagle opened #250 "Add example unit tests, integration tests, and e2e tests"

[2018-10-29 13:18] cleverbeagle commented on #244
This looks neat, I'll take a look @sabativi :)

[2018-10-29 14:01] cleverbeagle opened #251 "API Consistency"
I'm noticing some API inconsistencies throughout the app that need to be corrected. Going to update this as I notice more, but:

- Exporting styles as a single object vs. a named export.
- Using class properties for `state` vs. `constructor()` usage.
- Creating refs in the constructor via `React.createRef()` vs. inline on elements.
- Binding via arrow functions vs. constructor or `autoBind()`.

[2018-10-29 14:42] cleverbeagle opened #252 "Logging"
This keeps coming up and it'd be good to standardize. Right now in Pup, errors are simply logged to either the client or server console. This is fine in dev, but it'd be good if there was an easy convention for hooking in Slack or another service.

This may be best done as a Pupgrade (some folks may not want to output to a logging service), but this feels like a good free thing.

[2018-10-29 17:09] cleverbeagle opened #253 "Add unit test for Validation component"
Need to ensure that the component validates the `children` prop correctly. Would be a good opportunity to showcase unit testing with Jest and Enzyme.

[2018-10-29 17:19] evolross commented on #252
It could be a good idea to show an example or have the pupgrade show how to send Galaxy's logs to a custom logging solution (e.g. ElasticSearch).  [There's a way to do this](https://galaxy-guide.meteor.com/logs.html).

[2018-10-29 18:34] cleverbeagle commented on #252
@evolross I'll take a look, but I'll only do it if Dirk Diggler approves.

[2018-10-29 20:50] cleverbeagle opened #254 "Migrate Meteor accounts to use GraphQL"
Right now this is dependent on a `withTracker` container on our `<App />` component. Because the only thing that really needs the user at that level is our routing, it may be worth experimenting with a HOC or the Context API to see if we can isolate just to the components that need it.

[2018-10-29 23:53] merlinpatt commented on #254
I think the Context API is the way to go. We can get the info at the top level, put it in a UserData context provider, and then lower levels can get it as needed.

I think the main issue surrounding auth is how to handle users who logged in, left, and came back.

For new sign ups or folks who log out and come back, it's easy. They get shown the log in / sign up page. We do the back end stuff and p

[2018-10-30 11:34] cleverbeagle commented on #254
@merlinpatt we can just do what we do now and rely on the `Meteor.loggingIn()` prop to tell us whether or not we should expect a user to be present. If logging in, we won't render anything, if not, we'll check to see whether we have a user and route accordingly.

[2018-10-30 23:48] cleverbeagle opened #255 "Make sure loading and blank states are consistent"
Seeing a few spots where data loading and blank states are used inconsistently. Would be good to review and make sure every page has this (consider a component/HOC for this, too).

[2018-10-31 13:12] cleverbeagle opened #256 "Refactor the AdminUser and Profile components into one"
These are nearly identical with just a few bits that need to be triggered on/off depending on the user role. It's a mini project unto itself, but worthwhile to improve reusability.

[2018-11-01 18:34] cleverbeagle opened #257 "Scan repo for /pup/v1 mentions of docs and update"
Spotting some /v1 mentions as comments. These should be updated for their latest version.

[2018-11-02 15:38] ArchiCroc commented on #215
I agree, I'm kicking off a new project that will have a lot modules.

To help keep mine organized I've refactored pup all the pup pages into subfolders for  each modules with a components folder for the components unique to those pages like-

imports/ui/{{module}}
imports/ui/{{module}}/components

So imports look like this:

imports/ui/admin- for admin pages
imports/ui/components - for common comp

[2018-11-04 17:48] cleverbeagle commented on #215
Hey @ArchiCroc, this has been decided for 2.0. Happy to link to a fork that follows this pattern, or, do a guest post on the blog about the advantages of using this pattern.

[2018-11-04 17:48] #215 closed

[2018-11-04 18:10] cleverbeagle opened #258 "Review and patch security vulnerabilities"
We've been getting some alerts on sub-dependencies having security vulnerabilities. Would be good to review/resolve these as possible.

[2018-11-05 13:43] cleverbeagle opened #259 "Bump Meteor to 1.8.0"

[2018-11-05 17:46] #125 closed

[2018-11-05 17:46] #220 closed

[2018-11-05 17:46] #229 closed

[2018-11-05 17:46] #240 closed

[2018-11-05 17:46] #241 closed

[2018-11-05 17:46] #259 closed

[2018-11-05 18:15] #235 closed

[2018-11-05 18:17] cleverbeagle opened #260 "Update History.md for 2.0.0"

[2018-11-05 19:28] #236 closed

[2018-11-05 19:28] cleverbeagle commented on #227
This will be ongoing. Going to move it off 2.0.0.

[2018-11-05 20:44] cleverbeagle commented on #123
Documenting @merlinpatt's refined version of this:

[code]

[2018-11-05 21:04] wortkotze commented on #255
probably this would help:
https://github.com/cleverbeagle/pup/issues/128

[2018-11-07 17:34] jesperordrup opened #261 "Rename button "Share" To "Post Comment""
When viewing the document you can post a comment. I suggest renaming the button "Share" To "Post Comment" as it is more clear what exactly will happen.

[2018-11-07 17:38] jesperordrup opened #262 "New document constantly "Saving ..." while typing (branch 2.0.0)"
Hopefully, it's not saving constantly but only when typing stops.

Suggestion: Only change status to "Saving ..." when actually saving.

[2018-11-07 17:42] jesperordrup opened #263 "Add ability to sort comments by newest or oldest"
When viewing the document list the comments in reverse date order (newest top). When posting a new comment this also makes it easier to see your posted comment.

[2018-11-07 17:47] jesperordrup opened #264 "Improve users search/sensitivity in admin"
Go to admin/users
type user+23

Expected: 1 hit
Result: 0 hits

Workaround:
Edit and save user. Then search works.

[2018-11-08 13:55] #250 closed

[2018-11-08 13:55] #251 closed

[2018-11-08 13:55] #123 closed

[2018-11-08 17:37] #243 closed

[2018-11-08 17:37] #255 closed

[2018-11-08 17:59] cleverbeagle commented on #262
This is intentional and taken from Google Docs. Going to close this one out.

[2018-11-08 17:59] #262 closed

[2018-11-09 14:17] #221 closed

[2018-11-09 14:34] #260 closed

[2018-11-09 22:31] #213 closed

[2018-11-09 22:31] #224 closed

[2018-11-09 22:32] #206 closed

[2018-11-09 22:32] #199 closed

[2018-11-09 22:33] #191 closed

[2018-11-09 22:33] #189 closed

[2018-11-09 22:35] #124 closed

[2018-11-09 22:35] #126 closed

[2018-11-09 22:35] #163 closed

[2018-11-09 22:35] #167 closed

[2018-11-09 22:35] #172 closed

[2018-11-09 22:35] #180 closed

[2018-11-09 22:35] #181 closed

[2018-11-09 22:35] #182 closed

[2018-11-09 22:35] #6 closed

[2018-11-09 22:35] #7 closed

[2018-11-09 22:36] #39 closed

[2018-11-09 22:36] #75 closed

[2018-11-09 22:36] #76 closed

[2018-11-09 22:36] #150 closed

[2018-11-09 22:36] #152 closed

[2018-11-09 22:36] #169 closed

[2018-11-09 22:36] #170 closed

[2018-11-09 22:36] #171 closed

[2018-11-09 22:37] #136 closed

[2018-11-09 22:37] #143 closed

[2018-11-09 22:37] #223 closed

[2018-11-09 22:37] #226 closed

[2018-11-09 22:38] #127 closed

[2018-11-09 22:38] #131 closed

[2018-11-09 22:38] cleverbeagle commented on #131
Going to solve this in a different way via Hound.

[2018-11-09 22:40] cleverbeagle opened #265 "Fix seeder creating 100 instead of 5 test users"
This was a freudian slip from 2.0 dev. This should be set back to 5 as 100 is unnecessary.

[2018-11-09 22:42] cleverbeagle commented on #264
Going to call this an improve. MongoDB's regex search is ignoring the + so we need to factor that in.

[2018-11-09 22:44] cleverbeagle commented on #263
Going to rethink this one. Most comment systems put your comment at the bottom (in order it was posted). We could utilize subscriptions to put this at the top and highlight it as "your comment" and then on refresh, it moves to bottom as expected.

[2018-11-09 22:45] #257 closed

[2018-11-09 22:45] #258 closed

[2018-11-09 22:45] #192 closed

[2018-11-09 22:50] cleverbeagle commented on #122
Going to close this one. It would be best to just focus on migrating Pup to use [Fur](https://cleverbeagle.com/fur) moving forward so we can avoid headaches with this.

[2018-11-09 22:52] #209 closed

[2018-11-09 22:55] cleverbeagle commented on #244
Flagging this as a 2.1 thing to motivate research but may end up moving it to later release based on results.

[2018-11-10 17:22] cleverbeagle opened #266 "Research TypeScript"
THIS DOES NOT MEAN PUP IS MOVING TO TYPESCRIPT.

I've seen/heard a lot of great things about it and want to give it a fair try before shrugging it off as another CoffeeScript type of thing.

Some things to evaluate:

- Does it help to make Pup more stable by improve code quality?
- Does it help developers to improve their craft or just learn another dialect?
- How selective can usage be? Can we in

[2018-11-12 13:43] jesperordrup commented on #266
If the javascript developers wanted typescript then javascript would have adapted the ways of typescript long ago.

Agree

[2018-11-12 16:45] wortkotze commented on #263
proposal: make it configurable in the user config
we have such a cool way to add user preferences :) - we could use it

[2018-11-12 17:22] cleverbeagle commented on #266
Oof! Noted, thanks for the thoughts folks.

[2018-11-12 23:19] ArchiCroc commented on #244
@cleverbeagle I've used uniforms for one of my past projects and I started work on an example of what uniforms might look like in Pup. See https://github.com/ArchiCroc/pup/tree/feature/uniforms.

[2018-11-13 15:42] cleverbeagle commented on #244
Thanks for sharing @ArchiCroc :) I'll take a look.

[2018-11-13 19:22] cleverbeagle opened #267 "Fix webhooks example not receiving query params"

[2018-11-14 05:32] exilef opened #268 "Fresh install on Ubuntu 18.04 does not seem to work"
Hi,

I cloned the latest pup at commit 9bbffd86ec28fbfd87c0fa2aa1079971f3f74d58 and followed [the install instructions](https://cleverbeagle.com/pup/v2/cloning-installing-dependencies) - but somehow I cannot get it to run, it crashes with an error when I start it with `meteor run` (see below). Steps performed:

1. On a fresh Ubuntu 18.04 I first installed Meteor 1.8 with `curl https://install.mete

[2018-11-14 07:29] Falkovic1993 commented on #268
Hi @exilef, I guess you just want it to run on localhost right?

Can't remember if it's something the pup team changed from version 1, but try using the command `npm run dev` to run it locally.

I believe meteor run will try to run it either on staging or production which fails because you need to configure it with your own settings before doing that.

[2018-11-14 09:11] exilef commented on #268
That worked, thanks!!

[2018-11-14 13:53] #268 closed

[2018-11-14 13:54] cleverbeagle opened #269 "Document npm scripts"
We have a [doc for package.json](https://cleverbeagle.com/pup/v2/settings-configuration/package-json) but it doesn't explain the scripts included and what they do.

[2018-11-14 13:55] cleverbeagle commented on #228
- Defining a component
- Defining a route
- Wiring up data via GraphQL
- Managing user accounts (along w/ `context.user` in resolvers)

[2018-11-14 20:42] cleverbeagle opened #270 "User settings not updating if user doesn't change defaults"
User settings update fine if the user makes a change, but if they just hit save, the settings are not flagged as being reviewed by the user.

[2018-11-14 20:50] #265 closed

[2018-11-14 21:15] #267 closed

[2018-11-15 15:13] cleverbeagle commented on #270
This has to do with the Apollo cache. The change is happening in the DB, but the client side isn't updating without a page refresh.

[2018-11-16 17:21] nicu-chiciuc commented on #266
I think that TS should be mandatory for any big SPA. Currently I'm working on a project which doesn't use it and I feel that I'm spending too much time just trying to figure out what goes where. TS is not the best solution but it definitely forces a better code base. I'm not sure what "the javascript developers" wanted, but they'd probably still use jQuery if there weren't some disruptive changes

[2018-11-17 10:17] rlhk opened #271 "Document using a hardcoded local URL"
Developing on the default config with localhost:3000 is fine.

However when I tried to test the local dev version from a device in the local network, say 192.169.110.1:3000, one of the client requests is still pointing to localhost:3000. Specifically, it's `http://localhost:3000/__meteor__/dynamic-import/fetch`, which makes the app unresponsive/unable to login from devices other than localhost.

W

[2018-11-18 17:16] cleverbeagle commented on #271
Hi @rlhk. Good question. That's not a URL that Pup configures directly—you'd need to change the URL of the app directly on startup. You can do this with the following in your terminal:

[code]

or

[code]

[2018-11-18 18:15] jesperordrup opened #272 "Show the graphql powers on documents list"
Add comments count to the list of documents to show the true power of graphql.

The example should show how to do a calc on comments

{documents {
   title
   _id
   commentCount
}}

I assume that Query type would require a new field to be added 'commentCount' which should be resolved somehow?

I did try - no luck :)

[2018-11-18 18:45] cleverbeagle commented on #272
What does your resolver function look like?

[2018-11-19 07:49] rlhk commented on #271
Cool that works. Is this a potential issue that should be fixed at Meteor side?

[2018-11-19 08:09] rlhk opened #273 "Unexpected behaviour of GraphQL/PupQL subscription"
I've been away from Meteor for a while and quite new to the GraphQL setup.

I'm playing on the comment subscription setup of a new Pup project. And I observed the following unexpected behaviours:

1. Opened a few Chrome tabs/windows (one is Incognito mode), plus a mobile Safari (related problem solved in another issue: https://github.com/cleverbeagle/pup/issues/271). Let's say session A,B,C
2. All

[2018-11-19 08:31] rlhk commented on #271
mm... I found that I need to hardcode my intended IP & port in `settings-development.json` like so:

[code]

Otherwise I'll have Apollo errors:
[code]

[2018-11-19 12:05] jesperordrup commented on #272
I added the commentCount field to the Type:

`export default
  type Document {
    _id: String
    isPublic: Boolean
    title: String
    createdAt: String
    updatedAt: String
    body: String
    owner: String
    comments: [Comment]
    commentsCount: Int
  }
;`

First thought was to add logic to the existing resolver for documents (api/Documents/queries.js)

` documents: (parent, args, conte

[2018-11-19 14:40] jesperordrup commented on #272
I made it work in this example. The query for authors counts number of posts.:
https://launchpad.graphql.com/ln5x3vqqwq

So I tried the same - heres the type:

`export default
  type Document {
    _id: String
    isPublic: Boolean
    title: String
    createdAt: String
    updatedAt: String
    body: String
    owner: String
    comments: [Comment]
    commentsCount: Int
  }
;
`

And the resolve

[2018-11-19 16:37] cleverbeagle commented on #273
Hi @rlhk, good question. I noticed this the other day but was hesitant to log an issue. My bet would be something with the WebSockets implementation—I hadn't caught that `Network error` you posted, so I'll need to take a look.

[2018-11-19 18:42] jesperordrup commented on #272
SOLVED

Forgot to add the object structure to the resolver object (in api.js)

   Document: {
      comments: CommentQueries.comments,
      commentsCount: CommentQueries.commentsCount,
    },

[2018-11-19 18:54] jesperordrup commented on #273
Confirmed. Ive seen similar behaviour. Here's a screenshot from console:

![image](https://user-images.githubusercontent.com/3120151/48728264-ca392f80-ec34-11e8-92b6-0d219edae207.png)

[2018-11-26 16:06] cleverbeagle opened #275 "Consider adding jsx-control-statements Babel plugin"
A Pupateer (you can walk away now) asked if this could be added: https://www.npmjs.com/package/babel-plugin-jsx-control-statements.

It's come up before and seems handy. Worth considering for an upcoming release.

[2018-11-27 02:38] rlhk commented on #271
Hi @cleverbeagle I think the main issue could be regarded as resolved.
However I'm wondering if you like the idea of overriding the Uris defined in `settings-development.json` when custom Uri is provided. Would love to submit a PR for that.

[2018-11-27 16:17] cleverbeagle commented on #271
@rlhk I'd like to avoid that as it's a specific use case that doesn't come up very often (I think you're the first to ask ever). I'd be open to adding something to the docs, though, or doing a guest post on the blog showing how to do it.

[2018-11-28 15:59] cleverbeagle opened #276 "Can we be more economical about what we pass as props and state in <App />?"

[2018-12-14 06:07] chathuraa opened #278 "How do I use 'Meteor' packages in e2e tests?"

[2018-12-16 18:19] cleverbeagle commented on #278
Hi @chathuraa can you provide some more info on what you're trying to accomplish?

[2018-12-17 00:46] chathuraa commented on #278
I have asked the question over here as well.
https://forums.meteor.com/t/e2e-testing-with-test-cafe-how-to-access-meteor-methods/47042

[2018-12-17 01:08] cleverbeagle opened #279 "Fix incorrect number of credits being added message on /me/mentorship"
The "here's what will be added when your subscription renews" text is displaying 2 credits instead of 4 for together subscribers.

[2018-12-17 01:09] #279 closed

[2018-12-27 13:36] SachaG commented on #254
Are you guys rolling out your own GraphQL account solution? Or maybe using something like https://github.com/flyblackbird/apollo-accounts

[2019-01-11 05:49] ceigey commented on #266
Hi all, not a regular but evaluating Pup for a project, and TypeScript was something we wanted to adopt. So here's my thoughts.

---

The approach in the community seems to be "set things up so TypeScript can be used if needed". In any case, this is the philosophy TypeScript embraces by being a relatively strict superset of JavaScript, which we see in how the dev team approach TC39 proposals*.

It

[2019-01-14 01:03] cleverbeagle commented on #266
Thanks for sharing and all of the detail @ceigey. I'll keep all of this in mind.

Re: your question about the question re: licensing, this is regarding whether or not TypeScript's own licensing will work well with our MIT license and desire to keep things as free as possible (i.e., is there some weird patent clause like React used to have).

[2019-01-14 15:55] TroubadourFabiolas opened #281 "Bug deployment on heroku"
Hi,

**1) In the first time,** when I deployed the origin code to heroku server with git clone https://github.com/cleverbeagle/pup <my-project-name>

The launching application didn't work.

I managed to correct this with to copy the content of 'settings-development.json' file and paste in Heroku => myProject => Setttings => Reveal Config Vars => Key : METEOR_SETTINGS and Value : I pasted here the

[2019-01-16 04:38] ceigey commented on #266
Ah, apologies @cleverbeagle, my brain was on "trying to be helpful"-autopilot there ;-)

Some updates from experimenting:
There's quite a few solutions being proposed here for Meteor + TypeScript: https://github.com/meteor/meteor-feature-requests/issues/285

I found that meteor/ecmascript + TypeScript were fighting as far as imports and dependencies were concerned with `adornis:typescript`, leadin

[2019-01-17 00:52] cleverbeagle commented on #281
Hi @TroubadourFabiolas, a quick fix may be this: https://github.com/meteor/meteor/issues/3509#issuecomment-306574572.

Off hand, though, I've seen this warning too and think I can tweak how the PupQL package attaches to Meteor's websocket server. Need to investigate a bit more.

[2019-01-17 17:51] #278 closed

[2019-01-21 12:42] izaa opened #282 "Add ability to attach Meteor's websocket server to GraphQL server in PupQL"
Hi,

Pup 1 we could easily deploy the app to Galaxy. How to deploy 2.0 to Galaxy and what should be the address of graphql wsUri in settings.json?

[2019-01-22 19:25] cleverbeagle opened #283 "Review deps"
Looks like a few dependencies are left over from 1.x that need to be pulled out.

[2019-01-22 19:45] cleverbeagle commented on #281
Closing this in favor of #280 (same problem).

[2019-01-22 19:45] #281 closed

[2019-01-22 23:52] cleverbeagle opened #284 "Merge PupQL into Pup"
Reviewing it now (and based on recent questions/issues), I think it'd be wise to just make this a customizable file like anything else in Pup. No need for it to be a package at the moment. Original intent was so you could use it as a standalone server but that's not an immediate need.

[2019-01-22 23:56] #228 closed

[2019-01-22 23:56] #231 closed

[2019-01-22 23:56] #232 closed

[2019-01-22 23:56] #275 closed

[2019-01-22 23:57] cleverbeagle commented on #148
Closing in favor of #185

[2019-01-22 23:57] #148 closed

[2019-01-27 17:28] cleverbeagle opened #285 "Review Meteor test mocks"
Just found the structure of the `Random` mock isn't quite right. Should be:

[code]

Missing inner `Random` object.

[2019-01-27 17:54] cleverbeagle commented on #285
Update the Mongo mocks w/ `.upsert()` function.

[2019-01-28 11:40] msavin commented on #30
iOS 12 is coming with some big PWA updates!

https://twitter.com/mhartington/status/1089292031548145666

[2019-02-06 10:59] 95zz opened #286 "Can add qq to log in newly and WeChat pay treasure to pay a function,"
Can increase qq login and WeChat payment and alipay payment function, thank you

[2019-02-06 18:35] cleverbeagle commented on #286
Hi @95zz, the goal of Pup is to keep things simple. No intent to add any of these services at the moment. Happy to link to a fork, though, if you implement them.

[2019-02-06 18:35] #286 closed

[2019-02-06 18:36] cleverbeagle opened #287 "Swap Moment with Luxon"
Luxon is a modern version of Moment created by the same author. It seems like it's a bit lighter and could reduce bundle size quite a bit.

[2019-02-13 08:40] msuvojit opened #288 "Error while importing css from library"
I am trying to import 'react-dates' css file in react component in my application but I am getting the following error while importing.

[code]

What is the way to import CSS in pup? Please let me know if you need any other information.

[2019-02-13 21:33] #288 closed

[2019-02-16 07:47] pungggi commented on #52
Hello we have this message in v 1.8 of meteor

[2019-02-18 23:38] cleverbeagle opened #289 "Avoid rendering navigation on server"
Finding some weird kinks with this. On some refreshes, certain elements on the page get messed up because the server render is incomplete and clashes with the client render. Noticing this with navigation quite a bit. Temp solution that should be explored further:

[code]

Here, `props.isServer` is passed down via the `<App />` component. The idea here is that on the server render, we pass a prop `

[2019-02-20 06:14] wei170 commented on #253
Hi,
Do we have any update on this? I have some errors in importing gql files to react component. For example,
[code]

Thank you

[2019-02-20 17:04] cleverbeagle commented on #253
@wei170 your GraphQL problem seems unrelated. Are you having trouble with the `<Validation />` component?

[2019-02-20 17:31] wei170 commented on #253
I do have another problem with the Validation component about `import`.

[2019-02-20 20:58] wei170 commented on #253
I have the following error:
![image](https://user-images.githubusercontent.com/13220740/53124006-573b9f80-3528-11e9-9411-4e99ce8e4975.png)

[2019-02-28 17:56] cleverbeagle commented on #253
@wei170 can you share your test file you're trying to run?

[2019-03-10 11:12] johnsonchandra commented on #273
any update on this issue?

I noticed that on server it triggered the onDisconnect at SubscriptionServer.create
onDisconnect: () => {
      console.log(`[PupQL] Woof! Subscription client disconnected...`);
    }

why would it be disconnected for previous connections, and only the last client is keep connected?
any idea guys?

[2019-03-11 15:44] cleverbeagle commented on #273
@johnsonchandra it's on my radar but haven't taken a look yet.

[2019-03-25 19:33] cleverbeagle opened #291 "Handle deeply nested objects in unfreezeApolloCache"
Just ran into a scenario where unfreezeApolloCache should be aware of nested objects/data coming back from Apollo:

[code]

Using `Object.entries()` to traverse the object and check if `__typename` exists does the trick.

**Edit**: First version was only clearing at first level. This recursively removes `__typename`.

[2019-04-06 16:27] ayhid commented on #281
Hello,  I am facing the same issue after deploying my app on AWS using mup. I am maybe not seeing the big picture here but I don't understand how the issue described here is related to #280 .

@cleverbeagle could you please explain?

Thanks a lot

[2019-04-08 12:41] ayhid opened #292 "PupQL source code"
Hi,
I am trying to figure out how PupQL create the websocket server for subscriptions but I cant manage to find it's source code.

Is it on a private repository ?

[2019-04-08 12:43] ayhid commented on #292
Nevermind I was looking in the wrong place