[2019-04-08 12:43] #292 closed

[2019-04-11 14:57] ayhid commented on #282
It could be a solution to look at this package Swydo/ddp-apollo(https://github.com/Swydo/ddp-apollo#server-setup)
If I trust the description it seems that you can use DDP for GraphQL subscriptions.

I can do a PR for this.

[2019-04-14 20:14] tnedich commented on #273
Good evening, I have same problem. Also, when record is deleted from MongoDB there is no automatic update od UI. It creates some strange situation where I can see record (Document for example) that is non existant in database. Only "hard" refresh helps.

[2019-04-15 07:59] aferreol opened #293 "send-email always send .txt template"
Because of an old refractor (I don't remember which version) you went from this:

[code]

to this:

[code]

Meaning that you will always send the basic .txt template, even in the base.html template.

[2019-04-18 15:42] ayhid commented on #284
I can help with a PR for this, could it be a module under the `api` dir ?

[2019-04-18 16:30] ayhid commented on #124
I might be missing something but I can't find the documentation for after login redirection

[2019-04-29 18:00] cleverbeagle commented on #103
Changing my mind on this. I've found `react-i18next` to be quite easy to use. Going to add this to 3.0.

[2019-04-29 23:37] cleverbeagle commented on #124
Hi @ayhid this is documented here: https://cleverbeagle.com/pup/v2/routing/defining-routes#authenticated-authorized-and-public-routes.

It could use a bit more detail (it's mentioned but not walked through). Do you have a specific question about it?

[2019-04-29 23:40] cleverbeagle commented on #293
Thanks for the heads up @aferreol.

[2019-04-29 23:42] cleverbeagle commented on #284
Hey @ayhid, sure thing. I'd like to keep this in the `/startup/server/graphql.js` file where the call to `PupQL` is now. Here's an example of what needs to be done:

[code]

This omits websockets/subscriptions which I intend to whip up a separate solution for.

[2019-04-29 23:43] cleverbeagle commented on #273
@tnedich an example of how to temporarily resolve this is available here: https://github.com/cleverbeagle/pup/issues/284#issuecomment-487780775.

My plan is to remove PupQL and handle subscriptions via another means (I'm not happy with the Apollo implementation and have some ideas for how to improve it).

[2019-04-30 04:47] allenfuller commented on #281
I'm in the same boat. It may be an issue that I just don't understand how to configure the WebSocket uri in production? If anyone can offer some pointers, I'll gladly put together some documentation in a pull request.

[2019-05-06 08:34] kjp17 opened #294 "Layout Problem when opening website in new tab"
Something odds happens when open a new tab and load http://localhost:3000/.  It says "Warning: Did not expect server HTML to contain a` <nav> in <div>`".  it will cause the page layout to load incorrectly. So I loaded up vanilla pup and see if there's the same problem.

![screen_shot_2019-04-16_at_6 59 20_pm](https://user-images.githubusercontent.com/5260920/57214372-622ca900-701c-11e9-8b96-764896

[2019-05-06 08:56] ayhid commented on #284
By omiting websockets/subscriptions we should refactor the app parts that are using them, is it okay for you ?

[2019-05-06 09:00] ayhid commented on #281
@allenfuller I ended up integrating pupql into the boilerplate instead of a node module and omiting subscriptions from all my code.
Not the simplest solution to come up with but its worked for me.

[2019-05-06 12:58] cleverbeagle commented on #281
@allenfuller @ayhid's suggestion is best at the moment. The goal is to do what he's described and migrate the code for PupQL into Pup directly (see #284).

[2019-05-06 12:59] cleverbeagle commented on #284
Hi @ayhid, yes, for the time being. I'd like to bring them back once I can spend some more time figuring out a better solution.

[2019-05-06 13:00] cleverbeagle commented on #294
Hi @kjp17, can confirm this behavior. This has to do with the server side rendering producing a different result than the client.

[2019-05-06 14:56] allenfuller commented on #281
Thanks @cleverbeagle! I'll give that a shot.

@ayhid, have you already started on a PR for #284? If not, I'd be happy to work on it. Also, I noticed a few other places where static cleverbeagle resources are embedded in the boilerplate and you have to do some digging to customize (AWS links especially). I'd be happy to work on a PR to move those into a `Meteor.settings` file so they're easier to c

[2019-05-07 16:42] ayhid commented on #281
@allenfuller actually I've done all the changes for a project deployed with mup on AWS. But I did not started working on PR for the time being.

If you would like to start working on this I'd be happy to help.

[2019-05-15 09:40] NuruddinBadawi opened #295 "upload image feature"
hello cleverbeagle, I didn't finde other place to ask you
in my case I want to upload image during add mutation, so what do you suggest fo this ?

and maybe it's good to have it in pup as feature, what do you think ?

[2019-05-15 13:17] cleverbeagle commented on #295
Hi @NuruddinBadawi, image uploading won't be added to Pup, however, I'd recommend the [edgee:slingshot](https://atmospherejs.com/edgee/slingshot) package to simplify this and this tutorial:  https://themeteorchef.com/tutorials/uploading-files-to-amazon-s3-with-react

[2019-05-15 13:17] #295 closed

[2019-05-24 20:52] danyhiol commented on #273
I'm having a similar issue when performing more than 3 queries.
I need to perform 4 to 5 queries in a single. But when performing more than 2 queries, the last query gets stuck on `loading=true` and return `[Network error]: TypeError: Failed to fetch`.
I tried out the temporal fix mention above but the error still persists when performing more than 3 queries.

[2019-05-28 13:15] cleverbeagle commented on #273
@danyhiol the `loading: true` issue is a bug in Apollo that's come up a few times for other folks. The hack I've done to handle this is to automatically perform a refetch on `componentDidMount` or another lifecycle method (if your query is dependent on data coming through).

[2019-05-28 21:03] Falkovic1993 opened #296 "Email.send headers, not showing up in mailgun"
Hey Ryan,

First of, thanks for the awesome work you have done with Pup!

Not sure if this is related to Pup, or if there is something obvious I'm missing, but I'm having some problems sending custom headers into Mailgun, such as the `X-Mailgun-Variables` so I can access users variables from the webhooks there.

Here is my sendEmail code:
`return sendEmail({
    to: mail,
    from: from <test@mail

[2019-05-30 20:18] danyhiol commented on #273
@cleverbeagle you are right. I've been facing this problem for some days now. And no solution actually worked for me. I tried your solution using `react-hooks` (`useEffect`) since my app is refracted to `react functions` with no success. I end up with a temporary solution wish consist of using `setTimeout` functions to `execute refetch()` when `loading` is `true`.
I would like to know more about y

[2019-06-01 20:37] allenfuller commented on #283
I was _just_ about to open a ticket asking about this...  :)

Here's a few that seem to only be referenced within`package.json` butt not imported anywhere in Pup:

1. apollo-boost
2. apollo-link-ws (commented out in `startup/client/apollo.js`)
3. apollo-link-persisted-queries (commented out in `startup/client/apollo.js`)
4. graphql-subscriptions
5. node-fetch (lots of packages depend on it, so doe

[2019-06-02 15:34] cleverbeagle commented on #283
@allenfuller any help I can get would be greatly appreciated. Do you want to do a PR on this?

[2019-06-02 15:58] cleverbeagle commented on #296
Hey @Falkovic1993. I haven't tried this before, but the `sendEmail()` method doesn't do any filtering of this property. It's a wrapper around Meteor's `Email.send()` method which supposedly supports the `headers` field.

The options you pass to `sendEmail()` (the Pup function) are relayed directly to that call so they shouldn't be dropped in any way (see [here](https://github.com/cleverbeagle/pup/

[2019-06-04 10:49] Falkovic1993 commented on #296
Hey, @cleverbeagle thanks for getting back so quick!

I ended up using the mailgun API, my testing and understanding it should also be faster to just use the API instead of the SMTP. :)

So I never got to try out your suggestion.

[2019-06-06 22:12] wortkotze opened #297 "WebSocket connection failed"
`WebSocket connection to '<URL>' failed: WebSocket is closed before the connection is established.`

I receive a lot of times an WebSocket connection error.
Is there any way or an idea of an quickfix how I could deactivate the WebSocket. I think I would just need the Websockets for Subscriptions or ?

[2019-06-07 10:27] apikiakos commented on #297
Yes, you can comment the line
`  ApolloLink.split(...
` in the file
 startups/client/apollo.js

[2019-06-07 11:23] wortkotze commented on #297
thx I removed it but now I receive the following error
[Network error]: TypeError: forward is not a function

[2019-06-07 12:43] wortkotze commented on #297
ok I have it now running but now I receive the following:

`Error: You are calling concat on a terminating link, which will have no effect
    at new LinkError (apollo.js?hash=9dc327fc0e3a96e0abfe4ed35186adc091161011:140)
    at concat (apollo.js?hash=9dc327fc0e3a96e0abfe4ed35186adc091161011:265)
    at ApolloLink.concat (apollo.js?hash=9dc327fc0e3a96e0abfe4ed35186adc091161011:292)
    at modules.

[2019-06-10 12:46] cleverbeagle commented on #296
Sounds good, @Falkovic1993.

[2019-06-10 12:46] #296 closed

[2019-06-10 12:47] #297 closed

[2019-06-14 08:41] ayhid commented on #284
Hi @cleverbeagle I made a PR here #298  could you please review it when you have some time and tell me if you need me to change something?

[2019-06-16 17:22] #266 closed

[2019-06-16 17:22] #233 closed

[2019-06-16 17:28] #287 closed

[2019-06-16 17:44] #276 closed

[2019-06-16 18:00] #291 closed

[2019-06-16 18:47] cleverbeagle commented on #294
This appears to be resolved. Closing for now.

[2019-06-16 18:47] #294 closed

[2019-06-16 18:56] cleverbeagle commented on #273
Closed in favor of #284. Will likely move to a non-Apollo solution for subscriptions/real-time in the future.

[2019-06-16 18:56] #273 closed

[2019-06-16 19:04] #289 closed

[2019-06-16 19:14] #285 closed

[2019-06-16 19:57] cleverbeagle commented on #122
Re-opening this. I'd still like Fur to take over but realistically that's going to take some time. To avoid confusion and headaches, it's best to just migrate to Bootstrap v4.

[2019-06-16 20:02] cleverbeagle opened #299 "Fix non-existent sendVerificationEmail method being fired on signup"
The mutation exists for this but the old Meteor method is being used instead.

[2019-06-18 13:17] ayhid opened #300 "Is NewDocument Component used somewhere ?"
I can not find where this component `ui/pages/NewDocument/index.js` is used.
I have a hard time figuring out how the New Document feature works.
@cleverbeagle could you please give me some hints about it ?

Thanks a lot

[2019-06-18 14:13] ayhid commented on #193
I can work on this, actually I'll be implementing this for a project at work where I am using pup.
@cleverbeagle have you started working on this yet ?

[2019-06-18 14:14] ayhid commented on #261
it's an easy pick if no PR already exists for this I can do it.

[2019-06-18 14:39] cleverbeagle commented on #261
Sure, that'd be a big help! I'm looking to do a release this coming Monday (6/24).

[2019-06-18 14:41] cleverbeagle commented on #300
This needs to be deleted. It used to be in use before 2.0.

[2019-06-18 14:42] cleverbeagle commented on #193
@ayhid I haven't feel free to give it a spin.

[2019-06-18 15:20] ayhid commented on #300
PR #301

[2019-06-18 15:20] #300 closed

[2019-06-18 15:26] ayhid opened #302 "OAuthLoginButtons not synced with Meteor.settings.OAuth"
I do not know if it should be working this way, but on a new project I just needed email/password login so I disabled

Oauth settings like so

[code]
I assumed that it should be enough to disable login button but it seems that is not managed this way. (see attached screenshot
![pup-login](https://user-images.githubusercontent.com/235381/59697981-1100ff00-91ef-11e9-9ee6-98e23ff3c86a.png)
)

Is ther

[2019-06-18 18:21] nouboussijunior opened #303 "Not succeeding to start the project"
Hello.
I cloned the repo and tried to deploy it.
This is the error I am getting since:

`W20190618-19:19:49.780(1)? (STDERR) [Pup] Woof! OAuth settings are not configured. OAuth login will not function. See https://cleverbeagle.com/pup/v2/accounts/oauth#setting-oauth-credentials for configuration instructions.
W20190618-19:19:49.859(1)? (STDERR) C:\Users\Dell\AppData\Local\.meteor\packages\promise

[2019-06-18 18:28] ayhid commented on #303
@nouboussijunior could you please provide more information ? what command have you tried to run ?

[2019-06-18 18:33] nouboussijunior commented on #303
I just followed the readme.md from the repo
meteor npm install and when I try to run I get that error.

[2019-06-18 18:50] cleverbeagle commented on #303
This looks like a missing settings file. Did you start the app with `meteor npm start` or `meteor --settings settings-development.json`?

[2019-06-18 20:43] ayhid opened #304 "Warning: Prop `className` did not match when using theme"
I got this warning when trying to use Styled Components theming

[code]

in my Styled component

[code]
The warning disappears if I hard code the property.

Anyone has faced this before?

[2019-06-19 08:45] nouboussijunior commented on #303
I started with `npm run dev`
what should I have used ??

[2019-06-19 08:51] ayhid commented on #303
try `meteor npm run dev`

[2019-06-19 09:07] nouboussijunior commented on #303
Yeah it worked.
But please what is the difference ?

[2019-06-19 09:15] ayhid commented on #303
Perfect, it is explained here: [Cloning & Installing Dependencies](https://cleverbeagle.com/pup/v2/cloning-installing-dependencies)

[2019-06-19 09:21] nouboussijunior commented on #303
Thank you so much

[2019-06-19 09:21] #303 closed

[2019-06-20 17:36] ayhid commented on #302
@cleverbeagle after looking at the `OAuthButtons` component code I think that some bits could be refactored.

for example: `api/OAuth/queries.js` instead of:
[code]
could be:

[code]

what do you think?

[2019-06-23 16:24] cleverbeagle commented on #302
Nice refactor, dig it. The lack of use is likely an omission on my part and needs to be added.

[2019-06-24 12:27] cleverbeagle opened #307 "Fix manifest error"
`Error while trying to use the following icon from the Manifest: http://localhost:3000/apple-touch-icon-precomposed.png (Resource size is not correct - typo in the Manifest?)`

This is due to a mismatch in the /public/manifest.json file. The icon size is incorrect for the file that's included.

[2019-06-29 01:53] wortkotze opened #308 "File upload"
Hi,

I try to setup a fileupload with apollo-upload-client and server. but i dont get it to work any tips?

I changed already

  new createUploadLink({

added Upload

the client is sending the information but fails with 500

![Bildschirmfoto 2019-06-28 um 21 53 09](https://user-images.githubusercontent.com/1026043/60378337-2e07b000-99ef-11e9-8c35-fdb3bef18b77.png)
![Bildschirmfoto 2019-06-28 um 21

[2019-06-29 22:46] wortkotze commented on #308
I removed PupQL out of the sourcecode ... now its working with standard apollo client

[2019-06-29 22:47] #308 closed

[2019-07-12 13:38] cleverbeagle opened #309 "Review and Fix Inconsistencies"
I'm finding a lot of little inconsistencies in Pup as I work. Nothing major in terms of functionality, but definitely stuff that needs attention. It'd be worth doing a file-by-file sweep to fix these bits.

[2019-07-12 13:44] cleverbeagle opened #310 "Replace Meteor.defer with setTimeout in /modules/sendEmail.js"
Just bumped into this writing a test. A `setTimeout` of `0` will achieve the same thing but avoid mucking up tests with unnecessary mocks.

[2019-07-18 09:25] thebarty commented on #304
Seeing this too

[2019-07-18 09:27] thebarty commented on #302
just stumbled upon this myself. Please merge this in for future users

[2019-07-21 17:57] wortkotze commented on #122
Just wanted to ask if there is any ETA for a change to bootstrap 4?

[2019-07-21 21:09] cleverbeagle commented on #122
@wortkotze officially, no, but it's on my radar. Is it something you'd be open to helping with?

[2019-07-21 23:23] wortkotze commented on #122
I have a branch that’s already working on b4 but it seems to have a little bit more dependencies that we have to update.
What is your latest dev branch ? When I have some time I will see what I can do as it’s getting more and more complicated to get support for b3

[2019-07-22 03:29] wortkotze commented on #122
I checked it tonight, the most issues are coming from SSR. any plans to work on this that it works with never react and react-dom versions?

[2019-07-22 15:01] ayhid opened #311 "Redirect to specific route based on user role"
Hello, is there a way to perform this with the current pup version ?
Is there some documentation about the afterLoginPath props in route components ?

[2019-07-22 15:29] cleverbeagle commented on #311
Unofficially, yes. You could do it using a manual `history.push()` from something like the `/` route (or `<Index />` component), or piggyback on the existing `<Authenticated />` and `<Authorized />` components to do what you want.

I'd go for the latter as the bulk of the work is already done for you.

[2019-07-22 20:28] wortkotze commented on #122
I will try it out tonight. If someone has some infos how u want to build ssr including black and white list I.e via prop of the route etc would be helpfull

[2019-07-23 11:45] allenfuller opened #312 "Can we set context.user when server side rendering?"
Reading through the [docs on SSR](https://cleverbeagle.com/pup/v2/extras/server-side-rendering), I came across this line:

Looking at the code for Authenticated and Public routes, I'm not sure I understand why this is. Can you explain it and how we might be able to achieve SSR rendering w/ these kinds of routes?

Thanks!

[2019-07-23 12:50] cleverbeagle commented on #312
This is because there is no user present when the initial request comes into the server. For Meteor, the token for this is stored in local storage (not cookies like other forms of auth), so there's no way to know "who" is connecting until the client/browser loads up.

This means that the `<Authenticated />` component doesn't have an authenticated user and redirects like you'd expect a logged out u

[2019-07-23 13:08] allenfuller commented on #312
Awesome, thanks Ryan!

My use case is that I'm trying to use the `SEO` component within routes, but it won't render early enough. I've added a top-level `SEO` reference in `ui/layouts/App/index.js` that renders, but if I put one in a specific Authenticated route, it won't render in the page source, and thus won't work for the Facebook scraper.

One way I'm considering getting around it is to use s

[2019-07-23 15:22] wortkotze commented on #122
I migrated the actual pub version now tp bootstrap4 could u give me an branch where I can push it?

[2019-07-29 21:57] #214 closed

[2019-07-29 22:24] cleverbeagle opened #313 "Use Named Exports for Styles"
As I've used the `Styles.Component` syntax over the past few months, I've found it to be more confusing than just using the actual styled component name. Going to revert back to just using named exports for these.

[2019-07-29 22:42] cleverbeagle opened #314 "Fix linter errors"
Use list generated by `npm run lint:all`

[2019-07-29 22:45] #307 closed

[2019-07-29 22:47] #205 closed

[2019-07-29 22:53] #261 closed

[2019-07-29 23:02] cleverbeagle opened #315 "Apollo Alternatives"
😱

I know, I know.

Having gotten a little more hands on with Apollo over the past year, I've found a few things to be difficult, overly confusing, or buggy (cache issues require a lot of hands-on knowledge that's difficult to explain to mentees).

Because mentees at Clever Beagle rely on Pup, I want to see if there's a simpler alternative with less moving parts. Opening this to comments from anyo

[2019-07-29 23:17] cleverbeagle opened #316 "Algolia"
MongoDB's search functionality leaves a lot to desire. Having worked with Algolia, it hits that sweet spot of easy to use and good at its job.

I'd like to implement a simple example of using Algolia for searching documents and users. Showcase how to automatically re-index stuff, index stuff when adding/updating/removing, and performing searches.

[2019-07-29 23:31] #284 closed

[2019-07-29 23:32] #282 closed

[2019-07-30 00:15] #234 closed

[2019-07-30 01:08] cleverbeagle opened #317 "Improve rendering experience of ViewDocument"
Somebody was sleepy when he came up with this!

[2019-07-30 01:12] #263 closed

[2019-07-30 01:14] #272 closed

[2019-07-30 01:22] #299 closed

[2019-07-30 01:33] #293 closed

[2019-07-30 01:33] #310 closed

[2019-07-30 01:34] cleverbeagle commented on #264
This will be better handled by #316. Closing this one out.

[2019-07-30 01:34] #264 closed

[2019-07-30 01:45] #25 closed

[2019-07-30 02:40] #314 closed

[2019-07-30 02:46] #283 closed

[2019-07-30 03:09] #309 closed

[2019-07-30 03:32] cleverbeagle commented on #122
Hey @wortkotze, the best way to share your work is to submit a pull request to this repository. Instructions here: https://help.github.com/en/articles/creating-a-pull-request

[2019-07-30 03:35] wortkotze commented on #122
I would but I cant open a new branch ?

[2019-08-01 01:08] wortkotze commented on #122
[PR319](https://github.com/cleverbeagle/pup/pull/319)

[2019-08-04 02:12] cleverbeagle commented on #302
Resolved in 2.1.0. Closing er' up.

[2019-08-04 02:12] #302 closed

[2019-08-04 02:14] #253 closed

[2019-08-04 02:17] #311 closed

[2019-08-04 02:22] cleverbeagle commented on #312
Some thoughts on this...

If the point of the SSR is for the benefit of Google, then this will be impossible. The reason why is that Google would essentially need to have a user account that we could authenticate (for example, they'd pass a login token and we'd say "oh this is Google's user" and set them on the GraphQL context).

We *could* do this by having a user-agent check when rendering but u

[2019-08-05 18:09] wortkotze opened #320 "Allowed Login Attempts"
For us it is mandatory to prevent our accounts of too many failed login attempts.
We added a functionality to control how many LogIn Attempts are allowed and put it in the Admin UI to reset it.

If someone needs this aswell, please let me know then I can create a pullrequest for the newest version.
Probably our owner do it directly without a pullrequest :)

here is the logic for server startup.ser

[2019-08-05 22:29] cleverbeagle opened #321 "Write end-to-end tests for components"
We're making fundamental changes to components and it'd be good to have some end-to-end tests to check we're not breaking stuff.

[2019-08-05 22:47] cleverbeagle opened #322 "See where we can use react-hooks instead of class components"
h/t Peter D. for bringing this up...

Need to review components to see where React hooks would be more appropriate than class components.

[2019-08-05 22:50] cleverbeagle opened #323 "Fix <Validation /> component throwing error on styled-components"
This line `!React.Children.only(children) || children.type !== 'form'` was throwing an error when nesting a styled component that renders/returns a `<form />`.

[2019-08-05 23:15] #247 closed

[2019-08-05 23:15] cleverbeagle commented on #247
Closing this one...examples would be better suited for a REST API example.

[2019-08-05 23:16] #313 closed

[2019-08-06 21:40] ArchiCroc commented on #322
Hooks are great and now that Apollo has their hooks in beta, I took a stab at converting my pup fork over to use them. Take a look at this branch where I combined my various feature branches I've been tinkering with. https://github.com/ArchiCroc/pup/blob/feature/combined/ui/documents/Documents.js

[2019-08-09 23:54] cleverbeagle opened #324 "Add dynamic script loader"
Wrote a tutorial on this but it seems worth the inclusion! https://cleverbeagle.com/blog/articles/tutorial-how-to-load-third-party-scripts-dynamically-in-javascript

[code]

[2019-08-10 00:17] cleverbeagle opened #325 "The Meteor Question"
I often get asked "where is Meteor headed?"

Honestly, I don't know. I'm not the person to ask. I only know what you know.

_Technically_, my opinion is that, after having spent 5+ years with Meteor, it's at its best point ever. It _is_ past its hype cycle, though, which means that swarms of new developers picking it up is unlikely.

That Pup is based on Meteor can lead to concerns from developers

[2019-08-15 09:49] tnedich opened #326 "Real-time updates"
Good day,

I have written already about this issue but there was no clear solution or answer.
I am not expert but hobbyist. One of the meteor features is real time update of UI.
Again in version 2.1 of Pup (which h is great), there is no real time update. For example if two tabs are opened and in first one Document is added, that is not reflected in second tab.

If record (document) is deleted fro

[2019-08-16 16:55] cleverbeagle commented on #326
Hi @tnedich, at the moment real-time data is not enabled in Pup. The subscriptions implementation was removed in 2.1.0 due to unreliability and Meteor's publications and subscriptions are no longer used with the move to GraphQL in 2.0.0.

I'll be revisiting this in the future, though. Right now the recommendation is to rig up a websocket server/client set up to send data real-time (or, use Meteor'

[2019-08-18 15:04] barelabs commented on #326
First, thank you for this awesome boilerplate.  I'm new to this stack, and since this is based on Meteor, also assumed this had support for sending data in real time.  Question: Is there a reason why the subscriptions implementation was unreliable?  Also, would you know if the following resource is a possible solution:

https://www.apollographql.com/docs/apollo-server/features/subscriptions/

Than

[2019-08-18 15:44] cleverbeagle commented on #326
Hey @barelabs, primarily just a lack of understanding on my part. The link you shared was the method used but it was done in a convoluted way (I'd built the server implementation into an NPM package for re-use outside of Meteor which ended up being messier than necessary).

Not against having this as long as it's cleanly implemented and behaves as expected. Just need to spend some more time with i

[2019-08-18 16:10] barelabs commented on #326
Good to know.  Thanks for your explanation and clarification.  It helps a lot.  I definitely need real-time capabilities for my app, so I'll research this more and if I get this working reliably and in a clean way, I'll let you know.

[2019-08-19 12:24] cleverbeagle commented on #322
Hey @ArchiCroc, thanks for sharing. I'll take a look.

[2019-08-23 17:46] cleverbeagle commented on #315
Making a note: https://formidable.com/open-source/urql/docs/basics/

[2019-08-25 10:21] pisacode opened #327 "How to Connect to a react native app with pupql"

[2019-08-25 13:25] auBusinessDaD commented on #326
We would be super keen to see this as well.

[2019-08-25 14:13] cleverbeagle commented on #327
Hey @pisacode, you can connect your app using the Apollo React Native integration: https://www.apollographql.com/docs/react/recipes/react-native/. You can just point the connection to your server that's running PupQL/your GraphQL server (e.g., http://localhost:4000/graphql).

[2019-08-27 18:14] pilarArr commented on #122
Hey @wortkotze, I've seen your pull request for the migration to bootstrap 4, and I saw that there were a few things leftover from bootstrap 3, so I gave it a go at the migration. I'm going to create a pull request but I don't want to be overstepping anyone, so anyone feel free to discard this if I'm overstepping.
I'm going to tinker with React Hooks in Pup, but I just wanted to get the migration

[2019-08-28 13:44] tab00 commented on #122
Bootstrap 3 is ancient now, so I hope to see this one get done ASAP. It's one of the things holding me back from adopting pup.

[2019-08-29 07:59] tab00 opened #329 "compose is not a function"
After updating NPM packages to their latest versions I get the above error.

The offending code is in ui/pages/Documents/index.js.

[2019-08-29 13:03] cleverbeagle commented on #329
@tab00 what's the error? "compose is not a function?"

[2019-08-29 13:04] cleverbeagle commented on #329
@tab00 this sounds like an issue with Apollo. I know they just did a major upgrade which isn't supported by Pup yet. Going to close this for now.

[2019-08-29 13:04] #329 closed

[2019-08-29 23:03] allenfuller commented on #326
Since Ryan added the `feature` label to this discussion, I'll drop this in here as we've been working on re-introducing real-time to Pup. It uses Meteor's existing DDP connection instead of a separate websocket, so that's one less client/server connection per user. Might be of interest if anyone else gets to it first:

https://github.com/Swydo/ddp-apollo

[2019-08-30 14:12] tab00 commented on #329
`compose` has been moved out of react-apollo, so I think you just need to instead do:

`import compose from 'lodash.flowright';`

[2019-08-30 14:24] tab00 opened #330 "Update Apollo Client and Apollo Server Usage"
`dataSources` allows for better separation of db with the app, so that you could more quickly and easily switch db in future (e.g. to an SQL one).

See below new syntax for initializing ApolloServer with `dataSources` and `subscriptions`:

[code]

See full code of a simple working example app at https://github.com/tab00/test-meteor-apollo

[2019-08-30 17:15] cleverbeagle commented on #330
@tab00 where does data sources appear...in `context` of the resolver or somewhere else?

[2019-08-30 19:30] jeffreykrodgers commented on #308
I'm having the same problem, but I'm unsure of exactly how to remove PupQL without breaking everything. Any guidance would be appreciated

[2019-08-31 03:01] tab00 commented on #330
Yes, you get the `dataSources` in context in resolvers as you can see inhttps://github.com/tab00/test-meteor-apollo/blob/eac5c06316a3573e269bf553b526027cb5372b33/server/resolvers.js#L15

[2019-09-01 13:04] cleverbeagle commented on #308
@jeffreykrodgers if you take a look at the latest release, you should be able to copy these files and avoid any issues:

startup/server/graphql.js
startup/client/apollo.js

And in the /api/Documents/mutations.js file, remove any reference to the .publish() method.

Let me know if that helps/works!

[2019-09-02 17:48] jeffreykrodgers commented on #308
Many thanks my dude. In addition to your fix I also had to modify the api.js default export to match the latest release (use `makeExectuableSchema(schema)`) and that got it working.

I'm still having the same original problem as OP, but I don't think its pup's fault. I'll see if I can figure out why and report back.

[2019-09-02 18:43] jeffreykrodgers commented on #308
OPs solution, plus removing `uploads: false` from startup/server/graphql.js got me the last mile. Everythings working great :)

Thanks for all you do @cleverbeagle

[2019-09-02 21:14] cleverbeagle commented on #308
Good to hear you got this resolved @jeffreykrodgers :) Thanks for using Pup!

[2019-09-04 18:22] cleverbeagle commented on #330
Reviewing some of the changes now and it seems like a lot will be worthwhile. Specifically, re-implementing subscriptions and making use of hooks.

[2019-09-04 18:25] #315 closed

[2019-09-04 19:03] cleverbeagle commented on #330
https://www.apollographql.com/docs/apollo-server/features/file-uploads/

[2019-09-06 08:25] ayhid commented on #244
I've used both  https://github.com/vazco/uniforms/  and https://jaredpalmer.com/formik/ and I've to say the latter was a way more flexible when it comes to complex forms.

No each time I start a new pup project I remove the Validation component and install `formik` with `yup`

[2019-09-12 03:42] ajitgoel opened #331 "Application stuck when trying to run."
I have run the `meteor npm run dev `command to run the application but it is stuck at `Loading apollo@3.0.1...` step for a long long time(more than 20 minutes). I have stopped and started a couple of times and I still have the same issue.  Can someone please help?

Similarly for [pup v1x](https://cleverbeagle.com/pup/v1/getting-started#setting-your-own-origin-remote), running the command `meteor n

[2019-09-12 09:33] ayhid opened #332 "checkIfBlackListed does not work as expected!"
the newly added module `checkIfBlackListed` should return true if at least one url matches an entry in urls patterns array.

Actually if we add other entries in this array  the modules checks  against each entry and return the results of the last check. so even if the entry was black listed and not the other one the module will return false.

IMHO the module should be this way:
[code]

[2019-09-13 11:56] cleverbeagle commented on #331
Hi @ajitgoel, okay good! That error means that there was a JavaScript promise being called that failed, but didn't have the proper code for handling its error implemented. Based on the path, it doesn't look like it's coming from a file in Pup but rather a dependency. If you start making changes to the app and it restarts, does that error still show?

[2019-09-17 18:23] ayhid commented on #304
Hello @cleverbeagle any clues about this bug?
I can work on it and make a PR as I need it for a project.

[2019-09-18 01:47] ajitgoel commented on #331
Hello Ryan,
The errors do not show again, after I restart the application.

[2019-09-18 01:47] #331 closed

[2019-09-22 17:37] cleverbeagle commented on #304
@ayhid check this out: https://youtu.be/um-vfKY1ghU?t=1057

[2019-10-04 17:27] cleverbeagle opened #335 "Paste true may be necessary on e2e tests login helper"
import { ClientFunction, Selector } from 'testcafe';

export const login = async ({ email, password, browser }) => {
  await browser.typeText('[data-test="emailAddress"]', email, { paste: true });
  await browser.typeText('[data-test="password"]', password, { paste: true });
  await browser.click('button[type=submit]');
  await Selector('[data-test="user-nav-dropdown"]')(); // NOTE: If this exists

[2019-10-23 14:44] pagesrichie opened #336 "Incorporate Code Splitting for Pup V2 & client side Redux"
Hi Ryan!

First off - want to say - thanks so much on your work with Pup v2 and everything you're doing at CleverBeagle.  Had sent the following via an email and you had mentioned to place it as an issue so you wouldn't forget - so here goes:

I came across this solution where this guy found a way to get code splitting to work for Meteor / Apollo here: https://forums.meteor.com/t/can-i-use-meteor-

[2019-10-23 18:48] evolross commented on #336
How big is your bundle? Have you check with [bundle-visualizer](https://docs.meteor.com/packages/bundle-visualizer.html)? Have you tried [dynamic imports](https://docs.meteor.com/packages/dynamic-import.html)? If you get your client bundle down to 2.5MB (or less) you should be in good shape with load times.

My app has a bundle of 4MB and it takes two or three seconds to load on a new device.

[2019-10-24 10:43] ayhid commented on #336
I also got my bundle size split by half in two minutes just by using [react-loadable](https://github.com/jamiebuilds/react-loadable)

in `layouts/App/index.js`

I replaced most of the regular components imports by Lodable Components here is an example

[code]

[code]

it is a no brainer and can drastically reduce your bundle size.

IMHO this should be enabled by default on pup, why the heck do I l

[2019-10-24 13:02] cleverbeagle commented on #336
Happy to work this in

[2019-11-05 15:11] allenfuller opened #337 "Access Meteor settings file from Jest?"
Trying to run tests that include a test call to a third-party API, the key for which is obviously stored in a settings file.

However, Jest does not have access to Meteor's settings file. So.....

Any advice on how to run Pup tests with Jest that need to reference the Meteor settings file?

Thanks!

[2019-11-05 16:39] cleverbeagle commented on #337
Hey @allenfuller you just need to update the Meteor mock here: https://github.com/cleverbeagle/pup/blob/master/tests/__mocks__/meteor/meteor.js#L21

[2019-11-05 17:16] ayhid commented on #337
Having tests rely on third-party api is not usually a good thing.
you should consider mocking the api.

[2019-11-10 07:05] bardiaheshmati opened #338 "graphQL httpUri on staging and production settings"
i see that Apollo client is refering to GraphQL httpUri in the settings file in the development settings. how should i alter this for staging and production, would localhost work on both ?

`"httpUri": "http://localhost:3000/graphql"` or should i change it to the url that each enviroment is sitting att like "https://domain.com/graphql" ?

[2019-11-11 13:20] cleverbeagle commented on #338
Hi, @bardiaheshmati that's correct. Take a look at the docs on creating multiple settings files here: https://cleverbeagle.com/pup/v2/settings-configuration/settings-json. Just swap out URLs as necessary.

[2019-11-11 13:20] #338 closed

[2019-11-11 20:54] ldapmadguy commented on #320
Hello wortkotze,

Yeah surely I would be interested :)

Thanks.

[2019-12-07 06:50] consciousweb opened #340 "How to upgrade from v1-> v2"
I performed the upgrade as https://cleverbeagle.com/pup/v1/upgrading-pup instructs (resolved all conflicts etc) and im unable to access my meteor methods. What needs to be done get my v1 build upgraded to v2? I understand v2 relies on gql and other technologies, but can i not pull in my bulk meteor methods file and convert it over time?

[2019-12-09 01:10] cleverbeagle commented on #340
Howdy @conciousweb, you can pull your methods over, it will just take the time to do it. The underlying technology to support methods still exists in Pup, though.

Re: upgrading v1 and not being able to access methods, what errors do you get (or does stuff just not work)?

In general, because Pup isn't like a traditional package or library, an upgrade to a new major version means copy-pasting file

[2019-12-09 01:26] conciousweb commented on #340
I use a bulk methods file in a root server folder and all methods are simply not found.

[2019-12-09 14:25] cleverbeagle commented on #340
Is that file imported into `/startup/server/api.js`? If not, add it there and they should start working as expected.

[2019-12-24 07:33] pagesrichie commented on #336
@cleverbeagle Plz do let us know when you have any updates on this :)

[2019-12-25 13:29] sayjeyhi commented on #199
In my case it was because of using `PersistGate` and `react-loadable`. if you using this libraries, you could use preloadAll instead of preloadReady

[2020-01-08 04:16] WanielDeiss opened #342 "Add License File"
MIT License are at your website and in the package.json, but can you add a LICENSE file on the project root?
github can read this an interpret it

[2020-01-24 18:23] brillout opened #344 "Wildcard instead of GraphQL?"
Hi!

I'm curious, what do you think of using [Wildcard API](https://github.com/reframejs/wildcard-api#readme) instead of GraphQL?

As far as I can tell, Wildcard would be a better fit. What do you think?

[2020-01-24 18:36] cleverbeagle commented on #344
Hey @brillout thanks for sharing this! At this point Pup is locked in on GraphQL but I'm working on something new where Wildcard may come in handy.

[2020-01-24 18:36] #344 closed

[2020-01-24 18:42] brillout commented on #344
:+1: Can I know about this new project? :-)

[2020-01-24 19:01] cleverbeagle commented on #344
@brillout yeah! Can you shoot me an email (ryan.glover@cleverbeagle.com) so we can chat privately?

[2020-02-05 06:54] nbedevi commented on #327
Hey @cleverbeagle, how to make login and signup in Pup using GraphQL?
I want to use it in my mobile app.

[2020-02-05 14:02] cleverbeagle commented on #327
@nbedevi you will need to connect to Meteor using something like [ddp.js](https://www.npmjs.com/package/ddp.js) and then store the user's credentials in your mobile app's local storage.

[2020-02-05 14:12] nbedevi commented on #327
Sorry for asking again, what is the query should I send it to the server?

[2020-03-13 14:17] robguinness opened #345 "Upgrade to latest version of alanning:roles"
I just learned that Pup is using a pretty ancient version of `alanning:roles` (v1.2.19 whereas latest version is v3.2.2). Are there any plans to upgrade this package in the project? I think it is not so straight-forward. At least, I have not managed in one Pup-based project.

[2020-03-15 16:10] evolross commented on #345
Just an FYI the v3 of `alanning:roles` requires running not one, but two upgrade scripts on your databse. Both of which have [reported issues](https://forums.meteor.com/t/alanning-roles-v3-released/50799/18?u=evolross). And v3 now adds an entirely new database collection and publication and requires more trips to the database to do the same thing. There's some controversy on upgrading.  So FYI.

[2020-03-23 06:29] WanielDeiss opened #346 "is this repo still maintained?"
do you have the time to maintain this project?

[2020-03-23 18:52] cleverbeagle commented on #346
At the moment this project is on hold and I'm evaluating a move away from Meteor.

[2020-03-24 06:32] WanielDeiss commented on #346
thanks for your answer!
why do you want to move? and what do you have in m ind for a move?

[2020-03-24 14:35] cleverbeagle commented on #346
I'd like to just do a vanilla Node.js application so there are no ties to a specific framework.

The goal is to limit the "X is dead" drama or the constant need to jump to a new framework. I want Pup (and whatever its successor is) to be stable and focused on helping people just build stuff without having to constantly evaluate new tools that may or may not improve the ability to build products.

[2020-04-30 00:07] pagesrichie commented on #336
@ayhid Were you able to get this working successfully on a cleverbeagle pup v2 based project without any issues?

[2020-04-30 00:09] pagesrichie commented on #336
@ayhid , in reference to your comment (https://github.com/cleverbeagle/pup/issues/336#issuecomment-545859937) -- Were you able to get this working successfully on a cleverbeagle pup v2 based project without any issues?

[2020-05-27 07:59] inkiltie commented on #346
So sad to hear that MeteorChef, CleverBeagle will move away from Meteor.

But this comment gave me some bit hope that Pup will thrive: https://forums.meteor.com/t/why-not-meteor-in-2020/52847/33

And by the way, are there any updates on Fur? https://cleverbeagle.com/fur

[2020-05-27 12:55] cleverbeagle commented on #346
@inkiltie it is sad, but for the sake of my own sanity I think it's for the best 😂 I spent several years chasing Meteor's leadership around to no end and I'd rather move on. That said, Meteor as a _tool_ is still excellent and I'm still working with it daily.

Pup the repo isn't going anywhere, but I don't have any plans to do any major work on it (maybe some dependency bumps here and there or mer

[2020-05-27 22:36] inkiltie commented on #346
@cleverbeagle no matter what is going to happen next, thank you for the Pup. Personally, I think this is the best tool to build web apps of any difficulty even today. This is not only a boilerplate but literally a small and sturdy GUI-based CMS with full control over everything, e.g. just apply your styles and have a blog with markdown editor and comments. And I'm not even talking about accounts m

[2020-05-28 07:32] arthurkirsz commented on #346
Hey Ryan, Just wanted to add my contribution to this thread.
I have been designing, developing and maintaining a software based on Meteor and inspired from _base_ (wasnt even pup at that time !) for the past 3-4 years.

Your work at themeteorchef has been invaluable to me.
It taught me a lot about meteor, and I always enjoyed your "code style", the way you think and design stuffs. Anyway, wish you

[2020-05-28 09:37] anthonyferreol commented on #346
@cleverbeagle Same here, thanks for everything!  I have been using base, then pup, to create and maintain a web-based interface for a medium business (to handle all business-related things with the employees). You taught me many things and definitly shaped my career path! Wish you the best 🥰

[2020-05-28 16:58] evolross commented on #346
@cleverbeagle Same here. themeteorchef.com has been **invaluable** especially about four or five years ago when I first got started.  My Stripe code is still based on your articles.  Thanks so much everything. Hopefully you keep up with community work in some way. Fan of your blog and podcast too.

[2020-08-26 19:14] #254 closed

[2020-08-26 19:14] #256 closed

[2020-08-26 19:14] #269 closed

[2020-08-26 19:14] #271 closed

[2020-08-26 19:14] #304 closed

[2020-08-26 19:14] #312 closed

[2020-08-26 19:14] #316 closed

[2020-08-26 19:14] #317 closed

[2020-08-26 19:14] #320 closed

[2020-08-26 19:14] #321 closed

[2020-08-26 19:14] #322 closed

[2020-08-26 19:14] #323 closed

[2020-08-26 19:14] #324 closed

[2020-08-26 19:14] #325 closed

[2020-08-26 19:14] #326 closed

[2020-08-26 19:14] #327 closed

[2020-08-26 19:14] #330 closed

[2020-08-26 19:14] #332 closed

[2020-08-26 19:14] #335 closed

[2020-08-26 19:14] #336 closed

[2020-08-26 19:14] #337 closed

[2020-08-26 19:14] #340 closed

[2020-08-26 19:14] #342 closed

[2020-08-26 19:14] #345 closed

[2020-08-26 19:14] #346 closed

[2020-08-26 19:14] #30 closed

[2020-08-26 19:14] #103 closed

[2020-08-26 19:14] #122 closed

[2020-08-26 19:14] #128 closed

[2020-08-26 19:14] #185 closed

[2020-08-26 19:14] #193 closed

[2020-08-26 19:14] #210 closed

[2020-08-26 19:14] #222 closed

[2020-08-26 19:14] #227 closed

[2020-08-26 19:14] #244 closed

[2020-08-26 19:14] #252 closed

[2020-08-26 19:41] pagesrichie commented on #336
Were you able to successfully incorporate code splitting? :)

On Wed, Aug 26, 2020 at 3:14 PM Clever Beagle <notifications@github.com>
wrote:

--
*Richie Pages*
*Web developer/founder/writer*

[2020-08-26 19:41] sw-yx commented on #128
hey Ryan! hope you are well!!

[2020-08-26 20:35] cheatcode commented on #336
@pagesrichie stay tuned :)

[2020-08-26 21:24] pagesrichie commented on #336
Looking forward to it!  I hope you know that this repo is a godsend and
you've done wonders in creating an all-out package for webdevs.  I do hope
you continue to maintain/update the repo.

On Wed, Aug 26, 2020 at 4:35 PM cheatCode <notifications@github.com> wrote:

--
*Richie Pages*
*Web developer/founder/writer*

[2021-01-17 23:07] auBusinessDaD opened #351 "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3000/graphql. (Reason: CORS request did not succeed)."
Hey Team,

Trying to get this running on my local machine and use within my network, but on any device (other than the one hosting it - i.e. localhost) I get the error "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3000/graphql. (Reason: CORS request did not succeed)." when it is deplyed using "npm run dev".

I have quite literally j

[2021-01-17 23:10] rglover commented on #351
Hey @auBusinessDaD, to clarify are you trying to run the app on a remote machine (deploying to staging or production) and getting that error or just on your local machine?

[2021-01-17 23:24] auBusinessDaD commented on #351
Thanks for the quick response!

I have just created a machine using one of my old computers (locally at home) running Ubuntu and a fresh clone of Pup.

I can deploy a normal meteor app in this way, but wanted to use your amazing boilerplate - just need to overcome this cross-origin issue when I use the "npm run dev" and then try to login from my laptop. The home page loads fine, it is only when I

[2021-01-18 00:28] rglover commented on #351
In order for that to work you will need to rely on the IP address of the old computer running the app (even though it's in your local network, your computer will treat it as an external site).

One thing to try would be getting the IP address of the computer the app is running on and then update [this value](https://github.com/cleverbeagle/pup/blob/master/settings-development.json#L4) in your sett

[2021-01-18 02:29] auBusinessDaD commented on #351
Thanks Ryan, you sir are a gentlemen!

It resolved the first cross-origin issue, the second is with the dynamic-import - "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3000/__meteor__/dynamic-import/fetch. (Reason: CORS request did not succeed).") which I am looking into now. I didn't realise it had two cross-origin issues.

[2021-01-18 02:41] auBusinessDaD commented on #351
AND... we have lift off!!!

https://github.com/meteor/meteor/issues/10384

Anyway, this is fixed in `dynamic-imports@0.5.3` with [#11105](https://github.com/meteor/meteor/pull/11105), simply upgrade and add the following to your settings.json:

[code]

[2021-01-18 02:41] #351 closed

[2021-02-16 00:57] auBusinessDaD opened #352 "Adding gql property to type user"
Hey there,
I am trying to add a new property to the user type query in \ui\queires\users.gql and every time I change the property in there it break the who users gql functions.
I have added the property everywhere I can find - startup, api and ui, an when I remove the property from the \ui\queires\users.gql file everything is working AND I can use the use the playground to see the property on user

[2021-02-17 02:10] auBusinessDaD commented on #352
I had thought it was something to do with the Apollo or cache, but even when I spin up brand new implementations it still doesn't like it.

[2021-02-17 14:44] cleverbeagle commented on #352
When do you see the 400 error? Automatically on server startup or only when making requests? If only when making requests, double-check the arguments for the query match in your schema as well as on the client (e.g., is an arg required in the schema but not in the client).

Something like:

[code]

Also worth making sure that in your startup/client/apollo.js file, in the `onError` callback, you're

[2021-02-18 01:03] auBusinessDaD commented on #352
Get no notifications in the terminal that there is an issue. Only get the issue when I go to a page that uses the call - so it doesn't load and the console shows the following error;
![image](https://user-images.githubusercontent.com/22830607/108288195-4a69e900-71e0-11eb-8813-74c9da2a5073.png)

[code]

As for Apollo, that does have an error link - but I don't see anything in the console whent he e

[2021-02-26 16:27] odesey opened #353 "Password only oauth possible?"
I just tried testing this project locally and setup my `settings-development.js` as follows:

[code]

I cannot navigate to the Signup or login page, when I attempt to do this I get the following error:
[code]
Is it possible to run this project with only email\password authentication?

Thanks.

[2021-03-02 14:18] cleverbeagle commented on #353
@odesey, yes, it should work fine with email/password only. When you start your server up, make sure that you're passing this settings file with either `npm run dev` or `meteor --settings settings-development.json`.

If that doesn't work, let me know here.

[2021-03-02 16:36] odesey commented on #353
Yes, i tried starting the app with the settings you mentioned, and got the same error mentioned in the initial issue.

[2021-03-02 17:07] odesey commented on #353
1. Latest version, I ran the following command `git clone https://github.com/cleverbeagle/pup.git`
2. MacOS 10.15.7
3. `npm run dev`
4. Also tried upgrading Meteor with `meteor update` and got the same error

[2021-03-02 17:09] odesey commented on #353
![Screen Shot 2021-03-02 at 12 04 44 PM](https://user-images.githubusercontent.com/3899366/109686295-239ca280-7b50-11eb-8eab-f2906f9e6926.png)

Added screenshot of error.

[2021-03-02 17:18] rglover commented on #353
I see it. It looks like the port is being set as `4500` but the expectation of the default settings is that you're running the app on port `3000`. Are you running anything like `npm run dev --port 4500`?

[2021-03-02 17:41] odesey commented on #353
So I was indeed running this on port 4500 but changing the following:
`"dev": "meteor --settings settings-development.json --port 4500"`

I had another server running on port 3000

Removing the `--port 4500` seems to have resolved the issue.

What other changes do I need to make in order to run pup on a port other than `3000`?

Thanks for the help!

[2021-03-02 17:45] rglover commented on #353
Okay cool. If you *do* want to use a different port, just make sure to update the `public.graphQL.httpUri` in your settings file to use `:4500` (or whatever port you'd like) instead of `3000`.

[2021-03-02 17:54] odesey commented on #353
Awesome, that works.

Thanks for your help!

[2021-03-02 17:54] #353 closed

[2021-03-08 01:04] auBusinessDaD commented on #352
OH... MY... GOH!!

Turns out, I am just an idiot. The issue was not with my code. Everything was right - and I could see that in the above. BUT, and wait for the face palm, because I am using docker images sitting side by side for the real site and the dev site I change some settings manually AND this is where the rub is. YES, I changed the code correctly and even got everything looking sexy (even

[2021-03-08 01:04] #352 closed

[2021-03-16 17:18] cleverbeagle opened #354 "Pup is moving!"
Howdy, folks.

As of today, Clever Beagle is rebranding as CheatCode (@cheatcode).

As part of the rebrand, we're moving away from solely working with Meteor and expanding to the broader JavaScript ecosystem. We'll still be working with Meteor (don't worry), but Pup won't be moved over to CheatCode just yet—we want to do a full update to Meteor 2.0 and take a closer look at how everything is built

[2021-03-30 05:34] steinitz opened #356 "Apollo version and hooks"
Hi,

Thanks again for sharing Pup.  It's awesome and continues to stands alone in providing this breadth of full-stack superpowers.  I was pleased to discover that you intend to continue work on Pup, including an upgrade to Meteor 2.  Bravo.

On the topic of upgrades, I'm in the middle of upgrading Apollo, in Pup, to allow use of the useMutation hook and its friends.  I'm stuck in module hell and

[2021-03-30 12:56] cleverbeagle commented on #356
@steinitz can you share more details about what errors you're running into?

[2021-03-30 23:08] steinitz commented on #356
Thanks for your reply.

I've solved the build problems.  But, to answer your question, I'm not sure how enlightening my current runtime error is in the grand scheme of things (TypeError: graphql is not a function).  I guess it's more that, having updated the Apollo libraries, I'm not seeing light at the end of the tunnel and so starting to second guess my idea to migrate to the useMutation hook et